### Prerequisites for running notebook

In [2]:
!pip install kora -q

     |████████████████████████████████| 57 kB 5.4 MB/s
     |████████████████████████████████| 60 kB 7.5 MB/s

In [1]:
##Standard imports for project
import pandas as pd
import numpy as np
from datetime import datetime

#Functions for use
from sklearn.base import clone

#models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

#Evaluation
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, StratifiedKFold, KFold
from sklearn.metrics import mean_absolute_error, accuracy_score

#Feature selection
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.feature_selection import RFE
from sklearn.feature_selection import RFECV

#Hyperparameter optimization
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

## Required execution for notebook

The below verifies if the notebook is being executed in a local environment (Anaconda) or if the notebook is being hosted (Google Drive), and sets certain variables based on the requirement ("cwd" being the reference of the project directory; the notebook is always assumed to be executed at the root or the highest level of the project folder)

In [2]:
#Red pill or blue pill

import os

is_drive = False
cwd = os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "/Datasets/"

while True:
  offon = input("Is this being run offline? (Y = offline (i.e. Jupyter notebook), N = online (i.e. Google Colab notebook)): ")
  try:
    if offon.lower() not in ["y", "n"]:
      raise ValueError
    else:
      if offon.lower() == "n":
        from google.colab import drive
        from kora import drive as drives
        drive.mount('/content/drive')
        is_drive = True
        cwd = str(drives.chdir_notebook())
        cwd = os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "/Datasets/"
      break
  except ValueError:
    print("Error! Please only type one of the following: Y, y, N, n")

Is this being run offline? (Y = offline (i.e. Jupyter notebook), N = online (i.e. Google Colab notebook)): Y

In [2]:
import os
cwd = os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "/Datasets/"

In [61]:
df1 = pd.read_csv(cwd+"milk dataset 1.csv")
df2 = pd.read_csv(cwd+"milk dataset 2.csv")
dfn = pd.read_csv(cwd+"netherlands dataset output.csv")

df1

In [62]:
df1

,Unnamed: 0,Year,Month,Average price of raw milk from Ireland (Euro per 100kg),Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),...,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk sales (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (Million litres)
0,0,2014,1,42.34,4.4,329.0,2.3,49.4,300.0,302.0,...,498.38,597.40,704.50,789.13,867.04,38.8,252.0,16.9,0.0,23.5
1,1,2014,2,41.76,6.2,329.0,6.5,45.4,303.0,303.0,...,506.55,612.72,704.99,790.58,884.23,37.6,248.0,15.4,0.8,21.3
2,2,2014,3,39.04,14.4,305.0,18.4,48.6,290.0,288.0,...,497.04,588.64,682.82,789.94,906.31,40.8,244.0,18.7,3.9,25.4
3,3,2014,4,38.55,17.3,313.0,22.8,49.3,276.0,289.0,...,472.67,589.84,689.85,806.49,908.97,43.6,233.0,15.0,6.5,21.9
4,4,2014,5,37.10,21.7,315.0,24.8,48.8,284.0,292.0,...,509.21,595.29,691.55,808.22,893.82,51.1,240.0,17.4,11.9,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,91,2021,8,39.23,28.8,355.0,29.3,53.3,316.0,324.0,...,480.00,598.07,689.20,801.61,913.59,0.0,293.0,15.8,16.4,29.0
92,92,2021,9,42.44,26.5,360.0,33.2,55.7,323.0,332.0,...,450.74,570.54,694.88,804.71,915.68,0.0,299.0,15.1,11.1,26.6
93,93,2021,10,46.52,21.6,365.0,27.5,53.5,328.0,339.0,...,516.00,529.67,656.53,777.37,890.95,0.0,309.0,15.8,5.5,26.1
94,94,2021,11,48.65,17.8,370.0,20.9,55.9,333.0,344.0,...,419.66,547.42,641.39,762.83,888.34,0.0,314.0,15.4,0.0,25.5
95,95,2021,12,48.46,12.2,374.0,7.5,46.0,341.0,350.0,...,490.37,623.57,693.47,806.00,912.35,0.0,323.0,15.0,7.4,25.2

In [63]:
df2

,Unnamed: 0,Year,Month,Average price of raw milk from Ireland (Euro per 100kg),Butter (Thousand tonnes),Cheese (Thousand tonnes),Domestic milk intake (Million litres),Fat content (Percent),Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (Million litres),Skimmed & semi-skimmed milk sales (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (Million litres)
0,0,2007,1,28.30,3.8,1.3,123.0,3.87,363.58,431.76,520.38,574.80,661.13,54.6,12.3,2.4,32.1
1,1,2007,2,27.18,5.0,2.4,185.4,3.87,386.08,462.94,539.81,587.47,646.99,38.0,12.6,1.9,29.3
2,2,2007,3,25.64,10.1,10.2,386.5,3.80,409.33,474.93,539.83,603.81,670.93,35.8,12.8,5.0,32.4
3,3,2007,4,27.29,14.8,17.6,581.0,3.59,399.75,457.74,535.86,625.49,690.35,38.7,12.1,10.1,30.4
4,4,2007,5,29.76,19.1,19.3,688.3,3.62,398.11,461.66,536.39,607.95,673.32,46.9,12.8,13.2,31.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,175,2021,8,39.23,28.8,29.3,917.4,4.19,480.00,598.07,689.20,801.61,913.59,0.0,15.8,16.4,29.0
176,176,2021,9,42.44,26.5,33.2,776.7,4.43,450.74,570.54,694.88,804.71,915.68,0.0,15.1,11.1,26.6
177,177,2021,10,46.52,21.6,27.5,652.8,4.77,516.00,529.67,656.53,777.37,890.95,0.0,15.8,5.5,26.1
178,178,2021,11,48.65,17.8,20.9,460.6,4.90,419.66,547.42,641.39,762.83,888.34,0.0,15.4,0.0,25.5
179,179,2021,12,48.46,12.2,7.5,256.3,4.74,490.37,623.57,693.47,806.00,912.35,0.0,15.0,7.4,25.2

In [64]:
dfn

,Unnamed: 0,Year,Month,Volume (Thousand tonnes),Fat content (Percent),Butter (Thousand tonnes),Cheese (Thousand tonnes),Skimmed-milk powder (Thousand tonnes),Concentrated milk (Thousand tonnes)
0,0,2011,1,996.942,4.56,12.130,65.490,6.402,28.106
1,1,2011,2,913.932,4.52,10.194,58.800,4.254,29.770
2,2,2011,3,1006.645,4.52,10.427,66.373,4.245,30.161
3,3,2011,4,1009.174,4.39,10.274,63.096,5.559,31.287
4,4,2011,5,1029.062,4.28,11.098,65.061,6.264,32.218
...,...,...,...,...,...,...,...,...,...
127,127,2021,8,1123.391,4.29,10.956,76.877,5.583,32.654
128,128,2021,9,1064.517,4.34,9.105,74.810,6.392,31.881
129,129,2021,10,1087.524,4.47,11.243,77.558,5.545,31.831
130,130,2021,11,1059.600,4.53,9.579,75.359,8.460,31.664
131,131,2021,12,1121.498,4.56,11.967,78.314,8.169,31.290

In [65]:
df1 = df1[df1.columns[1:]]

In [66]:

df2 = df2[df2.columns[1:]]
dfn = dfn[dfn.columns[1:]]

In [67]:
df1

,Year,Month,Average price of raw milk from Ireland (Euro per 100kg),Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake (Million litres),...,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk sales (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (Million litres)
0,2014,1,42.34,4.4,329.0,2.3,49.4,300.0,302.0,132.0,...,498.38,597.40,704.50,789.13,867.04,38.8,252.0,16.9,0.0,23.5
1,2014,2,41.76,6.2,329.0,6.5,45.4,303.0,303.0,214.0,...,506.55,612.72,704.99,790.58,884.23,37.6,248.0,15.4,0.8,21.3
2,2014,3,39.04,14.4,305.0,18.4,48.6,290.0,288.0,470.7,...,497.04,588.64,682.82,789.94,906.31,40.8,244.0,18.7,3.9,25.4
3,2014,4,38.55,17.3,313.0,22.8,49.3,276.0,289.0,697.0,...,472.67,589.84,689.85,806.49,908.97,43.6,233.0,15.0,6.5,21.9
4,2014,5,37.10,21.7,315.0,24.8,48.8,284.0,292.0,785.5,...,509.21,595.29,691.55,808.22,893.82,51.1,240.0,17.4,11.9,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2021,8,39.23,28.8,355.0,29.3,53.3,316.0,324.0,917.4,...,480.00,598.07,689.20,801.61,913.59,0.0,293.0,15.8,16.4,29.0
92,2021,9,42.44,26.5,360.0,33.2,55.7,323.0,332.0,776.7,...,450.74,570.54,694.88,804.71,915.68,0.0,299.0,15.1,11.1,26.6
93,2021,10,46.52,21.6,365.0,27.5,53.5,328.0,339.0,652.8,...,516.00,529.67,656.53,777.37,890.95,0.0,309.0,15.8,5.5,26.1
94,2021,11,48.65,17.8,370.0,20.9,55.9,333.0,344.0,460.6,...,419.66,547.42,641.39,762.83,888.34,0.0,314.0,15.4,0.0,25.5
95,2021,12,48.46,12.2,374.0,7.5,46.0,341.0,350.0,256.3,...,490.37,623.57,693.47,806.00,912.35,0.0,323.0,15.0,7.4,25.2

In [68]:
df1.columns

Index(['Year', 'Month',
       'Average price of raw milk from Ireland (Euro per 100kg)',
       'Butter (Thousand tonnes)',
       'Calf nuts and cubes (16-18% protein) (Euro per Tonne)',
       'Cheese (Thousand tonnes)', 'Cow slaughterings (Thousand tonnes)',
       'Dairy meal (16-18% protein) (Euro per Tonne)',
       'Dairy nuts and cubes (16-18% protein) (Euro per Tonne)',
       'Domestic milk intake (Million litres)', 'Fat content (Percent)',
       'Heifers 200-249kg', 'Heifers 250-299kg', 'Heifers 300-349kg',
       'Heifers 350-399kg', 'Heifers 400-449kg',
       'Imported milk intake (Million litres)', 'Maize meal (Euro per Tonne)',
       'Skimmed & semi-skimmed milk sales (Million litres)',
       'Skimmed milk powder (Thousand tonnes)',
       'Whole milk sales (Million litres)'],
      dtype='object')

In [69]:
translations = {"Average price of raw milk from Ireland (Euro per 100kg)": "Raw milk price",
               "Butter (Thousand tonnes)": "Butter",
                "Cheese (Thousand tonnes)": "Cheese",
               "Calf nuts and cubes (16-18% protein) (Euro per Tonne)": "Calf nuts value",
               "Dairy meal (16-18% protein) (Euro per Tonne)": "Dairy meal value",
               "Dairy nuts and cubes (16-18% protein) (Euro per Tonne)": "Dairy nuts value",
               "Domestic milk intake (Million litres)": "Domestic milk intake",
               "Imported milk intake (Million litres)": "Imported milk intake",
               "Maize meal (Euro per Tonne)": "Maize meal value",
               "Skimmed & semi-skimmed milk sales (Million litres)": "Skimmed milk sales",
               "Skimmed milk powder (Thousand tonnes)": "Skimmed milk powder",
               "Whole milk sales (Million litres)": "Whole milk sales",
               "Skimmed-milk powder (Thousand tonnes)": "Skimmed milk powder",
               "Volume (Thousand tonnes)": "Milk production volume",
               "Concentrated milk (Thousand tonnes)": "Whole milk sales"}

In [70]:
df1 = df1.rename(translations, axis=1)

In [71]:
df1

,Year,Month,Raw milk price,Butter,Calf nuts value,Cheese,Cow slaughterings (Thousand tonnes),Dairy meal value,Dairy nuts value,Domestic milk intake,...,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake,Maize meal value,Skimmed milk sales,Skimmed milk powder,Whole milk sales
0,2014,1,42.34,4.4,329.0,2.3,49.4,300.0,302.0,132.0,...,498.38,597.40,704.50,789.13,867.04,38.8,252.0,16.9,0.0,23.5
1,2014,2,41.76,6.2,329.0,6.5,45.4,303.0,303.0,214.0,...,506.55,612.72,704.99,790.58,884.23,37.6,248.0,15.4,0.8,21.3
2,2014,3,39.04,14.4,305.0,18.4,48.6,290.0,288.0,470.7,...,497.04,588.64,682.82,789.94,906.31,40.8,244.0,18.7,3.9,25.4
3,2014,4,38.55,17.3,313.0,22.8,49.3,276.0,289.0,697.0,...,472.67,589.84,689.85,806.49,908.97,43.6,233.0,15.0,6.5,21.9
4,2014,5,37.10,21.7,315.0,24.8,48.8,284.0,292.0,785.5,...,509.21,595.29,691.55,808.22,893.82,51.1,240.0,17.4,11.9,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2021,8,39.23,28.8,355.0,29.3,53.3,316.0,324.0,917.4,...,480.00,598.07,689.20,801.61,913.59,0.0,293.0,15.8,16.4,29.0
92,2021,9,42.44,26.5,360.0,33.2,55.7,323.0,332.0,776.7,...,450.74,570.54,694.88,804.71,915.68,0.0,299.0,15.1,11.1,26.6
93,2021,10,46.52,21.6,365.0,27.5,53.5,328.0,339.0,652.8,...,516.00,529.67,656.53,777.37,890.95,0.0,309.0,15.8,5.5,26.1
94,2021,11,48.65,17.8,370.0,20.9,55.9,333.0,344.0,460.6,...,419.66,547.42,641.39,762.83,888.34,0.0,314.0,15.4,0.0,25.5
95,2021,12,48.46,12.2,374.0,7.5,46.0,341.0,350.0,256.3,...,490.37,623.57,693.47,806.00,912.35,0.0,323.0,15.0,7.4,25.2

In [72]:
df2 = df2.rename(translations, axis=1)
dfn = dfn.rename(translations, axis=1)

In [73]:
df2

,Year,Month,Raw milk price,Butter,Cheese,Domestic milk intake,Fat content (Percent),Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake,Skimmed milk sales,Skimmed milk powder,Whole milk sales
0,2007,1,28.30,3.8,1.3,123.0,3.87,363.58,431.76,520.38,574.80,661.13,54.6,12.3,2.4,32.1
1,2007,2,27.18,5.0,2.4,185.4,3.87,386.08,462.94,539.81,587.47,646.99,38.0,12.6,1.9,29.3
2,2007,3,25.64,10.1,10.2,386.5,3.80,409.33,474.93,539.83,603.81,670.93,35.8,12.8,5.0,32.4
3,2007,4,27.29,14.8,17.6,581.0,3.59,399.75,457.74,535.86,625.49,690.35,38.7,12.1,10.1,30.4
4,2007,5,29.76,19.1,19.3,688.3,3.62,398.11,461.66,536.39,607.95,673.32,46.9,12.8,13.2,31.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,2021,8,39.23,28.8,29.3,917.4,4.19,480.00,598.07,689.20,801.61,913.59,0.0,15.8,16.4,29.0
176,2021,9,42.44,26.5,33.2,776.7,4.43,450.74,570.54,694.88,804.71,915.68,0.0,15.1,11.1,26.6
177,2021,10,46.52,21.6,27.5,652.8,4.77,516.00,529.67,656.53,777.37,890.95,0.0,15.8,5.5,26.1
178,2021,11,48.65,17.8,20.9,460.6,4.90,419.66,547.42,641.39,762.83,888.34,0.0,15.4,0.0,25.5
179,2021,12,48.46,12.2,7.5,256.3,4.74,490.37,623.57,693.47,806.00,912.35,0.0,15.0,7.4,25.2

In [74]:
dfn

,Year,Month,Milk production volume,Fat content (Percent),Butter,Cheese,Skimmed milk powder,Whole milk sales
0,2011,1,996.942,4.56,12.130,65.490,6.402,28.106
1,2011,2,913.932,4.52,10.194,58.800,4.254,29.770
2,2011,3,1006.645,4.52,10.427,66.373,4.245,30.161
3,2011,4,1009.174,4.39,10.274,63.096,5.559,31.287
4,2011,5,1029.062,4.28,11.098,65.061,6.264,32.218
...,...,...,...,...,...,...,...,...
127,2021,8,1123.391,4.29,10.956,76.877,5.583,32.654
128,2021,9,1064.517,4.34,9.105,74.810,6.392,31.881
129,2021,10,1087.524,4.47,11.243,77.558,5.545,31.831
130,2021,11,1059.600,4.53,9.579,75.359,8.460,31.664
131,2021,12,1121.498,4.56,11.967,78.314,8.169,31.290

#

In [75]:
df1["Milk production volume"] = [x+y for (x,y) in zip(df1["Domestic milk intake"],
                                                     df1["Imported milk intake"])]

In [76]:
df1["Milk production volume"]

0     170.8
1     251.6
2     511.5
3     740.6
4     836.6
      ...
91    917.4
92    776.7
93    652.8
94    460.6
95    256.3
Name: Milk production volume, Length: 96, dtype: float64

In [77]:
df2["Milk production volume"] = [x+y for (x,y) in zip(df2["Domestic milk intake"],
                                                     df2["Imported milk intake"])]

In [78]:
dfn["Milk production volume"] = [x*.971164 for x in dfn["Milk production volume"]]
dfn["Whole milk sales"] = [x*.971164 for x in dfn["Whole milk sales"]]

In [79]:
dfn["Milk production volume"]

0       968.194180
1       887.577857
2       977.617385
3       980.073459
4       999.387968
          ...
127    1090.996897
128    1033.820588
129    1056.164158
130    1029.045374
131    1089.158484
Name: Milk production volume, Length: 132, dtype: float64

### Target value

Cost of raw milk

# Tests

### Test 1 (on df1)

In [29]:
X = df1[(list(df1.columns[3:-1]))+["Month"]]
y = df1["Raw milk price"]

stratify = df1["Month"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22122,
                                                    stratify=stratify)

In [30]:
X

,Butter,Cheese,Domestic milk intake,Fat content (Percent),Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake,Skimmed milk sales,Skimmed milk powder,Month
0,3.8,1.3,123.0,3.87,363.58,431.76,520.38,574.80,661.13,54.6,12.3,2.4,1
1,5.0,2.4,185.4,3.87,386.08,462.94,539.81,587.47,646.99,38.0,12.6,1.9,2
2,10.1,10.2,386.5,3.80,409.33,474.93,539.83,603.81,670.93,35.8,12.8,5.0,3
3,14.8,17.6,581.0,3.59,399.75,457.74,535.86,625.49,690.35,38.7,12.1,10.1,4
4,19.1,19.3,688.3,3.62,398.11,461.66,536.39,607.95,673.32,46.9,12.8,13.2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,28.8,29.3,917.4,4.19,480.00,598.07,689.20,801.61,913.59,0.0,15.8,16.4,8
176,26.5,33.2,776.7,4.43,450.74,570.54,694.88,804.71,915.68,0.0,15.1,11.1,9
177,21.6,27.5,652.8,4.77,516.00,529.67,656.53,777.37,890.95,0.0,15.8,5.5,10
178,17.8,20.9,460.6,4.90,419.66,547.42,641.39,762.83,888.34,0.0,15.4,0.0,11
179,12.2,7.5,256.3,4.74,490.37,623.57,693.47,806.00,912.35,0.0,15.0,7.4,12

In [31]:
X_train

,Butter,Cheese,Domestic milk intake,Fat content (Percent),Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake,Skimmed milk sales,Skimmed milk powder,Month
116,18.5,21.9,583.8,4.33,435.00,566.38,669.24,750.59,855.62,56.7,17.2,7.7,9
38,10.1,15.5,382.1,3.89,374.87,452.19,515.64,583.73,657.74,33.9,15.4,1.3,3
155,10.9,5.4,241.4,4.58,449.38,493.91,601.98,720.53,831.40,0.0,16.1,10.2,12
160,29.8,31.6,1115.3,3.87,593.33,661.74,741.01,853.84,903.46,0.0,15.7,24.6,5
93,13.5,14.8,426.3,4.49,508.42,584.94,679.65,774.27,863.35,37.4,16.5,0.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,20.3,23.3,699.3,4.08,540.33,605.63,696.53,785.09,884.48,50.8,18.2,11.0,8
48,4.0,2.5,146.7,3.99,445.22,541.00,614.39,663.88,737.82,28.8,14.5,0.0,1
108,5.0,2.0,147.6,4.17,534.57,660.13,748.13,817.96,902.65,78.6,17.8,4.4,1
154,15.1,23.5,418.1,4.84,367.00,475.32,580.84,685.79,792.25,0.0,16.9,0.0,11
23,4.7,4.7,151.3,4.05,358.54,439.71,523.56,590.67,660.95,32.4,13.4,0.0,12

In [32]:
y_test

14     39.64
148    31.47
62     33.41
133    37.00
173    37.39
175    39.23
74     34.09
131    40.59
69     35.74
57     38.26
1      27.18
34     28.63
92     35.45
71     33.70
87     38.55
150    31.08
104    29.23
84     42.34
9      44.60
63     30.88
144    34.28
42     31.20
166    39.14
52     32.05
122    31.66
127    37.68
145    34.38
70     35.93
137    31.66
44     33.67
30     22.04
5      32.64
46     34.18
151    31.95
163    33.89
11     43.25
27     22.34
136    31.17
4      29.76
0      28.30
85     41.76
111    24.08
141    38.75
174    37.20
68     33.31
Name: Raw milk price, dtype: float64

#### Random Forest

##### 1. Basic test to test for suitability for remaining sections

In [33]:
#Random forest(basic features, randomized state, squared error scoring)
rf1 = RandomForestRegressor(criterion="absolute_error")

#Random forest, 500 estimators, 20 samples to split a node, min 5 samples at
#leaf nodes, squared error scoring, non-random state set
rf2 = RandomForestRegressor(n_estimators=500, min_samples_split=20, 
                             min_samples_leaf=5, n_jobs=-1, 
                             criterion="absolute_error", random_state=22122)

#Random forest, 1000 estimators, squared error scoring, non-random state set
rf3 = RandomForestRegressor(n_estimators=1000, n_jobs=-1,
                            criterion="absolute_error", random_state=22122)

##### Cross-validation tests (accuracy and mean average error)

In [34]:
(np.mean(cross_val_score(rf1, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf1, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.5s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.5s finished

(0.057592273234713366, -3.798604965465464)

In [35]:
(np.mean(cross_val_score(rf2, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf2, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   2.1s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.1s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.3s finished

(0.08870893225157864, -3.7830393492158843)

In [36]:
(np.mean(cross_val_score(rf3, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf3, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.6s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s

[CV] END .................................................... total time=   0.7s
[CV] END .................................................... total time=   0.5s
[CV] END .................................................... total time=   0.5s
[CV] END .................................................... total time=   0.6s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.4s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.5s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s

[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.7s
[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.5s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.4s finished

(0.05973401623878072, -3.770529270704027)

In [37]:
rf1.fit(X_train, y_train)
y1 = rf1.predict(X_test)

In [38]:
y1

array([33.01705   , 34.0124    , 31.4754    , 35.0044    , 32.2909    ,
       34.6654    , 32.756     , 40.3153    , 37.4767    , 36.4614    ,
       28.8489    , 33.7214    , 36.01715   , 34.95254381, 34.7031    ,
       32.6534    , 32.7183    , 36.1678    , 28.60924072, 29.997     ,
       35.12585   , 30.30137835, 40.5613    , 34.53705   , 28.6844    ,
       32.1849    , 35.6726    , 37.5791    , 33.6693    , 32.18043144,
       27.33034691, 31.02499381, 36.72584691, 33.6625    , 33.3747    ,
       32.79152835, 29.10494691, 32.6184    , 30.21819691, 28.73199381,
       34.3339    , 31.2145    , 37.2941    , 33.9291    , 36.5775    ])

In [39]:
mean_absolute_error(y_test, y1)

3.173284501835168

In [40]:
rf2.fit(X_train, y_train)
y2 = rf2.predict(X_test)

In [41]:
y2

array([33.86239567, 33.12164567, 29.86570345, 34.43993691, 32.24323814,
       34.30812691, 33.08194629, 37.92143753, 36.84634098, 36.35455629,
       29.28451629, 31.50138134, 34.9109685 , 35.08808479, 34.08332691,
       32.84836912, 33.83786098, 34.55160505, 28.79076789, 29.69604407,
       34.21855505, 29.93769603, 38.28481876, 34.04598629, 30.80700691,
       32.84082629, 35.58234753, 36.74815381, 33.6232116 , 31.27822763,
       27.73915691, 29.82092912, 34.81382789, 33.6535985 , 33.29745691,
       28.60179356, 30.32869974, 33.42047691, 29.54797443, 28.82898629,
       34.35767505, 32.55611629, 36.81162283, 33.08151753, 34.92139727])

In [42]:
mean_absolute_error(y_test, y2)

3.3263112108108097

In [43]:
rf2.score(X_test, y_test)

0.12873742511534458

In [44]:
rf3.fit(X_train, y_train)
y3 = rf3.predict(X_test)

In [45]:
y3

array([33.88343345, 33.543515  , 31.46519   , 34.853565  , 32.729385  ,
       34.685475  , 32.820965  , 39.52419469, 38.10111   , 36.6002    ,
       28.00110691, 33.82469469, 35.87848   , 35.5496032 , 34.397125  ,
       32.33861   , 32.9427    , 35.36072907, 28.10811407, 30.3211    ,
       35.143315  , 30.90412258, 41.5913    , 34.72124   , 29.60119   ,
       32.25571   , 36.17858   , 37.49678876, 33.609675  , 32.34987082,
       27.12305   , 30.26993283, 37.34172258, 33.64135   , 33.56427   ,
       31.5934118 , 28.72687938, 33.256505  , 29.92703876, 28.46239196,
       34.505735  , 31.12536   , 37.14515   , 33.676725  , 36.67651469])

In [46]:
mean_absolute_error(y_test, y3)

3.227020813346702

In [47]:
rf4 = clone(rf2)

In [48]:
#Create Random Feature elimination for above model
selector1 = RFECV(rf4, cv=5, step=1, n_jobs=-1, verbose=2, min_features_to_select=7)

#Fit all data
selector1.fit(X, y)

Fitting estimator with 13 features.

RFECV(cv=5,
      estimator=RandomForestRegressor(criterion='absolute_error',
                                      min_samples_leaf=5, min_samples_split=20,
                                      n_estimators=500, n_jobs=-1,
                                      random_state=22122),
      min_features_to_select=7, n_jobs=-1, verbose=2)

In [49]:
selector1.ranking_

array([1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [53]:
X.columns

Index(['Butter', 'Cheese', 'Domestic milk intake', 'Fat content (Percent)',
       'Heifers 200-249kg', 'Heifers 250-299kg', 'Heifers 300-349kg',
       'Heifers 350-399kg', 'Heifers 400-449kg', 'Imported milk intake',
       'Skimmed milk sales', 'Skimmed milk powder', 'Month'],
      dtype='object')

In [54]:
rankings = selector1.ranking_
columns_to_choose = [X.columns[i] for i in range(len(X.columns)) if rankings[i] == 1]
rfe_rfX = X[columns_to_choose]
rfe_rfX_train = X_train[columns_to_choose]
rfe_rfX_test = X_test[columns_to_choose]

In [55]:
columns_to_choose

['Butter',
 'Domestic milk intake',
 'Fat content (Percent)',
 'Heifers 200-249kg',
 'Heifers 250-299kg',
 'Heifers 300-349kg',
 'Heifers 350-399kg',
 'Heifers 400-449kg',
 'Imported milk intake',
 'Skimmed milk sales',
 'Skimmed milk powder',
 'Month']

In [56]:
(np.mean(cross_val_score(rf4, rfe_rfX, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf4, rfe_rfX, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.4s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.4s finished

(0.10021154320846926, -3.7615774554554577)

In [57]:
rf4.fit(rfe_rfX_train, y_train)
y4 = rf4.predict(rfe_rfX_test)

In [58]:
y4

array([33.91495567, 33.05122222, 29.67598469, 34.38548691, 32.26446345,
       34.21439283, 33.15117629, 37.92154876, 36.89364753, 36.38381222,
       29.10790098, 31.61915283, 35.04005912, 34.92230665, 34.37141629,
       32.82639036, 33.74165753, 34.61022098, 28.86819814, 29.55572469,
       34.28879098, 29.82072381, 38.35769   , 34.14108629, 30.79077345,
       32.97949876, 35.55032753, 36.78970098, 33.54397283, 31.09909072,
       27.86017938, 29.75596505, 35.03179629, 33.54272381, 33.45458345,
       28.45000036, 30.26836505, 33.31950222, 29.42319036, 28.67592753,
       34.45272567, 32.50275814, 37.03246469, 32.97893345, 34.98101912])

In [59]:
mean_absolute_error(y4, y_test)

3.3118966311644966

In [60]:
n_estimators = [i for i in range(100, 1001, 100)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [i for i in range(10, 101, 10)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 3, 4, 5, 7, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Criterion to select scoring
criterion = ["absolute_error", "squared_error", "gini"]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap,
               'criterion': criterion}

In [62]:
rf_best = clone(gs_random.best_estimator_)

In [63]:
gs_random.best_estimator_

RandomForestRegressor(criterion='absolute_error', max_depth=20,
                      max_features='sqrt', min_samples_split=10,
                      n_estimators=200, random_state=22122)

##### Cross validation (both accuracy and absolute error)

In [ ]:
(np.mean(cross_val_score(rf_best, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf_best, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

###### Fit

In [ ]:
rf_best.fit(X_train, y_train)
ybrf = rf4.predict(X_test)

###### Results

In [ ]:
ybrf

###### Absolute error

In [ ]:
mean_absolute_error(ybrf, y_test)

##### 4. Best model from 3 with RFE applied

##### Apply RFE (with cross-validation)

In [ ]:
#Clone best performing model of previous section
rf_best2 = clone(rf_best)

#Create Random Feature elimination for above model
selector = RFECV(rf_best2, cv=5, step=1, n_jobs=-1, verbose=2, min_features_to_select=len(X.columns) // 2)

#Fit all data
selector.fit(X, y)

In [ ]:
selector.ranking_

In [ ]:
X.columns

##### Define model with new data

In [ ]:
rankings = selector.ranking_
columns_to_choose = [X.columns[i] for i in range(len(X.columns)) if rankings[i] == 1]
rfe_rfX_best = X[columns_to_choose]
rfe_rfX_best_train = X_train[columns_to_choose]
rfe_rfX_best_test = X_test[columns_to_choose]

##### Cross validation (both accuracy and absolute error)

In [ ]:
(np.mean(cross_val_score(rf_best2, rfe_rfX, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf_best2, rfe_rfX, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

###### Fit

In [ ]:
rf_best2.fit(rfe_rfX_best_train, y_train)
ybrf2 = rf4.predict(rfe_rfX_best_test)

###### Results

In [ ]:
ybrf2

###### Absolute error

In [ ]:
mean_absolute_error(ybrf2, y_test)

### K-Nearest Neighbour Regression

### 1. Basic test models with all features

In [ ]:
#KNeighbors Regressor, default parameters
knn1 = KNeighborsRegressor(n_jobs=-1)

#KNeighbors Regressor, estimates from 10 nearest neighbours, each leaf has 10
#samples
knn2 = KNeighborsRegressor(n_neighbors=10, leaf_size=50, n_jobs=-1)

#KNeighbors Regressor, estimates from 10 nearest neighbours
knn3 = KNeighborsRegressor(n_neighbors=20, n_jobs=-1)

#### Cross validation tests (both accuracy and average error)

In [ ]:
(np.mean(cross_val_score(knn1, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn1, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.7s finished

(0.9180921608506607, -368.379723482743)

In [ ]:
(np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished

(0.9247140939410677, -350.91984476224167)

In [ ]:
(np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished

(0.9247140939410677, -350.91984476224167)

#### KNeighbors Regressor 1

###### Fit

In [ ]:
knn1.fit(X_train, y_train)
yk1 = knn1.predict(X_test)

###### Results

In [ ]:
yk1

array([4944.2,  692.8, 2102.6, 3167.2, 3299.8, 5318. , 6853.8,  668.6,
       1491. , 4594.8, 7215. , 6197.6, 4340.8, 4506. , 5739.2, 1372.8,
       1601.6,  571. , 3981.2, 1243.4, 6257. , 4437.2,  686.2, 5202.8,
       2200. , 6881.8,  550.4, 5128.2, 5024.4, 4883.8, 6692. , 5513.4,
       2963.8, 6775.8, 5420.2, 6517.4, 4489. , 1334.8, 3688.4, 1923.4,
       4225.4, 5793.6, 2972.6, 1856.8, 5006.2, 3305.6,  933.4, 2379.2,
       6778.8, 6631.6, 5943. , 6861.8, 4980. , 4766.2, 6220.2, 5546.2,
       5636.2,  691. , 1980.6, 1650.2, 1595.2, 4388.4, 5740.6, 4904.6,
       6417.4, 5408.6, 3682.8,  601.4, 5088.4, 2728.8, 3186.2, 5343.8,
        493.2,  673.2, 3244. , 3715.4, 1555.8, 4296.6, 1588.2, 3071.8,
       6630.8, 3454.2, 1852.8, 6622.2, 1722. , 5907.2, 5768.8, 1785.6,
       2684.2, 6338.6, 4792. , 2179. , 2830.6, 4069.2, 5125.4, 6479.8,
       6954.4, 3680.8, 3090. , 4081.4, 2904.6, 2272.2, 1492. , 3108.8,
       6630.6, 6145.4, 6076.6, 6489. , 2804.6, 5221.6, 6508. , 4055.8,
       1637.2, 5191.2, 1585.2, 5756.8, 1298. , 5878.8, 4733.2, 5209. ,
       3561.2, 3689.4, 5534.2, 1500.4, 5897.4, 3588. , 3896.6, 2066.4,
       1757.2, 6214.4, 6780.4, 3001. , 2516.2,  702.2, 2894. , 4914.4,
       2898. , 3626.8, 2816.4,  685.2, 7336.2,  701.6, 5332.6, 1566.2,
       2904.6, 4695. , 6839.2, 1270. , 4089.8, 1571.4, 2821.6, 3900. ,
       6985.2, 2425.4, 3104.2, 6259.6, 6035.6, 2080.4, 6080.2, 6327.4,
       7150.8, 7129.2, 6572.2, 6819.8,  666.6, 5812.2, 4127.8, 3247.2,
       1964. , 3805.6, 2793. , 6151.8, 6108.2, 7461.8,  880.6, 6968.4,
       3022. , 5517.8, 2648.6, 4138.2, 4168.2,  836.4, 5443.2, 3555.6,
        639.2, 1751.6, 5395.8,  630.4, 1530.6, 2860.2, 5749.2, 5495.4,
       4056.4, 4615.4,  486.8, 5908.8, 5228.6, 2681.6, 3949.4, 2116. ,
       6793.6, 5545.4, 3761.4, 5946.8, 3060.2, 1705.8, 5081.6, 1521. ,
       2152.2, 1494.2, 5952.4, 3863.8, 1650. , 4052.6, 6184.6,  529.6,
       2530.4, 3683.2, 7094.8, 4378.4, 5667.6, 4017. , 2806.8, 6685.8,
        944.6, 1537.8, 5212.8, 4204.4, 5838.2, 4904.8, 3915. , 2667. ,
       2039.4, 4706.4, 3326.6, 2649.8, 4510.8, 3001.8, 5383.2,  617.8,
       4830.4, 2026.8, 7066.8, 3617.4, 4335.2, 5275.8,  649.8, 2817.6,
       2726.4, 6002.8, 2425.6, 3304.6, 2607. , 5564.6, 3324.6, 6453.6,
       4319.4, 4812.2, 5238.6, 5700.8, 1137. , 1615.8, 1741.8, 4569.2,
       4721.4, 1569.4, 6196.6, 5451.2, 6577.2, 4466.8, 5604.6, 2479.4,
       2520. , 5389.6, 1863.6,  699. , 2617.4, 6514.4, 3696.6, 2696.8,
       1523.4, 5371.6, 4713.6, 2714.2, 1890.6, 3827. , 4231.2, 5367.4,
       1224.6, 6191.8, 6390. , 3387.8, 3900.2,  286.6,  713. , 5697.6,
       2893. , 1207. , 3335.6, 5799. , 2214. , 3583.4, 4973.2, 1245.2,
       7457. ,  400.4,  619.8, 5733.2,  827.2, 5681.2, 3128. , 3662.8,
       4947.8, 2808. , 4417. , 5919. , 2953. , 6376.6, 5127.4, 5753.6,
       1442.4, 1826.6, 3946.4,  774.8, 6016.6, 6370.8,  383.2, 2056. ,
        679.8, 1815.6, 1148.2, 3487.8, 2777.4, 5837.6, 1999. ,  473.8,
       6188. ,  647.8, 6143.2, 4110.6, 1594. , 2382.6, 2346.6, 1441.8,
       5221.6, 3460.8, 3559.2, 2738.2,  396.8, 6406.2, 6963.8, 3534. ,
       6363.6, 3942.2, 5215.4, 4809.2, 6423.4,  925.2, 4682.4, 5388.8,
       5853.2, 2408. , 2410. , 5975.2, 4025.2, 1535.2,  313.8, 4561.4,
       5680.8,  930.4, 4968.6, 5459.4, 3999. , 6123.8, 6134.8, 2636.2,
       5980. , 1338.2, 5314.8, 5985.8, 4295. , 2714. , 4008.2, 1593.8,
       3716.6, 1530.4, 1944.2, 1561.6, 5573.6, 3805.8, 6110. , 3160.4,
       4571.6,  681.8, 6065.2, 4532. , 6529.2, 4068.6, 3588. , 2725. ,
       6853. , 1584.6, 5742.2, 5734. , 5067.4, 2122. , 4545.2, 3951. ,
       4422.4, 6981.6,  704.2, 6203.4, 6378.2, 2836.6, 4111.2, 3625. ,
       5208. , 1270.8, 2609.4, 5390.2, 6489. , 4453.4, 2821.6, 2200.6,
       1625. , 6263. , 5405.8, 4891.8, 5004.4,  563. , 1926.6,  451.8,
       5016.6, 5302. ,  601.2, 4227.2, 7329.4, 6839.2, 6399.6, 3124.6,
       5976.2, 5976. , 3291. , 1437.2, 4400.4, 5049.2, 1928.4,  652. ,
       2276. , 2267.8, 1339.2, 1458. , 4570.8, 3949.2, 5296.6,  562.2,
       4152.2, 6091.2, 4019.6, 5498. , 1188.6, 3210.6, 6820. , 5467.2,
       3994.6, 2515. , 5616. , 6515.4,  369.4, 5766.2,  417.6, 1718.4,
       2321.4, 4313. , 3501.6, 2745.8, 6429.2, 5941.8, 4200.8, 1748. ,
       5006.8, 1749. , 4934.2, 1905.4,  711.6, 2606.4,  684.8, 6710.6,
       6116.4, 4839.4, 2082.2, 5927.2, 1633.6,  648.4, 2491.6, 5125.6,
       4327.6,  436.6, 5256. , 6704.8,  678.4, 5393.8, 2784. , 6145. ,
       5423.6,  696.8, 2193.6, 5846.8, 4949.6, 6595.6, 6426.4, 7207.4,
       5274.8,  692.2, 1173.6, 1659.8, 4398.8, 5089.8, 2843.4, 2972.4,
       2012.4, 5286.4, 5022.8,  368.4,  500.6, 3997.8, 5648.8, 1973.8,
       3906.8, 6231.8, 2825.6, 5747.8, 6051.4, 3665.8, 1583.8,  457.6,
       4623. , 6713.2, 2319.6, 4579.8, 5900.8, 2100.4, 5274.4, 5355.4,
       5636.4, 3847.8, 5683.6, 6350.8, 1222.2, 6622. , 6279. , 2949.2,
       2091.4, 3741. , 1331.2, 2328.2, 3938.4,  699.4, 3610. , 5990.6,
       1769.8, 4081.4, 4265.2, 6765.8, 5498.4, 3156.2, 5617.6, 6405.2,
       5242.6, 5796. , 3965.2, 1947.4,  724. , 4150.4, 5720.2, 1489. ,
       3973.2, 4265. , 1608.4, 2032. , 4954.2, 1408.8, 6015. , 3798.2,
       5968.2, 2782.8, 6646.2, 6148.4, 6337. , 3604.4, 4995.2, 5262. ,
       5752.6, 3668.2, 6310.2,  645.4,  396.4, 4899.2, 7145. , 7006.2,
       3796.6, 1480.6, 6043.8, 3708.2, 1429.8, 6005.4, 6682.2, 3884.4,
       6365. ,  412.6, 3561.8, 6698.4, 1980.8, 2667. , 5268.6, 2138. ,
       5316.2, 1431.2, 4071.6, 5723.8, 1661.4, 5391. , 4442.2, 6082. ,
       7233.8, 6952.4, 4890.8, 4363.8, 4497.2, 4354. , 4896.8, 4071.4,
       4068.6, 2845.8, 5426.2, 4699. , 1584.2, 2522.2, 3885.6, 5145. ,
       5395.6, 1763. , 1423.8, 6795.2, 4692. , 3601.6, 5199.2, 5503.6,
       2928.8, 5602.8, 4798.2, 2109.8, 2619.8, 5256.8, 4231.4, 2116. ,
       4699.4, 1257.2, 4223.4, 7195.4, 6616.6, 1589.8, 2539.4, 5363.4,
       2350.2, 6697.6, 5828. , 1594.6, 2914.6, 6237. , 5003.2, 4282. ,
       6231.2, 1536.6, 3224.4, 4433.4, 6375.6, 4084.2, 7049.4, 4050.6,
       2620.4, 3820.6, 5347.8, 6040.6, 1571.8, 1475. , 5884. , 7409.6,
       3536.4, 3733.4, 1559.4, 6299.2, 1023. , 2401. , 4797.2, 6464.8,
       2384.8, 2845.8,  669.8, 5105.8, 1704.4, 6886.8, 5515.4, 5331.2,
       3845.4, 5986.6, 5307.8,  757. , 4897.4,  687.8, 6146.6, 6391. ,
       5446.8, 6898.2, 3962. , 5165.2, 6408.2, 7029.6, 6589.8, 2611.6,
       1969.2, 4145.6, 2606.2, 6992.6, 5116.4, 4741.4, 7261. , 2767.6,
       7016.8, 5293.6, 5353.4, 3513.8, 1675.4, 2869. , 3000.6, 5341.2,
        553.4, 5415. , 6152.2, 5307.4, 5791.8, 2519.4, 2138. , 6352.2,
       5453.8, 3353.4, 6823.4, 3690.2, 5199.8, 2188.4, 4458.8, 5107.6,
       4073. , 5511. , 4099.6, 5864.6, 2119.2,  312.4, 4374.6, 5137.8,
       2288.2, 3006. , 3647.6, 5366. ,  681.8, 5288. , 5662.6, 5102.4,
       3290.8, 6807.6, 4459.6,  698.2, 2412.2, 5315.8, 6112.4, 4976.6,
       4381.2, 5461.2,  335.8,  866.2, 5068.6, 6532.4, 1372. , 3706.2,
       2045.6, 6167.4, 5897.4, 1650.4, 4206.2, 2590.4, 4267.6, 6369. ,
       5221.6, 6797.4, 2838.2, 4458. , 3968.6, 5744.2, 5048.6, 5171.8,
       1555.2, 5378.4, 4017.6,  692.2, 3305.2, 5594. , 5399.4, 4395.8,
       5602.2,  698.6, 1441.4, 1314.2, 4934.4, 5870.4, 1884. , 1361.4,
       6574.4, 2526.6, 1570.4, 1764.4, 2778. , 1474. , 2317.8, 2933.6,
       5394.4, 3621.8, 3210.6, 5375.8, 1587.2, 3198.6, 4545.6, 4158.4,
       1914.8, 5453.8, 4365. ,  689.2, 4636.6, 5662.2, 3600.4,  341.4,
       2733.6, 2698.2, 4381.4, 1300.6, 4264.6, 3880. , 2684.2, 6168.4,
       3173.4, 2457.2, 6622.8, 4708.6, 5837.2, 4146. , 4182. , 5550.8,
       1798.6, 4017.6, 3734.8, 4100.2, 2689.8,  666.8, 2197.6, 2889. ,
       2870.2, 6081.4, 5435.4, 1875. , 2512.2, 2916.8,  644.8, 3953.2,
        378.4, 5777.8, 2893.8,  662.6, 6979.2, 6527.4,  701.6, 5270.2,
       3805. , 5461.4, 2594.2, 4699.8, 1541.4, 1425. , 1616.8, 6091. ,
       1735.6, 3911.6, 4004.4, 6453.8, 2686.8, 2533.4, 4762. , 6105. ,
       1011. , 3715.2, 1551. , 3613.4, 3092.6, 5021. , 5318.6, 1915.6,
       7300.6, 2217. , 5130.6, 4319.2, 2025.2, 4054.4, 3807.2, 2698.6,
       2375.8, 5636.2, 1730.2, 4916.2, 5977.4, 1309.4, 2205.8, 4550.2,
       1523.4, 3580.8, 4413.8, 2884.4, 6534.4, 1426.8,  278.2, 5352.8,
       6967.6, 5684.4,  383.4, 3148.4, 5347. , 1888.6, 4814.2, 5251.6,
       6654.8, 4914.8, 1448. , 5165.4, 4660.6, 1599.8, 5733.2, 3787.2,
       1581.8,  887.4, 1394.4, 3480.8, 4645.6, 1599.2, 5409.2, 3397.4,
       6666.8, 6619. ,  700.4, 2860.2, 5304. ,  868.2, 5686.8, 6037.8,
       6145.8, 6742.6, 6479. ])

###### Absolute error

In [ ]:
mean_absolute_error(yk1, y_test)

311.5599169262721

#### KNeighbors Regressor 2

###### Fit

In [ ]:
knn2.fit(X_train, y_train)
yk2 = knn2.predict(X_test)

###### Results

In [ ]:
yk2

array([4911.3,  690.3, 2109.4, 3204.6, 3353.4, 5688.3, 6481.2,  692.5,
       1533.9, 4616.5, 7034.2, 5783.6, 4442.9, 4831.4, 5801.3, 1341.8,
       1566.8,  576.4, 4167.7, 1325.5, 6277.8, 4377.6,  669.8, 5185.4,
       2063.1, 6811.3,  592.6, 5090.9, 5224.2, 5037.7, 6529.5, 5418.8,
       3002. , 6761.3, 5423.6, 6033.8, 4664.3, 1322.8, 3648.3, 1907. ,
       4281.4, 5391.1, 2823.7, 1798.8, 5044.9, 3241.6,  864.5, 2440.8,
       6385.3, 6340. , 6213.1, 6885.7, 5334.2, 4661.3, 5971.5, 5202. ,
       5381.2,  668.2, 1906.9, 1575.3, 1601.4, 4173.6, 5617.6, 4949.6,
       6412.9, 5451.4, 3615.6,  575.6, 5138.3, 2750.7, 3124. , 5390.1,
        436. ,  688.7, 3199.6, 3832. , 1567.3, 4376.6, 1530.8, 3396. ,
       6644.2, 3470.2, 1930.1, 6505.5, 1789.8, 5910.8, 5534.3, 1813.4,
       2694.5, 6161.2, 4858.6, 2307.6, 2791.4, 4184.7, 4945.7, 6347.7,
       6942.9, 3862.2, 2836.6, 3897.4, 2968.4, 2194.8, 1522.8, 3066.3,
       6534.1, 5708.3, 5353.6, 6218.7, 2856.6, 5272. , 5964.3, 4004.4,
       1606.1, 5271.6, 1615.9, 5902.2, 1326.7, 5969.2, 4766.2, 5260.7,
       3653.5, 3802. , 5319.9, 1547.9, 6038.6, 3680.8, 4029. , 2170.9,
       1922.3, 6239.7, 6906.2, 3414.2, 2526.8,  701. , 2834.5, 4521.9,
       2758.5, 3704.1, 2821.7,  685.6, 7163.6,  701.2, 4886.1, 1606.5,
       2902.9, 4561.9, 6743.5, 1204.2, 4143.4, 1544.4, 2752.5, 3842.4,
       6835. , 2513.2, 3263.9, 6202.5, 6126.7, 2066.8, 6451.2, 6504.2,
       7200.6, 6809.6, 6567.5, 6504.2,  677.7, 5969.3, 4235.2, 3378.2,
       1969.7, 3697.8, 2757.3, 6244.4, 5710.3, 7264.6,  982.3, 7120.6,
       2931.2, 5493.2, 2667.3, 4005.4, 4100.6,  888.7, 5886.6, 3686.2,
        636.9, 1723.5, 5256.4,  645.1, 1587.2, 2819.6, 5822.7, 5475.8,
       4120.9, 4522.5,  507.8, 5595.8, 5750. , 2647.2, 3910.1, 2090.6,
       6566.5, 5487.4, 3963.9, 5756. , 3060. , 1612.2, 5641.9, 1552.2,
       2148.8, 1451.7, 5641.1, 3843.8, 1600.3, 3966.4, 6196.5,  522.4,
       2499.8, 3675. , 7135. , 4605.4, 5492.9, 4151.4, 2840.2, 6476. ,
        941.3, 1526. , 5127.6, 4369. , 6060.7, 4799.8, 4009.3, 2549.5,
       2067.9, 4854.9, 3034.9, 2780.8, 4235.2, 3110.6, 5403.6,  572.6,
       4580.4, 2055.4, 7035.1, 3623.3, 4017.5, 5483.7,  661. , 2828. ,
       2738.5, 6161.8, 2657.6, 3509.5, 2680.3, 5325.1, 3205.4, 6627.5,
       4471.8, 5142.9, 5261.7, 5743.2, 1242.5, 1584.5, 1756.8, 5021.7,
       4518.6, 1587.8, 6004.3, 5635.3, 6598.7, 4338.2, 5757.9, 2476.4,
       2426.2, 5412.5, 1954.7,  700.4, 2653.6, 6364.4, 3706. , 2753. ,
       1617.9, 5546.8, 4836.3, 2706.5, 1804.4, 3898.3, 4250.8, 5688.7,
       1261.2, 6137.7, 6634.8, 3462.5, 3882. ,  305.3,  709.7, 5718.1,
       2955.3, 1268.9, 3460.1, 5730.2, 2393.6, 3691.3, 4777. , 1262.3,
       7283.3,  502.1,  630.8, 5700.7,  843.1, 5554.8, 3294.3, 3770.4,
       5160.8, 2733.9, 4246.7, 5747.4, 2914.9, 6235.9, 5274.1, 5766.4,
       1384.7, 1559.6, 3917.4,  758.2, 5980.7, 6199.8,  395.6, 2168.2,
        686.5, 1940.2, 1315. , 3575.7, 2795.8, 5766. , 2148. ,  507.8,
       6028.1,  662.9, 6226. , 4006.7, 1587.2, 2393.9, 2377.4, 1498.7,
       5511.4, 3445.6, 3638.7, 2736.1,  498.4, 6515. , 6737.4, 3629.6,
       6547.1, 4195.8, 4949.8, 4930.1, 6204.6,  983.8, 4610. , 5335.9,
       5436.2, 2448.5, 2538.5, 5965.1, 3782.8, 1459.4,  350.5, 4840.3,
       5748.9,  911. , 4811.3, 5304. , 4102. , 6177.4, 5773.3, 2524.1,
       6095.7, 1346.1, 5469.3, 5990.4, 4218.8, 2736.7, 4030.8, 1650.1,
       4086.2, 1597.6, 1976.4, 1559.1, 5622. , 3786.7, 5902.8, 3207.8,
       4379.8,  678.8, 5896.9, 4886.5, 6516.2, 4068.6, 3984.1, 2720.6,
       6889.8, 1696.2, 5762.4, 5652.5, 5260.9, 2116.9, 4396.1, 4263.2,
       4409.7, 6786.6,  699.3, 6019.2, 6369.5, 2872. , 4078.3, 3610.6,
       5183. , 1342. , 2731.1, 5185.4, 6539. , 4847.4, 2802.2, 2296.7,
       1649.6, 5890.7, 5546.3, 5142. , 5104.6,  572.2, 2078.3,  444.7,
       5108.6, 5553.9,  597. , 4134.6, 7130.1, 6943.5, 6116.1, 2961.4,
       5726.7, 6131.7, 3062.4, 1485.6, 4739.1, 5372.6, 2039.8,  634.1,
       2282.2, 2292.4, 1360.7, 1496.5, 4929.3, 4040.2, 5160.4,  546. ,
       3887.6, 5737.7, 4189.3, 5617.9,  954.1, 3243.8, 6881.5, 5776. ,
       3722.5, 2500. , 5397.9, 6218.7,  359.4, 5320.2,  424.8, 1724.5,
       2399.9, 4152.8, 3310.7, 2750.4, 6567.2, 6029.7, 4218. , 1687.6,
       4742.6, 1648.5, 4986.5, 2069.4,  698.7, 2517.1,  689.7, 6513.1,
       6202.6, 4890.9, 2056.2, 5766.4, 1597.6,  661.7, 2693.5, 5300.6,
       4354.9,  437.6, 5321.2, 7001.8,  669. , 5480.2, 2788.1, 6029.5,
       5463.5,  700.6, 2136.9, 5750.4, 5023.3, 6805.3, 6416.4, 6719.5,
       5352.9,  681. , 1271.8, 1593.2, 4434. , 5158.6, 2804.5, 2933.2,
       1980.6, 5418.3, 5095. ,  343.7,  567.8, 3958.7, 5713.9, 2045.6,
       3846.3, 6119.1, 2799.5, 5808.1, 6134.1, 3600. , 1581.1,  460.8,
       4619.5, 6427.9, 2359.8, 4776.9, 5478.8, 2130.6, 5184.1, 5208.3,
       5359.7, 3973.1, 6395.4, 6248.9, 1207.1, 6745.1, 6518.2, 2883.2,
       1990.3, 3781.1, 1325.1, 2319.5, 3819. ,  699.4, 3466.3, 5853.3,
       1779.1, 4117.1, 4356.2, 6639.3, 5088.2, 3358.7, 5854.9, 6281.4,
       5207.7, 6131.9, 4004.7, 1777.1,  688.6, 4243. , 5595.2, 1581.1,
       4062.8, 4290.6, 1552.2, 2062.5, 5031.9, 1330.5, 6248.2, 3771.6,
       6160.5, 2733.2, 6725.3, 6010.3, 6498.3, 3543.9, 4981.3, 5390.2,
       5481.1, 3627.3, 6286.3,  656.5,  414. , 4987.1, 7072.6, 7014.7,
       3978.7, 1521.7, 5813.8, 3950.1, 1455.4, 5913.3, 6741.9, 3837.3,
       6383.5,  424.5, 3709.9, 6667.2, 1952.5, 2686.5, 5523.9, 2244.3,
       5440.8, 1517.5, 4228.2, 5574.6, 1605.9, 5460.4, 4549.8, 6143.8,
       7245.8, 6943.5, 4795.9, 4444.7, 4687.2, 4442.4, 4889.7, 3845.2,
       3804.6, 2735.4, 5467.9, 4954.7, 1574.5, 2388.8, 3726.8, 5101.9,
       5486.3, 1751.2, 1207.1, 6489.6, 4473.2, 3358.4, 4846.4, 5355.5,
       2837.9, 5661.4, 4960.6, 2114. , 2559.6, 5489.9, 4200.9, 2213. ,
       4621.4, 1211.9, 4368.3, 7126.8, 6749.4, 1584. , 2633.5, 5103.4,
       2489.9, 6829.3, 5482.4, 1649.4, 2813.3, 6270.5, 4994.3, 4342.3,
       5868.5, 1688.6, 3117.7, 4496.3, 6380.9, 4043.3, 7165.1, 3919. ,
       2650.1, 3825.4, 5124.4, 5733.1, 1550. , 1525.9, 5892. , 7250.1,
       3575.9, 3833.5, 1560.5, 6173.5, 1000.5, 2504. , 4679.5, 6537.9,
       2478.1, 2854.1,  648.3, 5265.9, 1731.5, 7048.2, 5578.3, 5278.6,
       3670.5, 5864.4, 5396.8,  761.3, 4981.8,  668.2, 6328.9, 6405.8,
       5721.2, 6781.6, 3750. , 5009.5, 6306.9, 6838.6, 6480.9, 2681.8,
       1879.9, 4437.6, 2744.9, 6887.2, 5106.5, 4726.6, 7099.1, 2584.3,
       7001.7, 5200.1, 5369.4, 3557.1, 1731.5, 2875.9, 2720.7, 5393.8,
        545.5, 5994.8, 6190.2, 5357.5, 5526.9, 2597.7, 1892.9, 6523.1,
       5515.1, 3532.3, 6659.6, 3700.7, 5089.8, 2128.2, 4270.5, 5114.9,
       4086.2, 5516.4, 4134.3, 5680.4, 2122.2,  311.4, 4344.8, 5134.9,
       2254.1, 3043.1, 3796.4, 5371.5,  663.6, 6049.7, 5363.4, 5164.3,
       3514. , 6678.3, 4420. ,  699.3, 2413.3, 5618.1, 6203.4, 4823.5,
       4195.1, 5631.2,  387.9,  826.7, 5027.4, 6516. , 1225.9, 3449.9,
       2043.7, 6289.8, 5689. , 1702.5, 4120.6, 2668.9, 4024.4, 6744.4,
       5273.5, 6399.3, 2835.3, 4440.5, 3895.2, 5840.7, 5704.3, 4847.4,
       1563.4, 5371.8, 3873.1,  698.9, 3098.9, 5598.1, 5175.9, 4472.8,
       5686.3,  702.1, 1250.2, 1293.4, 5477.2, 5988.9, 1984. , 1415.3,
       6659.2, 2554.2, 1593.6, 1772.7, 2719.8, 1542.7, 2377.9, 3022.9,
       5776.6, 3861.8, 3423.8, 5034.4, 1573.3, 3092.2, 4479.5, 4123.3,
       1885.6, 5537.3, 4186.6,  630.8, 4549.6, 5234.1, 3608.3,  369.5,
       2751.8, 2815.8, 4308.1, 1250.2, 4190.2, 3929.9, 2408.3, 5910.2,
       3108.1, 2633.3, 6609.4, 4616.3, 5546.1, 3993.1, 4110.2, 6065.2,
       1763.1, 3847.2, 3644.5, 3990.2, 2690. ,  648.4, 2311.2, 2767.3,
       2696.3, 6159.3, 5457.7, 2134.8, 2572.2, 2931.2,  572.6, 3814.2,
        345.8, 5509.8, 2968.4,  654.2, 6767.4, 6537.1,  715.3, 5551.4,
       3857.3, 5597.4, 2598.5, 4393.4, 1567.3, 1444.7, 1579.3, 6120.2,
       1963.4, 3840.7, 4247.7, 6603.1, 2706.3, 2575.4, 5264.9, 6322.7,
       1169.8, 3635.4, 1543.8, 3567.3, 3406.9, 5111.7, 5354.8, 1797. ,
       7099.5, 2308.6, 5069.1, 4360.5, 1853. , 4076. , 3772.3, 2774.3,
       2410.8, 5298.4, 1769.7, 4914.4, 6411.8, 1351.4, 2381.2, 4719.9,
       1573.5, 3584.4, 4542.4, 2836.2, 6507.2, 1494.4,  291.5, 4923.5,
       6590.5, 5648.3,  384.9, 3165.3, 5342.4, 2048.6, 4962.3, 5368.2,
       6552.4, 4587.6, 1498.7, 5213.6, 4757.8, 1547.2, 5632.1, 3801.4,
       1594.5,  898.4, 1356.3, 4314.7, 4784.9, 1595.1, 5546.3, 3485.4,
       6594.2, 6560. ,  645.2, 2707.9, 5220.2,  874.5, 5418.3, 6065.4,
       6082.4, 6952.5, 6176.2])

###### Absolute error

In [ ]:
mean_absolute_error(yk2, y_test)

306.98068535825547

#### KNeighbors Regressor 3

###### Fit

In [ ]:
knn3.fit(X_train, y_train)
yk3 = knn3.predict(X_test)

###### Results

In [ ]:
yk3

array([5178.35,  671.2 , 2075.75, 3040.35, 3402.15, 5539.  , 6439.  ,
        695.  , 1582.65, 4600.4 , 6848.95, 5727.  , 4457.8 , 5088.  ,
       5802.15, 1346.95, 1609.3 ,  564.35, 3972.7 , 1377.5 , 6279.7 ,
       4416.5 ,  672.25, 4971.  , 2106.4 , 6635.3 ,  618.8 , 5276.05,
       5253.9 , 4903.1 , 6425.75, 5540.15, 3189.4 , 7008.85, 5453.65,
       6225.15, 4547.2 , 1299.75, 3713.2 , 1892.3 , 4417.6 , 5407.35,
       2832.45, 1828.4 , 5349.6 , 3239.25,  837.  , 2510.1 , 6577.15,
       6403.35, 6375.6 , 6727.4 , 5129.35, 4661.15, 5929.3 , 5308.25,
       5312.05,  650.15, 1946.55, 1590.2 , 1579.95, 4108.4 , 5538.15,
       5082.85, 6339.55, 5742.15, 3711.95,  581.65, 5494.15, 2754.1 ,
       3134.75, 5558.25,  426.95,  691.4 , 3416.95, 3764.4 , 1573.25,
       4191.2 , 1524.55, 4070.9 , 6717.9 , 3486.5 , 2012.3 , 6337.1 ,
       1777.05, 5811.55, 5448.25, 1946.1 , 2704.1 , 6256.5 , 4760.8 ,
       2287.4 , 2717.2 , 4048.3 , 4512.7 , 6378.55, 6944.5 , 3864.6 ,
       2861.1 , 3840.9 , 2864.6 , 2286.65, 1561.8 , 3123.25, 6516.8 ,
       5900.55, 5611.7 , 6091.  , 2803.1 , 5343.5 , 6510.9 , 4147.95,
       1631.25, 5204.95, 1686.45, 6135.35, 1367.75, 6027.  , 4354.1 ,
       4992.75, 3671.55, 3710.65, 5233.85, 1537.15, 6124.95, 3879.05,
       4023.  , 2167.75, 1875.95, 6056.7 , 6909.2 , 3604.8 , 2660.75,
        692.85, 2820.15, 4483.4 , 2825.15, 3669.  , 2815.  ,  687.6 ,
       6840.35,  692.7 , 4729.35, 1577.  , 2837.3 , 4557.2 , 6791.  ,
       1255.65, 4215.4 , 1506.3 , 2833.55, 3864.8 , 6671.4 , 2591.45,
       3264.8 , 6201.  , 5942.9 , 2007.35, 6561.45, 6492.7 , 7264.7 ,
       6803.1 , 6365.85, 6692.6 ,  673.  , 6085.1 , 4229.6 , 3619.15,
       1888.55, 3633.05, 2756.25, 6176.5 , 5912.2 , 6871.65, 1007.8 ,
       6948.5 , 3008.95, 5615.45, 2664.15, 3970.45, 4061.3 , 1084.75,
       6075.15, 3663.6 ,  653.1 , 1901.55, 5260.3 ,  623.45, 1611.15,
       2845.05, 5715.35, 5314.65, 4114.35, 4410.35,  510.1 , 5660.  ,
       5585.15, 2588.55, 3859.7 , 2136.1 , 6279.55, 5513.75, 3929.6 ,
       5782.3 , 3045.85, 1700.95, 5860.95, 1713.55, 2313.8 , 1450.15,
       5681.45, 4042.2 , 1576.9 , 4058.4 , 6328.8 ,  524.15, 2564.55,
       3698.65, 6941.15, 4731.5 , 5562.8 , 4100.55, 2792.25, 6440.  ,
        950.  , 1538.05, 5204.05, 4220.  , 6101.3 , 4743.75, 4218.65,
       2510.65, 2050.05, 4590.7 , 2932.55, 2741.  , 4250.9 , 2927.25,
       5479.1 ,  653.55, 4562.35, 2040.35, 7044.35, 3714.15, 4095.45,
       5824.05,  649.85, 2783.25, 2740.65, 6172.05, 2581.  , 3753.7 ,
       2669.25, 5663.95, 3165.75, 6614.35, 4720.75, 4761.5 , 5085.9 ,
       6018.45, 1214.7 , 1603.1 , 1829.35, 5158.3 , 4471.8 , 1583.85,
       5981.45, 5697.7 , 6535.55, 4092.05, 5576.45, 2437.85, 2523.55,
       5336.3 , 1884.95,  697.7 , 2696.95, 6502.  , 3685.45, 2713.9 ,
       1586.9 , 5266.75, 4785.55, 2708.65, 1852.15, 3695.15, 4258.8 ,
       5549.1 , 1318.15, 6180.35, 6887.7 , 3499.45, 3934.45,  331.65,
        689.45, 5425.7 , 2897.8 , 1216.8 , 3436.85, 5696.05, 2587.45,
       3632.25, 4768.7 , 1307.2 , 6949.55,  493.95,  574.15, 5856.5 ,
        810.05, 5506.75, 3372.35, 3773.35, 5373.45, 2855.05, 4138.3 ,
       5715.45, 2907.7 , 6034.65, 5260.6 , 6084.85, 1422.55, 1574.85,
       4042.05,  785.35, 6025.8 , 6230.65,  416.7 , 2160.65,  674.45,
       1937.75, 1285.6 , 3478.15, 2764.3 , 5771.85, 2104.8 ,  510.1 ,
       6079.05,  676.3 , 6304.5 , 4036.75, 1586.05, 2465.5 , 2393.95,
       1593.2 , 5541.  , 3491.1 , 3700.45, 2647.55,  429.05, 6278.9 ,
       6508.3 , 3718.7 , 6644.45, 4225.7 , 4986.35, 5048.9 , 5774.75,
        963.1 , 4722.85, 5470.5 , 5647.4 , 2522.6 , 2590.  , 5880.85,
       3722.1 , 1453.65,  377.4 , 4911.65, 5515.1 ,  909.4 , 4765.2 ,
       5231.95, 3938.55, 6007.2 , 6077.1 , 2613.8 , 5993.75, 1317.55,
       5403.75, 6370.25, 4409.9 , 2703.45, 3975.9 , 1660.3 , 4225.6 ,
       1519.6 , 1912.9 , 1530.1 , 5447.9 , 3810.05, 5551.95, 3170.4 ,
       4457.3 ,  678.3 , 5757.65, 5150.2 , 6533.45, 4028.8 , 3776.2 ,
       2651.95, 6957.15, 1718.95, 5598.95, 5587.85, 4987.75, 2106.4 ,
       4537.  , 4189.8 , 4483.45, 6864.1 ,  705.  , 5990.6 , 6048.35,
       2878.95, 3971.4 , 3588.85, 5198.25, 1330.25, 2717.15, 5210.25,
       6507.9 , 4770.4 , 2804.1 , 2323.55, 1706.15, 5977.8 , 5198.4 ,
       4948.3 , 4809.8 ,  549.15, 2082.6 ,  462.6 , 5168.85, 5547.  ,
        593.8 , 4130.95, 7003.35, 6848.9 , 5952.55, 2959.45, 5613.05,
       6033.  , 2957.05, 1471.55, 5275.8 , 5203.8 , 2024.  ,  614.1 ,
       2234.5 , 2276.15, 1376.3 , 1497.25, 5201.85, 4049.45, 5115.15,
        569.6 , 3958.7 , 5855.05, 4211.3 , 5575.05,  854.65, 3405.7 ,
       6712.65, 5797.3 , 3819.75, 2588.8 , 5431.6 , 6158.05,  371.5 ,
       5133.95,  479.8 , 1698.25, 2327.05, 4114.8 , 3467.9 , 2709.95,
       6612.05, 6239.5 , 4144.  , 1744.8 , 4905.  , 1687.05, 5030.  ,
       2100.85,  693.75, 2777.5 ,  688.55, 6580.1 , 6287.25, 4993.05,
       2168.8 , 5712.55, 1633.65,  674.05, 2675.6 , 5522.6 , 4230.75,
        455.35, 5258.95, 7026.25,  672.35, 5717.65, 2819.6 , 6052.4 ,
       5077.45,  696.1 , 2132.4 , 5686.1 , 4869.05, 6547.55, 6438.  ,
       6839.5 , 5238.05,  675.4 , 1306.9 , 1610.15, 4309.65, 5318.3 ,
       2783.35, 2667.65, 2091.45, 5227.35, 5053.35,  357.35,  596.65,
       3965.8 , 5909.1 , 2050.1 , 4052.3 , 5802.05, 2671.5 , 5611.25,
       6368.45, 3738.25, 1587.15,  435.45, 4602.25, 6715.85, 2455.7 ,
       4864.9 , 5375.15, 2031.85, 5206.35, 5403.85, 5283.2 , 4106.75,
       6594.35, 6398.65, 1208.95, 6880.  , 6460.45, 2922.45, 1866.25,
       3834.05, 1238.9 , 2382.95, 3878.05,  701.  , 3559.9 , 5827.95,
       1768.  , 4387.95, 4501.05, 6705.5 , 5258.5 , 3610.95, 5960.75,
       6224.2 , 5116.95, 6123.25, 4007.25, 1787.15,  704.85, 4293.05,
       5679.65, 1555.4 , 3951.8 , 4275.9 , 1540.4 , 2105.6 , 5187.25,
       1462.8 , 6058.9 , 3696.  , 6158.65, 2755.1 , 6611.15, 5902.7 ,
       6440.2 , 3660.9 , 4771.65, 5509.35, 5576.1 , 3694.25, 6179.95,
        641.1 ,  417.65, 4909.7 , 7100.6 , 6718.45, 3992.35, 1526.4 ,
       5449.9 , 3872.45, 1604.65, 5535.55, 6541.75, 3863.6 , 6510.15,
        459.6 , 3801.35, 6581.35, 1894.05, 2711.4 , 5599.75, 2240.85,
       5265.85, 1547.05, 4205.  , 5566.25, 1541.55, 5611.75, 4331.15,
       6020.75, 6882.9 , 6803.25, 4784.55, 4340.55, 4802.95, 4284.1 ,
       5003.35, 3800.15, 3809.15, 2827.95, 5365.  , 5104.5 , 1538.9 ,
       2351.6 , 3778.55, 5227.7 , 5642.05, 1842.6 , 1185.3 , 6534.05,
       4587.6 , 3227.3 , 4928.3 , 5515.9 , 2908.35, 5568.4 , 5174.85,
       2116.25, 2784.25, 5674.75, 4236.  , 2307.75, 4863.15, 1168.85,
       4239.3 , 7018.15, 6687.5 , 1599.4 , 2750.  , 5067.15, 2635.5 ,
       6844.2 , 5295.6 , 1627.3 , 2793.45, 6484.75, 5043.55, 4409.05,
       5946.  , 1780.65, 3098.6 , 4594.5 , 6571.95, 4113.5 , 7023.6 ,
       3942.25, 2713.05, 3811.25, 5122.9 , 5624.45, 1479.85, 1800.7 ,
       5917.1 , 7236.45, 3565.65, 3786.9 , 1576.6 , 6317.9 , 1054.85,
       2387.55, 4629.9 , 6656.75, 2404.  , 2659.2 ,  653.9 , 5267.  ,
       1850.05, 6973.6 , 5455.9 , 5650.65, 3624.5 , 5788.65, 5389.35,
        760.9 , 4962.95,  676.95, 6320.1 , 6276.05, 5781.  , 6827.9 ,
       3757.9 , 4906.75, 6513.4 , 6689.3 , 6332.8 , 2568.2 , 1984.85,
       4478.95, 2767.15, 6896.5 , 5112.5 , 4793.95, 6796.3 , 2625.25,
       6902.85, 5110.3 , 5136.8 , 3637.85, 1830.75, 2879.15, 2739.55,
       5120.7 ,  566.7 , 6157.9 , 6241.2 , 5234.7 , 5682.75, 2538.2 ,
       1871.4 , 6643.1 , 5742.75, 3440.7 , 6542.15, 3772.6 , 4971.95,
       2047.8 , 4025.55, 5080.85, 4362.35, 5370.05, 4134.85, 5744.95,
       2105.55,  313.55, 4307.95, 5018.55, 2147.75, 2942.35, 3807.1 ,
       5484.25,  680.95, 6222.  , 5411.75, 5269.55, 3530.3 , 6370.4 ,
       4296.05,  700.6 , 2420.85, 5675.9 , 6207.55, 5032.85, 4288.35,
       5559.95,  403.7 ,  830.75, 4950.55, 6521.  , 1190.45, 3301.65,
       1926.8 , 5753.35, 5740.2 , 1639.9 , 4058.6 , 2719.55, 3943.45,
       6876.2 , 5542.5 , 6524.45, 2764.7 , 4420.7 , 3868.4 , 5931.45,
       5857.15, 5253.05, 1569.25, 5323.9 , 3919.95,  683.55, 3186.85,
       5592.8 , 5315.7 , 4367.95, 5696.4 ,  691.75, 1243.35, 1313.25,
       5477.05, 6019.4 , 2070.  , 1742.35, 6522.4 , 2699.25, 1673.9 ,
       1879.85, 2819.25, 1614.25, 2231.8 , 3153.75, 6002.75, 3749.  ,
       3438.85, 5192.1 , 1654.3 , 3251.35, 4417.15, 4316.05, 1862.15,
       5497.25, 4252.  ,  655.75, 4638.95, 5196.95, 3668.35,  360.6 ,
       2747.1 , 2831.8 , 4236.  , 1299.6 , 4133.3 , 3806.35, 2563.8 ,
       5931.35, 3036.3 , 2654.5 , 6482.25, 4543.95, 5711.8 , 4058.75,
       4159.35, 6467.9 , 1966.05, 3831.35, 3709.9 , 3982.6 , 2777.9 ,
        612.6 , 2342.35, 2697.6 , 2813.5 , 6205.2 , 5294.9 , 2024.55,
       2618.9 , 2795.4 ,  680.4 , 3818.2 ,  349.2 , 5636.7 , 2901.45,
        650.35, 6844.55, 6486.55,  692.25, 5617.65, 3757.85, 5549.85,
       2709.45, 4406.15, 1559.85, 1443.65, 1586.8 , 6252.05, 1949.7 ,
       3922.45, 4128.75, 6601.05, 2632.75, 2539.15, 4881.35, 6224.  ,
       1285.35, 3572.05, 1582.1 , 3601.1 , 3505.4 , 5167.55, 5235.55,
       1803.55, 7146.9 , 2320.15, 5187.55, 4230.25, 1833.7 , 4053.  ,
       3811.3 , 2748.2 , 2390.05, 5089.7 , 1665.85, 4978.15, 5980.4 ,
       1406.2 , 2478.95, 4754.45, 1627.2 , 3617.65, 4123.3 , 2767.25,
       6592.9 , 1491.6 ,  318.95, 4979.9 , 6621.7 , 5739.8 ,  378.4 ,
       3284.05, 5232.5 , 2123.35, 5161.4 , 5274.95, 6670.85, 4539.  ,
       1463.45, 5238.35, 5052.1 , 1475.7 , 5652.25, 3878.1 , 1584.35,
        873.  , 1363.85, 4555.  , 4616.2 , 1575.7 , 5383.95, 3548.8 ,
       6509.55, 6574.55,  645.25, 2724.25, 5307.1 ,  845.85, 5454.5 ,
       6160.75, 6163.45, 6759.95, 5873.05])

###### Absolute error

In [ ]:
mean_absolute_error(yk3, y_test)

301.3296469366563

### GridSearchCV

##### Parameter grid

In [ ]:
# Loss
weights = ["uniform", "distance"]
# Number of estimators
n_neighbours = [1, 2, 5, 7, 10, 14, 15, 20]
# Criterion for measuring quality of split
p = [1, 2]
# Minimum number of samples required to split a node
leaf_size = [i for i in range(10, 50, 10)]
# Create the random grid
knn_grid = {'weights': weights,
            'n_neighbors': n_neighbours,
            'p': p,
            'leaf_size': leaf_size}

##### GridSearchCV algorithm

In [ ]:
knn = KNeighborsRegressor(n_jobs=-1)

knn_gs = GridSearchCV(estimator = knn, param_grid = knn_grid,
                      scoring="neg_mean_absolute_error",
                      n_jobs=-1, cv=KFold(5), return_train_score=True,
                      verbose=4)

knn_gs.fit(X, y)

Fitting 5 folds for each of 128 candidates, totalling 640 fits

GridSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
             estimator=KNeighborsRegressor(n_jobs=-1), n_jobs=-1,
             param_grid={'leaf_size': [10, 20, 30, 40],
                         'n_neighbors': [1, 2, 5, 7, 10, 14, 15, 20],
                         'p': [1, 2], 'weights': ['uniform', 'distance']},
             return_train_score=True, scoring='neg_mean_absolute_error',
             verbose=4)

In [ ]:
knn_gs.best_estimator_.get_params()

{'algorithm': 'auto',
 'leaf_size': 10,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': -1,
 'n_neighbors': 20,
 'p': 1,
 'weights': 'distance'}

### 2. Best model

##### Defining best model

In [ ]:
knn_best = KNeighborsRegressor(algorithm='auto', leaf_size=10, 
                               metric='minkowski', metric_params=None, 
                               n_jobs=-1, p=1, weights='distance')

##### Cross validation (both accuracy and absolute error)

In [ ]:
(np.mean(cross_val_score(knn_best, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn_best, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.9s finished

(0.9238901692717343, -346.3115188195462)

###### Fit

In [ ]:
knn_best.fit(X_train, y_train)
ybknn = knn_best.predict(X_test)

###### Results

In [ ]:
ybknn

array([5376.44979017,  701.87257425, 2153.51084861, 3161.75779251,
       3334.66238808, 5343.21560057, 6250.23689914,  675.00320328,
       1496.26840723, 4304.83403693, 7140.27682663, 6200.1926661 ,
       4648.13800993, 4554.63431667, 5539.92262326, 1399.84225884,
       1617.86121026,  566.03552037, 4162.23938629, 1222.5059959 ,
       6269.71984667, 4490.68095016,  677.91166079, 5336.6500824 ,
       2445.38607356, 6905.20173927,  340.86180087, 5109.01010211,
       5327.22182454, 5154.64671932, 6346.03993582, 5515.24103973,
       2917.13351733, 6677.33379093, 5613.70154255, 6525.10301698,
       4291.19712643, 1249.52236649, 3666.96027792, 1849.03001107,
       4271.46528147, 5655.68225431, 2615.0679525 , 1847.7436953 ,
       5142.28434374, 3187.04836719,  947.55259071, 2242.50985428,
       6777.34732875, 6197.96978902, 6440.72152239, 6774.8255985 ,
       5023.9617116 , 4913.9856626 , 6130.83415221, 5559.73018772,
       5446.7599344 ,  694.9110202 , 1975.98957356, 1654.19028643,
       1595.94984724, 4408.83485135, 5746.30430972, 4832.92292496,
       6574.49863889, 5364.07807291, 3642.66936796,  631.71810248,
       5080.65931921, 2774.82259914, 3114.14333999, 5451.74587038,
        466.44552131,  672.52697174, 3180.04586093, 3819.14022139,
       1556.61662891, 4586.46176245, 1535.53138251, 3907.9414682 ,
       6594.37006629, 3414.36977333, 1867.66239486, 6118.15931986,
       1778.23547884, 5967.38916165, 5267.27247974, 1905.41866338,
       2664.77066211, 6328.64256361, 4639.49742236, 2506.78601539,
       2734.69496586, 4062.14980937, 5140.53949152, 6418.40183073,
       6824.0508081 , 3730.64352329, 3049.09109884, 4045.19723015,
       2864.30485484, 2215.26689767, 1511.94076585, 3039.81634083,
       6736.1636257 , 6144.72021514, 5840.12591519, 6410.16356977,
       2847.42162846, 5223.34628242, 6318.44126551, 4038.7324115 ,
       1639.43737488, 5130.62296033, 1725.66906083, 5522.36991262,
       1248.80323184, 6096.41156872, 4716.00189234, 5230.71083091,
       3549.55876197, 3642.03547262, 5458.44326924, 1504.50752699,
       6481.54115578, 3898.83961121, 4188.68011222, 2137.10527138,
       1806.02175296, 6247.73748676, 7004.06857521, 3155.78349532,
       2640.6659546 ,  713.54887426, 2918.92874795, 4922.72647534,
       2844.47901662, 3658.67635901, 2805.77619207,  665.31335391,
       7274.13824426,  704.09012987, 5295.76815725, 1609.34989362,
       2884.76850972, 4793.32247275, 6752.59311624, 1266.37565853,
       4081.79966221, 1539.10716362, 2829.77262068, 3935.6502757 ,
       7006.05177786, 2407.66978832, 3264.71799177, 6134.15192133,
       5740.31102458, 2124.70903945, 6125.09384746, 6488.14249462,
       7095.78924016, 7028.53723305, 6591.20138601, 6873.6633491 ,
        664.36622809, 5568.1142249 , 4079.82336312, 3283.41660381,
       1874.26226319, 3665.79033626, 2777.84924476, 6117.4161643 ,
       6104.98283903, 7254.16354344,  813.66748912, 6939.1755427 ,
       2981.89274992, 5713.172487  , 2646.67348919, 3938.67294829,
       4162.04615138,  922.07674277, 5567.26369829, 3613.34220602,
        638.38906908, 1442.33918189, 5162.68202665,  647.37285052,
       1652.33170212, 2871.05380811, 5788.25210573, 5556.09588887,
       4115.94211746, 4518.94850633,  490.45803863, 5878.56160619,
       5309.04317367, 2593.77615668, 3721.98802143, 2137.57783885,
       6762.84832993, 5493.77381317, 3582.69476335, 6141.12553451,
       3062.03056303, 1581.8146273 , 5452.40700916, 1471.84935588,
       2302.95444973, 1486.50768953, 5536.63898987, 3823.76591602,
       1563.41365703, 4090.49745945, 6355.39535467,  462.33950994,
       2517.84870352, 3500.27737846, 7074.09865403, 4658.84568289,
       5558.73998735, 4051.5792291 , 2816.13553393, 6524.90619611,
        934.36970103, 1568.79023946, 5127.62518794, 4242.65751312,
       5585.70091093, 4370.4665829 , 4007.01296933, 2662.35551022,
       2034.25348095, 4671.53421722, 3061.9827221 , 2804.11548085,
       4259.80250422, 3000.07950036, 5453.86961515,  557.90364232,
       4543.98923058, 2001.47353049, 7149.321804  , 3642.87545159,
       4375.41073569, 5462.04836386,  649.51553217, 2819.12866115,
       2706.14304425, 6143.93071373, 2331.21371741, 3267.58607559,
       2589.61368383, 5495.82519391, 3365.5948326 , 6505.2938362 ,
       4203.4427382 , 4907.96504459, 5361.42371496, 5775.45901187,
       1152.36001907, 1574.25286375, 1777.03747061, 5453.43868092,
       4613.87182593, 1569.79513801, 5984.64961692, 5466.68440526,
       6589.67827286, 4493.40004487, 5719.34577864, 2607.00832999,
       2497.38210149, 5443.40738331, 1951.71627307,  698.37725053,
       2618.01812367, 6482.308807  , 3602.03859062, 2734.0083009 ,
       1494.15730896, 5344.76943602, 4581.96854734, 2694.7659687 ,
       1836.13885355, 3786.67796669, 4278.12774795, 5822.18678913,
       1241.05916162, 6190.20762181, 7227.75284871, 3373.88487332,
       3826.59290742,  277.90983189,  704.21916776, 5423.05690534,
       2908.54506285, 1192.98703551, 3236.14445693, 5567.0130539 ,
       2226.95540301, 3746.99403548, 5060.0046403 , 1310.69188482,
       7266.89871644,  380.95221249,  580.39641595, 6086.30480516,
        827.99736068, 5656.32812658, 3111.42001643, 3664.10775349,
       4879.13309681, 2867.08668828, 4392.70271041, 5766.2545785 ,
       3038.5277197 , 6261.20558655, 4976.64688587, 5483.65545131,
       1442.95386765, 1747.32489352, 4131.65008974,  529.61390753,
       6043.11213103, 6057.57516951,  381.53439899, 2183.43042064,
        695.08068175, 1685.82549424, 1242.65730129, 3608.8800987 ,
       2790.90630883, 5847.77394309, 2034.96507386,  472.89038988,
       6300.63014516,  653.0925907 , 6165.08631689, 4271.9761216 ,
       1596.32583839, 2336.92850204, 2360.06498636, 1468.73312904,
       5365.07527491, 3499.47642761, 3681.40178933, 2729.39934302,
        278.05619053, 6409.17645661, 6838.12481662, 3523.81074779,
       6744.45929374, 4300.3101502 , 5224.2514115 , 4807.04416295,
       6416.54096299,  933.04185046, 4557.86469554, 5462.7865712 ,
       6053.44522287, 2451.91018867, 2561.85912745, 5911.73186828,
       3810.08158711, 1561.30715823,  303.57368914, 4558.90562993,
       5709.87338436,  922.35217855, 4778.50905111, 5344.08073363,
       4024.63914634, 6495.25404561, 6070.23603517, 2573.08280075,
       5993.79897386, 1323.19537738, 5199.21479655, 6138.84282025,
       4309.1838734 , 2712.5084841 , 3920.50427808, 1570.80969471,
       3768.42941567, 1533.17073046, 1990.24903201, 1572.49352965,
       5605.90861641, 3820.62758651, 5899.7281806 , 3156.75490976,
       4635.75158008,  678.45907025, 6188.00613672, 4408.38194465,
       6394.49748696, 4135.96235822, 3782.49281126, 2728.49018302,
       7107.13378411, 1595.53536122, 5747.56819517, 5789.2744382 ,
       5099.76846393, 2245.50850055, 4593.94521227, 4292.10793687,
       4347.06546074, 6731.05659765,  704.50214168, 6154.55859125,
       6295.83925872, 2759.98367805, 4110.33227454, 3735.07127521,
       5124.40881349, 1266.34934978, 2635.0055865 , 4957.47806311,
       6629.76690253, 4657.0472937 , 2814.27688949, 2254.64493639,
       1646.88074613, 6440.85071125, 5546.6336787 , 4779.72227977,
       5026.06830284,  547.63801319, 1936.46420387,  471.4419989 ,
       5108.49682804, 5232.11973724,  515.39314485, 4581.80742174,
       7046.67986447, 6897.28894984, 6065.85995924, 2886.73466095,
       5772.64135385, 6090.33944172, 3186.52619847, 1431.24821436,
       4098.05068303, 5185.34645751, 1929.65249824,  648.57075051,
       2252.27063209, 2097.54711243, 1330.16167942, 1459.29554088,
       4555.34767807, 3937.60158378, 5020.65503123,  518.1533105 ,
       4155.71115601, 5912.95362097, 4079.49073501, 5402.62900186,
        808.09182568, 3326.74061812, 6758.05102536, 5645.13025897,
       3849.32649808, 2358.63531555, 5317.13764522, 6423.41805079,
        353.05318741, 5345.53226415,  430.77871944, 1728.85299194,
       2266.29238738, 4378.67686434, 3384.63123118, 2740.5720803 ,
       6601.3509936 , 6161.11605535, 4109.56447312, 1805.33705751,
       5002.19286507, 1789.49040814, 5186.3692823 , 1896.27301519,
        719.02080337, 2702.98968806,  680.06141962, 6716.43707978,
       6270.2575868 , 4840.22193135, 2012.83773984, 6031.86036178,
       1406.76765819,  670.77264467, 2482.27994455, 5047.60199024,
       4556.82183657,  435.82355913, 5385.06792606, 7066.69232335,
        677.78422587, 5137.11409248, 2774.51102854, 6128.4995014 ,
       5421.64504657,  695.32144352, 2173.40350036, 5712.38261072,
       4930.11045312, 6636.76323242, 6423.08707873, 7241.5751857 ,
       5645.81969554,  684.6231724 , 1222.47674661, 1657.81859466,
       4327.03153518, 5049.27927069, 2744.46036867, 3003.39977011,
       2033.38146052, 5258.23496653, 5110.37300216,  353.89531091,
        487.23872891, 3987.62052029, 6035.09533994, 1875.38772314,
       4125.59919353, 6248.23045474, 2948.90933258, 5721.69735225,
       6284.57176378, 3536.13800804, 1598.73463164,  475.49331655,
       4739.70650625, 6804.03540633, 2522.40404292, 4936.76295553,
       5853.24280439, 2103.05184619, 5212.72134185, 5166.30819166,
       5464.93481089, 3844.98267953, 6438.93105345, 6105.97508291,
       1249.71175345, 6777.91999432, 6279.59567687, 2956.90987293,
       2134.9039728 , 3419.27072489, 1320.70335484, 2500.43249751,
       3864.07505085,  698.46171301, 3527.33938317, 6225.21080828,
       1827.93282435, 3995.88818874, 4045.28323823, 6991.75840069,
       5661.10866409, 3017.01183272, 6190.5153355 , 6467.95443348,
       5254.50812396, 6250.17084348, 3920.30113215, 1852.84724752,
        744.00587541, 4138.15343894, 5702.59449835, 1478.66351611,
       3980.40716632, 4330.11070542, 1551.8578681 , 2069.01131071,
       5634.66421223, 1352.06287669, 6016.98791684, 3658.84285886,
       6594.67783453, 2769.53059246, 6658.5283951 , 6173.21192083,
       6204.25350044, 3452.98311768, 5171.34315652, 5365.52498004,
       5358.81339504, 3651.79249998, 6208.81384145,  652.49762792,
        419.7856133 , 4854.22409055, 7196.47163099, 6943.81917336,
       3818.36393263, 1547.09518412, 5954.30654037, 3822.74191602,
       1486.91257803, 6063.67100197, 6643.52040675, 3649.80806681,
       6312.08406039,  432.9512487 , 3493.8362302 , 6810.7852659 ,
       2009.23725808, 2678.28013276, 5645.62207521, 2175.7950534 ,
       5224.05050095, 1363.76695954, 4217.19878993, 5655.92774414,
       1650.68913773, 5352.58476918, 4463.47178522, 6123.57841374,
       6951.50796686, 6918.49466462, 5025.74941307, 4313.10535192,
       4820.7493008 , 4332.9137198 , 4867.68660311, 3926.70392026,
       3895.39997097, 2902.60047585, 5576.54987843, 4676.72828448,
       1576.43913023, 2287.31136949, 3799.4282446 , 5160.85500707,
       5289.66873607, 1902.68320694, 1287.05299899, 6838.76515936,
       4588.67888209, 3493.07653225, 5079.03703401, 5651.99202904,
       2915.32200848, 5766.15488873, 5253.53805137, 2227.18187548,
       2897.87097016, 5092.31518094, 4283.81639784, 2321.4489926 ,
       4646.33941765, 1227.38222794, 4239.58228766, 7095.34356987,
       6737.31420513, 1633.85248394, 2461.47564926, 5329.26560739,
       2481.41962709, 6663.64322708, 5852.87202937, 1563.49952392,
       2921.55982436, 6269.81580745, 4815.06601412, 4335.33206952,
       6193.9145769 , 1553.13570442, 3316.44521443, 4734.17293754,
       6718.11555162, 4354.5421163 , 7232.25193333, 4009.35867845,
       2612.9805863 , 3849.39918855, 5295.96125888, 6420.85079687,
       1581.85905302, 1776.54444381, 5763.67125696, 7554.02822016,
       3622.68828756, 3550.26999257, 1540.13953059, 6224.45795728,
        718.10269085, 2555.72987658, 4615.5529985 , 6430.66778834,
       2232.89181395, 2842.28041578,  633.04924699, 5226.57809088,
       1720.10837456, 7201.67123759, 5349.91684913, 5835.98628391,
       3782.76848151, 5829.41788823, 5407.61130574,  716.63790598,
       4802.09684543,  675.49579433, 6154.17088632, 6608.50307166,
       5493.95402637, 6820.17289048, 3771.38024744, 4938.14885645,
       6370.39525802, 6879.05935569, 6559.36687042, 2610.74501178,
       2019.52154171, 4318.16829122, 2699.88804828, 7155.30527684,
       5435.99121186, 4859.76972358, 7352.36080663, 2675.00635771,
       7002.12304161, 5198.73026806, 5155.08627362, 3508.32254854,
       1669.58170501, 2870.58872891, 2922.79518256, 4995.39397177,
        543.87645866, 5389.96522477, 6359.43875629, 5298.64036025,
       5810.11734887, 2642.03159085, 2204.97381917, 6107.46799355,
       5499.6985543 , 3148.98076286, 6841.42170852, 3768.47559044,
       5212.5736245 , 2041.26583577, 4365.65260985, 4890.33856383,
       3875.18629143, 5435.76096552, 4245.41157812, 6032.30607347,
       2060.74092954,  337.87535225, 4193.43847829, 4921.98949313,
       2238.60338364, 3051.27127103, 3940.39763842, 4997.11562337,
        680.35938922, 6304.04509613, 5173.85321744, 5131.71710492,
       3682.10068842, 6793.69288136, 4220.77411727,  696.33134592,
       2405.38129831, 5107.32906798, 6103.52436639, 4837.70019518,
       4366.29261046, 5585.21483875,  385.16591342,  773.3857588 ,
       5002.71818711, 6499.77462269, 1369.19798118, 3550.94702233,
       2030.34402624, 6145.5196538 , 5686.23000057, 1661.88523187,
       4163.81739545, 2652.95193095, 4088.96732471, 7057.25603012,
       5674.36329548, 6593.97619322, 2840.19166323, 4396.3653238 ,
       4039.95240841, 5681.43358647, 5353.32598678, 5268.59252349,
       1586.13423525, 5255.44927634, 3717.47446258,  695.57219378,
       3166.9284354 , 5806.63576503, 5204.85806385, 4404.17355885,
       5602.02222014,  693.62635587, 1330.01066305, 1314.77281551,
       5063.11259304, 6316.11402814, 1935.80978594, 1504.38989295,
       6755.45176704, 2672.83965681, 1570.68859135, 1764.9274996 ,
       2901.94134045, 1591.37673024, 2383.67333076, 2947.01273475,
       5777.90030551, 3556.67789101, 3126.21868259, 5177.95677833,
       1590.91320777, 3205.43472805, 4535.98103539, 4188.81510077,
       1932.02020225, 6407.93915018, 4355.27996292,  671.79509609,
       4238.21740062, 5667.56746501, 3523.0999912 ,  336.83394895,
       2730.99684075, 2727.79848711, 4388.5013399 , 1242.91225473,
       4178.91666789, 3796.74027811, 2611.30676912, 5527.45704297,
       2972.42598176, 2714.57607176, 6486.16939303, 4329.72642868,
       5938.75280083, 4135.93591659, 4236.46819739, 6220.44906904,
       1792.83743453, 3824.58345027, 3659.16450693, 4019.86443235,
       2674.02265576,  662.32068631, 2203.15637216, 2866.81093898,
       2906.54860022, 6069.21427966, 5407.29187702, 1897.97624795,
       2535.07934976, 2923.2360004 ,  625.99756091, 3987.97119417,
        350.03220692, 5870.21518248, 2957.95760553,  651.50387017,
       7054.60912444, 6244.76069868,  702.13325063, 5286.03375674,
       3780.64157237, 5688.44243354, 2595.83168393, 4492.97471576,
       1558.2645743 , 1450.42489403, 1625.1301983 , 6033.71212787,
       1731.66385203, 3830.63752839, 4000.9072037 , 6473.82702222,
       2545.20988808, 2768.72311033, 3332.90343838, 6012.23651238,
        996.38769199, 3701.58721235, 1474.35900334, 3664.31269233,
       3067.36633288, 5071.38210487, 5325.31982105, 1555.54879295,
       7445.7505531 , 2248.57820704, 5106.56509682, 4499.35576987,
       1855.33543523, 3979.78009257, 3620.77569978, 2853.20455266,
       2433.82109702, 5636.79419687, 1844.72222888, 4922.82656006,
       6023.89394787, 1319.64725672, 2218.21862604, 4570.74624528,
       1621.94368998, 3531.89043101, 4468.13666605, 2820.99063985,
       6738.17872502, 1423.52759822,  277.82565593, 5110.92486225,
       6816.98640237, 5463.56019906,  344.27535015, 3146.82177143,
       5212.66546593, 2040.74145226, 4791.3863188 , 5257.50527478,
       6737.48885507, 4773.01246115, 1359.78457029, 5302.28561775,
       5084.46479845, 1600.54525674, 5991.32907862, 3822.63537436,
       1591.59269935,  893.37935492, 1237.61306627, 3255.9180015 ,
       4637.3119288 , 1596.64906943, 5356.59116315, 3383.7512445 ,
       6727.56579681, 6443.66432682,  688.82287524, 2860.48870019,
       5172.66062394,  858.18502143, 5675.17192781, 6056.47655732,
       6316.53361105, 6468.38338644, 6566.67257048])

###### Absolute error

In [ ]:
mean_absolute_error(ybknn, y_test)

290.824070365135

### Test 2 (on df2)

In [83]:
X = df2[(list(df2.columns[3:-1]))+["Month"]]
y = df2["Raw milk price"]

stratify = df2["Month"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22122,
                                                    stratify=stratify)

In [84]:
X

,Butter,Cheese,Domestic milk intake,Fat content (Percent),Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake,Skimmed milk sales,Skimmed milk powder,Whole milk sales,Month
0,3.8,1.3,123.0,3.87,363.58,431.76,520.38,574.80,661.13,54.6,12.3,2.4,32.1,1
1,5.0,2.4,185.4,3.87,386.08,462.94,539.81,587.47,646.99,38.0,12.6,1.9,29.3,2
2,10.1,10.2,386.5,3.80,409.33,474.93,539.83,603.81,670.93,35.8,12.8,5.0,32.4,3
3,14.8,17.6,581.0,3.59,399.75,457.74,535.86,625.49,690.35,38.7,12.1,10.1,30.4,4
4,19.1,19.3,688.3,3.62,398.11,461.66,536.39,607.95,673.32,46.9,12.8,13.2,31.8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,28.8,29.3,917.4,4.19,480.00,598.07,689.20,801.61,913.59,0.0,15.8,16.4,29.0,8
176,26.5,33.2,776.7,4.43,450.74,570.54,694.88,804.71,915.68,0.0,15.1,11.1,26.6,9
177,21.6,27.5,652.8,4.77,516.00,529.67,656.53,777.37,890.95,0.0,15.8,5.5,26.1,10
178,17.8,20.9,460.6,4.90,419.66,547.42,641.39,762.83,888.34,0.0,15.4,0.0,25.5,11
179,12.2,7.5,256.3,4.74,490.37,623.57,693.47,806.00,912.35,0.0,15.0,7.4,25.2,12

In [85]:
X_train

,Butter,Cheese,Domestic milk intake,Fat content (Percent),Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake,Skimmed milk sales,Skimmed milk powder,Whole milk sales,Month
116,18.5,21.9,583.8,4.33,435.00,566.38,669.24,750.59,855.62,56.7,17.2,7.7,27.2,9
38,10.1,15.5,382.1,3.89,374.87,452.19,515.64,583.73,657.74,33.9,15.4,1.3,29.1,3
155,10.9,5.4,241.4,4.58,449.38,493.91,601.98,720.53,831.40,0.0,16.1,10.2,25.8,12
160,29.8,31.6,1115.3,3.87,593.33,661.74,741.01,853.84,903.46,0.0,15.7,24.6,31.6,5
93,13.5,14.8,426.3,4.49,508.42,584.94,679.65,774.27,863.35,37.4,16.5,0.0,23.6,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,20.3,23.3,699.3,4.08,540.33,605.63,696.53,785.09,884.48,50.8,18.2,11.0,26.8,8
48,4.0,2.5,146.7,3.99,445.22,541.00,614.39,663.88,737.82,28.8,14.5,0.0,27.6,1
108,5.0,2.0,147.6,4.17,534.57,660.13,748.13,817.96,902.65,78.6,17.8,4.4,24.7,1
154,15.1,23.5,418.1,4.84,367.00,475.32,580.84,685.79,792.25,0.0,16.9,0.0,26.8,11
23,4.7,4.7,151.3,4.05,358.54,439.71,523.56,590.67,660.95,32.4,13.4,0.0,29.4,12

In [86]:
y_test

14     39.64
148    31.47
62     33.41
133    37.00
173    37.39
175    39.23
74     34.09
131    40.59
69     35.74
57     38.26
1      27.18
34     28.63
92     35.45
71     33.70
87     38.55
150    31.08
104    29.23
84     42.34
9      44.60
63     30.88
144    34.28
42     31.20
166    39.14
52     32.05
122    31.66
127    37.68
145    34.38
70     35.93
137    31.66
44     33.67
30     22.04
5      32.64
46     34.18
151    31.95
163    33.89
11     43.25
27     22.34
136    31.17
4      29.76
0      28.30
85     41.76
111    24.08
141    38.75
174    37.20
68     33.31
Name: Raw milk price, dtype: float64

#### Random Forest

##### 1. Basic test to test for suitability for remaining sections

In [87]:
#Random forest(basic features, randomized state, squared error scoring)
rf1 = RandomForestRegressor(criterion="absolute_error")

#Random forest, 500 estimators, 20 samples to split a node, min 5 samples at
#leaf nodes, squared error scoring, non-random state set
rf2 = RandomForestRegressor(n_estimators=500, min_samples_split=20, 
                             min_samples_leaf=5, n_jobs=-1, 
                             criterion="absolute_error", random_state=22122)

#Random forest, 1000 estimators, squared error scoring, non-random state set
rf3 = RandomForestRegressor(n_estimators=1000, n_jobs=-1,
                            criterion="absolute_error", random_state=22122)

##### Cross-validation tests (accuracy and mean average error)

In [88]:
(np.mean(cross_val_score(rf1, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf1, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.3s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.6s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.3s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.6s finished

(0.025556105110798488, -3.842829240907574)

In [89]:
(np.mean(cross_val_score(rf2, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf2, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.4s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.4s finished

(0.07397912880826814, -3.8190363790123465)

In [90]:
(np.mean(cross_val_score(rf3, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf3, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.5s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s

[CV] END .................................................... total time=   0.8s
[CV] END .................................................... total time=   0.5s
[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.7s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.5s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.5s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s

[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.7s
[CV] END .................................................... total time=   0.7s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.4s finished

(0.024434294168202086, -3.847246824841489)

In [91]:
rf1.fit(X_train, y_train)
y1 = rf1.predict(X_test)

In [92]:
y1

array([34.74599381, 33.0581    , 31.0757    , 35.4088    , 33.8904    ,
       34.1312    , 33.1917    , 39.7291    , 37.0644    , 35.8978    ,
       28.47344072, 32.39314691, 37.9502    , 36.00549381, 35.7566    ,
       32.4322    , 33.9661    , 35.9773    , 30.53323453, 30.1555    ,
       35.5545    , 30.08524691, 41.346     , 33.6169    , 29.0662    ,
       31.5355    , 36.2563    , 36.1435    , 32.6667    , 32.24629381,
       26.11234691, 30.8336    , 36.60059381, 33.1083    , 33.3637    ,
       32.11619742, 29.6289    , 32.7555    , 29.9034    , 30.91238144,
       35.2892    , 31.0299    , 36.9887    , 33.0775    , 37.4262    ])

In [93]:
mean_absolute_error(y_test, y1)

3.10975638038038

In [94]:
rf2.fit(X_train, y_train)
y2 = rf2.predict(X_test)

In [95]:
y2

array([33.8184685 , 32.93777876, 29.84692469, 34.23161753, 32.03387938,
       33.87410753, 32.92572222, 37.76806938, 36.85645814, 36.26147283,
       29.34980912, 31.5043116 , 35.6217016 , 35.09462665, 34.96523222,
       32.78119567, 34.09342407, 34.86300283, 29.05714098, 29.79001   ,
       33.87035567, 29.80120789, 38.13691   , 33.48722691, 30.838     ,
       32.65791814, 35.48321283, 36.64178691, 33.37959876, 31.48534258,
       27.87919283, 29.94587814, 34.85864222, 33.45558629, 33.24407222,
       28.86157443, 30.59488691, 33.07645407, 29.76090753, 29.24660443,
       34.7523916 , 32.50456407, 36.81332407, 32.82997222, 35.5149316 ])

In [96]:
mean_absolute_error(y_test, y2)

3.309340131731728

In [97]:
rf3.fit(X_train, y_train)
y3 = rf3.predict(X_test)

In [98]:
y3

array([34.27621783, 33.299625  , 31.217175  , 34.81404   , 32.925365  ,
       33.74355   , 32.669975  , 39.38235   , 37.363165  , 36.45116   ,
       28.14778567, 33.48032691, 37.53891   , 35.03198567, 35.85386   ,
       32.20647969, 33.25003   , 35.50182   , 30.37642381, 30.493355  ,
       34.73925   , 30.55473196, 41.674865  , 33.711775  , 29.35486   ,
       32.04023   , 35.9455    , 36.89729469, 32.904945  , 32.06290356,
       26.29558345, 30.50896814, 36.78558505, 33.055425  , 33.0138    ,
       31.60775324, 29.19418938, 32.75617   , 30.64047938, 29.68062541,
       35.22256   , 31.15919   , 37.650095  , 33.454865  , 37.24251938])

In [99]:
mean_absolute_error(y_test, y3)

3.1212365808475306

In [100]:
rf4 = clone(rf3)

In [101]:
#Create Random Feature elimination for above model
selector1 = RFECV(rf4, cv=5, step=1, n_jobs=-1, verbose=2, min_features_to_select=7)

#Fit all data
selector1.fit(X, y)

Fitting estimator with 14 features.

RFECV(cv=5,
      estimator=RandomForestRegressor(criterion='absolute_error',
                                      n_estimators=1000, n_jobs=-1,
                                      random_state=22122),
      min_features_to_select=7, n_jobs=-1, verbose=2)

In [102]:
selector1.ranking_

array([1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [111]:
X.columns

Index(['Butter', 'Cheese', 'Domestic milk intake', 'Fat content (Percent)',
       'Heifers 200-249kg', 'Heifers 250-299kg', 'Heifers 300-349kg',
       'Heifers 350-399kg', 'Heifers 400-449kg', 'Imported milk intake',
       'Skimmed milk sales', 'Skimmed milk powder', 'Whole milk sales',
       'Month'],
      dtype='object')

In [112]:
rankings = selector1.ranking_
columns_to_choose = [X.columns[i] for i in range(len(X.columns)) if rankings[i] == 1]
rfe_rfX = X[columns_to_choose]
rfe_rfX_train = X_train[columns_to_choose]
rfe_rfX_test = X_test[columns_to_choose]

In [113]:
columns_to_choose

['Butter',
 'Cheese',
 'Fat content (Percent)',
 'Heifers 200-249kg',
 'Heifers 250-299kg',
 'Heifers 300-349kg',
 'Heifers 350-399kg',
 'Heifers 400-449kg',
 'Imported milk intake',
 'Skimmed milk sales',
 'Skimmed milk powder',
 'Whole milk sales',
 'Month']

In [106]:
(np.mean(cross_val_score(rf4, rfe_rfX, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf4, rfe_rfX, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.5s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s

[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.6s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.4s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.6s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s

[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.6s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.5s finished

(0.029547300346289208, -3.8378496902569097)

In [107]:
rf4.fit(rfe_rfX_train, y_train)
y4 = rf4.predict(rfe_rfX_test)

In [108]:
y4

array([34.28069098, 32.95301   , 31.17581   , 34.88100969, 32.82501   ,
       33.83783   , 32.45299   , 39.614305  , 37.36330469, 36.294185  ,
       28.12119629, 33.21153814, 37.48103   , 35.0328882 , 35.87242   ,
       32.29058469, 33.163975  , 35.48971469, 30.27340727, 30.39229   ,
       34.65517969, 30.72022134, 41.61203   , 33.70402   , 29.32339   ,
       32.02822   , 35.84177   , 36.76382907, 32.96359   , 32.02810417,
       26.35172469, 30.63005814, 36.83658443, 33.10071   , 33.08944   ,
       31.64358067, 29.03724   , 32.70638   , 30.85744407, 29.82773727,
       35.18587469, 31.13211   , 37.6098    , 33.87883   , 37.01706438])

In [109]:
mean_absolute_error(y4, y_test)

3.0917279771771886

In [117]:
n_estimators = [i for i in range(100, 1001, 100)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [i for i in range(10, 101, 10)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 3, 4, 5, 7, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap,
               'criterion': criterion}

In [118]:
rf = RandomForestRegressor(random_state=22122,
                           n_jobs=-1)

gs_random = GridSearchCV(estimator = rf, param_grid = random_grid,
                               scoring="neg_mean_absolute_error",
                               n_jobs=-1, cv=KFold(5), return_train_score=True,
                               verbose=4)

gs_random.fit(X, y)

Fitting 5 folds for each of 15840 candidates, totalling 79200 fits

GridSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
             estimator=RandomForestRegressor(n_jobs=-1, random_state=22122),
             n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['absolute_error', 'squared_error'],
                         'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100,
                                       None],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 3, 4, 5, 7, 10],
                         'n_estimators': [100, 200, 300, 400, 500, 600, 700,
                                          800, 900, 1000]},
             return_train_score=True, scoring='neg_mean_absolute_error',
             verbose=4)

In [120]:
rfr2 = RandomForestRegressor(random_state=22122,
                           n_jobs=-1)

gs_randomr2 = GridSearchCV(estimator = rf, param_grid = random_grid,
                               scoring="r2",
                               n_jobs=8, cv=KFold(5), return_train_score=True,
                               verbose=4)

gs_randomr2.fit(X, y)

Fitting 5 folds for each of 15840 candidates, totalling 79200 fits

GridSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
             estimator=RandomForestRegressor(n_jobs=-1, random_state=22122),
             n_jobs=8,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['absolute_error', 'squared_error'],
                         'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100,
                                       None],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 3, 4, 5, 7, 10],
                         'n_estimators': [100, 200, 300, 400, 500, 600, 700,
                                          800, 900, 1000]},
             return_train_score=True, scoring='r2', verbose=4)

In [122]:
gs_randomr2.best_estimator_

RandomForestRegressor(max_features='sqrt', min_samples_leaf=4,
                      min_samples_split=10, n_estimators=400, n_jobs=-1,
                      random_state=22122)

In [119]:
gs_random.best_estimator_

RandomForestRegressor(max_depth=10, max_features='sqrt', min_samples_leaf=4,
                      min_samples_split=10, n_estimators=900, n_jobs=-1,
                      random_state=22122)

In [123]:
rf_best = clone(gs_random.best_estimator_)

##### Cross validation (both accuracy and absolute error)

In [124]:
(np.mean(cross_val_score(rf_best, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf_best, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   4.0s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.0s remaining:    0.0s

[CV] END .................................................... total time=   0.9s
[CV] END .................................................... total time=   0.9s
[CV] END .................................................... total time=   0.8s
[CV] END .................................................... total time=   0.8s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    7.9s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.8s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.8s remaining:    0.0s

[CV] END .................................................... total time=   0.9s
[CV] END .................................................... total time=   0.8s
[CV] END .................................................... total time=   0.8s
[CV] END .................................................... total time=   0.6s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    4.4s finished

(0.1042549832330831, -3.6961069489397524)

In [125]:
X_train

,Butter,Cheese,Domestic milk intake,Fat content (Percent),Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake,Skimmed milk sales,Skimmed milk powder,Whole milk sales,Month
116,18.5,21.9,583.8,4.33,435.00,566.38,669.24,750.59,855.62,56.7,17.2,7.7,27.2,9
38,10.1,15.5,382.1,3.89,374.87,452.19,515.64,583.73,657.74,33.9,15.4,1.3,29.1,3
155,10.9,5.4,241.4,4.58,449.38,493.91,601.98,720.53,831.40,0.0,16.1,10.2,25.8,12
160,29.8,31.6,1115.3,3.87,593.33,661.74,741.01,853.84,903.46,0.0,15.7,24.6,31.6,5
93,13.5,14.8,426.3,4.49,508.42,584.94,679.65,774.27,863.35,37.4,16.5,0.0,23.6,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,20.3,23.3,699.3,4.08,540.33,605.63,696.53,785.09,884.48,50.8,18.2,11.0,26.8,8
48,4.0,2.5,146.7,3.99,445.22,541.00,614.39,663.88,737.82,28.8,14.5,0.0,27.6,1
108,5.0,2.0,147.6,4.17,534.57,660.13,748.13,817.96,902.65,78.6,17.8,4.4,24.7,1
154,15.1,23.5,418.1,4.84,367.00,475.32,580.84,685.79,792.25,0.0,16.9,0.0,26.8,11
23,4.7,4.7,151.3,4.05,358.54,439.71,523.56,590.67,660.95,32.4,13.4,0.0,29.4,12

In [126]:
X_test

,Butter,Cheese,Domestic milk intake,Fat content (Percent),Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake,Skimmed milk sales,Skimmed milk powder,Whole milk sales,Month
14,9.4,13.7,379.8,3.83,458.72,521.06,602.46,662.80,737.54,40.7,13.4,2.3,29.8,3
148,31.0,31.7,1072.2,3.85,446.33,562.41,670.29,782.83,910.06,55.5,17.2,24.2,28.2,5
62,13.9,18.1,473.0,3.99,643.39,753.95,836.96,926.91,1019.91,32.3,16.4,2.5,26.6,3
133,9.5,8.6,294.2,4.25,523.60,610.55,717.41,822.83,908.00,67.5,16.8,0.0,26.6,2
173,31.5,35.7,1067.3,3.97,485.51,608.60,730.25,844.54,965.24,0.0,15.0,19.3,29.7,6
175,28.8,29.3,917.4,4.19,480.00,598.07,689.20,801.61,913.59,0.0,15.8,16.4,29.0,8
74,12.1,17.9,468.1,3.97,522.05,619.77,732.02,826.26,942.24,37.1,15.9,3.0,25.3,3
131,11.4,5.0,205.5,4.57,467.38,551.46,636.88,765.40,877.70,0.0,17.3,0.0,27.1,12
69,10.0,15.0,364.3,4.34,446.00,516.86,631.03,730.85,851.75,28.3,15.6,0.0,25.3,10
57,11.4,12.2,377.7,4.33,524.12,627.50,679.09,762.47,831.43,26.7,15.2,3.1,26.3,10
1,5.0,2.4,185.4,3.87,386.08,462.94,539.81,587.47,646.99,38.0,12.6,1.9,29.3,2
34,6.1,7.3,220.8,4.28,288.00,381.14,449.24,515.80,604.74,0.0,13.7,0.0,27.2,11
92,15.7,22.1,519.2,4.17,478.33,574.39,652.47,748.98,842.18,38.6,16.0,4.9,23.2,9
71,4.1,2.3,136.2,4.14,475.60,576.64,622.31,737.52,852.57,31.1,14.8,0.0,25.5,12
87,17.3,22.8,697.0,3.87,472.67,589.84,689.85,806.49,908.97,43.6,15.0,6.5,21.9,4
150,28.2,28.6,943.2,3.96,441.51,517.36,627.91,722.09,827.06,53.3,15.7,19.1,29.1,7
104,18.8,26.8,605.7,4.24,568.00,614.69,726.91,833.69,929.82,39.6,17.6,10.9,24.5,9
84,4.4,2.3,132.0,4.11,498.38,597.40,704.50,789.13,867.04,38.8,16.9,0.0,23.5,1
9,10.3,12.4,409.1,4.12,340.89,394.95,465.17,537.92,611.52,33.7,13.5,4.0,31.9,10
63,16.9,22.0,637.2,3.81,611.18,705.56,801.97,902.62,1006.71,38.9,15.1,6.3,24.1,4
144,8.2,3.6,175.3,4.21,466.76,541.53,631.18,766.40,835.39,71.3,17.9,5.2,26.9,1
42,16.0,20.2,625.2,3.75,333.82,442.50,524.75,592.37,670.09,30.9,14.2,8.0,26.6,7
166,17.6,21.4,449.8,4.86,431.25,514.29,636.42,740.91,834.40,0.0,14.5,0.0,25.0,11
52,19.0,24.7,737.9,3.69,495.43,582.13,658.38,740.76,829.63,35.7,15.0,8.5,27.3,5
122,20.3,20.3,620.9,4.14,543.93,635.54,737.95,832.43,931.48,74.6,18.8,5.5,27.7,3
127,23.3,21.0,786.6,4.08,534.06,607.90,690.06,795.18,903.86,61.4,17.8,11.5,27.6,8
145,10.6,9.2,303.6,4.32,475.98,563.93,704.12,808.93,878.64,71.1,16.6,0.0,25.3,2
70,7.8,6.2,227.7,4.38,511.91,517.69,632.79,742.64,836.14,33.9,15.4,0.0,25.5,11
137,25.6,27.5,924.7,3.82,470.56,564.35,668.71,790.91,904.34,0.0,17.0,18.6,26.8,6
44,13.2,19.5,492.2,4.01,375.46,446.14,511.64,594.40,674.21,28.1,14.3,4.8,26.5,9
30,14.5,18.8,578.7,3.73,347.85,391.08,463.21,558.28,634.31,34.3,13.7,10.5,27.7,7
5,21.1,20.7,645.2,3.66,404.58,452.80,515.49,590.33,662.78,45.7,12.5,14.3,30.8,6
46,9.5,9.7,304.0,4.35,378.00,454.09,532.12,603.83,666.20,28.2,14.8,0.0,27.4,11
151,25.5,31.4,842.8,4.16,441.67,497.00,594.76,700.46,803.22,0.0,16.6,12.3,28.6,8
163,26.2,29.7,867.6,4.17,533.75,582.94,667.02,765.94,853.00,0.0,15.4,17.8,28.9,8
11,4.6,1.6,148.2,4.05,372.11,413.96,482.85,563.22,635.17,38.2,13.0,2.8,30.2,12
27,13.7,17.3,562.6,3.67,371.76,449.14,529.72,609.78,689.76,36.2,12.4,9.6,26.2,4
136,27.5,25.2,993.1,3.81,456.61,552.89,676.97,806.81,935.29,0.0,17.9,20.4,29.1,5
4,19.1,19.3,688.3,3.62,398.11,461.66,536.39,607.95,673.32,46.9,12.8,13.2,31.8,5
0,3.8,1.3,123.0,3.87,363.58,431.76,520.38,574.80,661.13,54.6,12.3,2.4,32.1,1
85,6.2,6.5,214.0,4.11,506.55,612.72,704.99,790.58,884.23,37.6,15.4,0.8,21.3,2
111,21.7,20.4,760.8,4.00,520.82,623.94,721.27,836.83,942.54,85.7,17.9,14.3,25.8,4
141,20.3,22.4,642.0,4.53,440.95,492.60,564.13,679.85,819.36,62.9,17.9,10.1,27.3,10
174,30.8,29.5,1017.3,3.99,515.19,623.33,723.04,837.85,941.82,0.0,15.1,17.1,30.2,7
68,10.8,21.4,446.6,4.13,437.14,505.04,632.16,741.25,850.70,26.7,15.2,3.6,24.5,9

###### Fit

In [127]:
rf_best.fit(X_train, y_train)
ybrf = rf_best.predict(X_test)

###### Results

In [128]:
ybrf

array([34.97108996, 33.19757135, 31.10815026, 34.5091964 , 32.3000421 ,
       34.35457088, 33.13079903, 38.79322207, 38.01543463, 37.40663725,
       28.60968499, 32.83186666, 37.0091843 , 36.25074888, 35.41937209,
       32.73911411, 33.74564663, 35.38891571, 31.14642433, 30.21448205,
       34.8226295 , 29.90862064, 39.9186443 , 34.01996226, 30.03947154,
       32.68681519, 35.37002482, 37.5837728 , 33.644747  , 32.73962207,
       28.58474592, 30.10816886, 35.11779974, 33.47001973, 33.31657645,
       31.46412047, 29.29349809, 33.47282074, 29.57890057, 29.57925069,
       35.1714623 , 31.63659309, 36.2372487 , 33.13248663, 36.9509887 ])

###### Absolute error

In [129]:
mean_absolute_error(ybrf, y_test)

3.1752967417493214

##### 4. Best model from 3 with RFE applied

##### Apply RFE (with cross-validation)

In [130]:
#Clone best performing model of previous section
rf_best2 = clone(rf_best)

#Create Random Feature elimination for above model
selector = RFECV(rf_best2, cv=5, step=1, n_jobs=-1, verbose=2, min_features_to_select=len(X.columns) // 2)

#Fit all data
selector.fit(X, y)

Fitting estimator with 14 features.
Fitting estimator with 13 features.

RFECV(cv=5,
      estimator=RandomForestRegressor(max_depth=10, max_features='sqrt',
                                      min_samples_leaf=4, min_samples_split=10,
                                      n_estimators=900, n_jobs=-1,
                                      random_state=22122),
      min_features_to_select=7, n_jobs=-1, verbose=2)

In [131]:
selector.ranking_

array([1, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [132]:
X.columns

Index(['Butter', 'Cheese', 'Domestic milk intake', 'Fat content (Percent)',
       'Heifers 200-249kg', 'Heifers 250-299kg', 'Heifers 300-349kg',
       'Heifers 350-399kg', 'Heifers 400-449kg', 'Imported milk intake',
       'Skimmed milk sales', 'Skimmed milk powder', 'Whole milk sales',
       'Month'],
      dtype='object')

##### Define model with new data

In [133]:
rankings = selector.ranking_
columns_to_choose = [X.columns[i] for i in range(len(X.columns)) if rankings[i] == 1]
rfe_rfX_best = X[columns_to_choose]
rfe_rfX_best_train = X_train[columns_to_choose]
rfe_rfX_best_test = X_test[columns_to_choose]

##### Cross validation (both accuracy and absolute error)

In [134]:
(np.mean(cross_val_score(rf_best2, rfe_rfX, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf_best2, rfe_rfX, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   1.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.2s remaining:    0.0s

[CV] END .................................................... total time=   0.9s
[CV] END .................................................... total time=   0.9s
[CV] END .................................................... total time=   0.8s
[CV] END .................................................... total time=   0.6s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    4.9s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.6s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s

[CV] END .................................................... total time=   0.5s
[CV] END .................................................... total time=   0.5s
[CV] END .................................................... total time=   0.5s
[CV] END .................................................... total time=   0.5s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.2s finished

(0.10800966741991021, -3.6973292186639584)

###### Fit

In [135]:
rf_best2.fit(rfe_rfX_best_train, y_train)
ybrf2 = rf_best2.predict(rfe_rfX_best_test)

###### Results

In [136]:
ybrf2

array([34.92009036, 33.16597316, 30.99350879, 34.28137997, 32.35937164,
       34.81754985, 32.91581155, 39.43447693, 37.77316038, 37.22412135,
       28.41582694, 32.80939969, 37.04685965, 36.33094806, 35.59947944,
       32.74623028, 33.80669607, 35.4792382 , 31.09751731, 30.33332316,
       34.77613071, 29.86989799, 39.88952744, 34.03707153, 29.94740826,
       32.73158831, 35.2253438 , 37.59848428, 33.8285871 , 32.58901476,
       28.23487   , 30.13101173, 35.16411543, 33.46544315, 33.48256041,
       31.32242613, 28.95165853, 33.56234853, 29.52818973, 29.38699415,
       35.2661851 , 31.4480653 , 36.44696872, 33.09632399, 36.77805061])

###### Absolute error

In [137]:
mean_absolute_error(ybrf2, y_test)

3.1272075790569773

### K-Nearest Neighbour Regression

### 1. Basic test models with all features

In [138]:
#KNeighbors Regressor, default parameters
knn1 = KNeighborsRegressor(n_jobs=-1)

#KNeighbors Regressor, estimates from 10 nearest neighbours, each leaf has 10
#samples
knn2 = KNeighborsRegressor(n_neighbors=10, leaf_size=50, n_jobs=-1)

#KNeighbors Regressor, estimates from 10 nearest neighbours
knn3 = KNeighborsRegressor(n_neighbors=20, n_jobs=-1)

#### Cross validation tests (both accuracy and average error)

In [139]:
(np.mean(cross_val_score(knn1, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn1, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   2.9s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

(-0.041486826287366795, -3.891136483149816)

In [140]:
(np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished

(-0.055084719315495946, -3.8821201601601594)

In [141]:
(np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished

(-0.055084719315495946, -3.8821201601601594)

#### KNeighbors Regressor 1

###### Fit

In [142]:
knn1.fit(X_train, y_train)
yk1 = knn1.predict(X_test)

###### Results

In [143]:
yk1

array([30.828     , 32.574     , 29.66      , 34.882     , 33.816     ,
       32.496     , 36.614     , 37.486     , 41.954     , 38.596     ,
       29.72493814, 32.452     , 35.698     , 36.766     , 35.62      ,
       31.428     , 28.998     , 36.166     , 29.074     , 27.368     ,
       35.874     , 28.236     , 37.196     , 34.436     , 28.998     ,
       31.466     , 34.96      , 37.74      , 31.506     , 34.222     ,
       27.966     , 29.06      , 33.196     , 33.584     , 32.088     ,
       29.88893814, 30.892     , 31.642     , 28.874     , 28.61293814,
       35.776     , 28.94      , 35.008     , 33.486     , 39.624     ])

###### Absolute error

In [144]:
mean_absolute_error(yk1, y_test)

3.547931958625292

#### KNeighbors Regressor 2

###### Fit

In [145]:
knn2.fit(X_train, y_train)
yk2 = knn2.predict(X_test)

###### Results

In [146]:
yk2

array([33.52      , 32.913     , 29.309     , 35.145     , 32.146     ,
       32.661     , 33.836     , 38.235     , 39.575     , 38.624     ,
       32.24146907, 30.12046907, 37.37      , 35.913     , 35.874     ,
       33.4       , 31.562     , 35.535     , 32.164     , 28.533     ,
       36.739     , 29.892     , 39.002     , 33.631     , 30.989     ,
       32.65      , 38.117     , 37.873     , 32.661     , 32.021     ,
       29.993     , 29.892     , 31.085     , 33.885     , 33.175     ,
       32.24146907, 31.56      , 32.709     , 30.139     , 32.24146907,
       37.398     , 31.533     , 35.242     , 31.893     , 38.905     ])

###### Absolute error

In [147]:
mean_absolute_error(yk2, y_test)

3.555931958625292

#### KNeighbors Regressor 3

###### Fit

In [148]:
knn3.fit(X_train, y_train)
yk3 = knn3.predict(X_test)

###### Results

In [149]:
yk3

array([35.1745    , 32.5735    , 32.1555    , 37.001     , 32.209     ,
       32.204     , 35.9905    , 37.218     , 38.555     , 38.967     ,
       31.92223453, 30.94723453, 37.6235    , 36.84      , 34.6605    ,
       33.4035    , 32.8395    , 36.166     , 30.3535    , 30.281     ,
       36.286     , 32.04      , 37.6905    , 35.37      , 33.199     ,
       32.9895    , 37.778     , 37.369     , 32.6115    , 31.004     ,
       30.2615    , 32.0985    , 32.72273453, 34.653     , 32.568     ,
       31.29373453, 31.676     , 32.3595    , 32.106     , 31.92223453,
       36.1605    , 32.2905    , 34.616     , 32.209     , 37.686     ])

###### Absolute error

In [150]:
mean_absolute_error(yk3, y_test)

3.6299274341007672

### GridSearchCV

##### Parameter grid

In [151]:
# Loss
weights = ["uniform", "distance"]
# Number of estimators
n_neighbours = [1, 2, 5, 7, 10, 14, 15, 20]
# Criterion for measuring quality of split
p = [1, 2]
# Minimum number of samples required to split a node
leaf_size = [i for i in range(10, 50, 10)]
# Create the random grid
knn_grid = {'weights': weights,
            'n_neighbors': n_neighbours,
            'p': p,
            'leaf_size': leaf_size}

##### GridSearchCV algorithm

In [152]:
knn = KNeighborsRegressor(n_jobs=-1)

knn_gs = GridSearchCV(estimator = knn, param_grid = knn_grid,
                      scoring="neg_mean_absolute_error",
                      n_jobs=-1, cv=KFold(5), return_train_score=True,
                      verbose=4)

knn_gs.fit(X, y)

Fitting 5 folds for each of 128 candidates, totalling 640 fits

GridSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
             estimator=KNeighborsRegressor(n_jobs=-1), n_jobs=-1,
             param_grid={'leaf_size': [10, 20, 30, 40],
                         'n_neighbors': [1, 2, 5, 7, 10, 14, 15, 20],
                         'p': [1, 2], 'weights': ['uniform', 'distance']},
             return_train_score=True, scoring='neg_mean_absolute_error',
             verbose=4)

In [153]:
knn_gs.best_estimator_.get_params()

{'algorithm': 'auto',
 'leaf_size': 10,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': -1,
 'n_neighbors': 7,
 'p': 2,
 'weights': 'distance'}

### 2. Best model

##### Defining best model

In [154]:
knn_best = KNeighborsRegressor(algorithm='auto', leaf_size=10, 
                               metric='minkowski', metric_params=None,
                               n_neighbors=7,
                               n_jobs=-1, p=2, weights='distance')

##### Cross validation (both accuracy and absolute error)

In [155]:
(np.mean(cross_val_score(knn_best, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn_best, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s
[CV] END .................................................... total time=   0.0s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished

(-0.01970503462869877, -3.805300153267807)

###### Fit

In [156]:
knn_best.fit(X_train, y_train)
ybknn = knn_best.predict(X_test)

###### Results

In [157]:
ybknn

array([31.65934829, 32.87490208, 29.60272644, 35.29974423, 33.94058158,
       33.0526848 , 36.37894423, 38.23067868, 40.60445723, 37.53704755,
       29.25724848, 32.25709335, 35.88198158, 35.57830727, 34.98432589,
       31.85086726, 30.38333202, 35.86249523, 29.69012748, 28.00150497,
       35.86786174, 28.28677424, 39.08564048, 34.37810827, 29.03564667,
       30.30262399, 37.4174427 , 38.56504195, 31.92717699, 31.59247317,
       29.19816196, 30.18606041, 31.62496828, 33.94736749, 34.09896795,
       29.04446885, 31.52848789, 32.23553546, 30.42016784, 29.29588386,
       37.37518797, 28.67399304, 35.19885864, 33.32337338, 39.09799776])

###### Absolute error

In [158]:
mean_absolute_error(ybknn, y_test)

3.5580441598370163

# Tests

### Test 1 (on df1)

In [24]:
df2

,Year,Month,Raw milk price,Butter,Calf nuts value,Cheese,Dairy meal value,Dairy nuts value,Domestic milk intake,Fat content (Percent),Imported milk intake,Maize meal value,Skimmed milk sales,Skimmed milk powder,Whole milk sales,Milk production volume
0,2007,1,28.30,3.8,0.0,1.3,0.0,0.0,123.0,3.87,54.6,0.0,12.3,2.4,32.1,177.6
1,2007,2,27.18,5.0,0.0,2.4,0.0,0.0,185.4,3.87,38.0,0.0,12.6,1.9,29.3,223.4
2,2007,3,25.64,10.1,0.0,10.2,0.0,0.0,386.5,3.80,35.8,0.0,12.8,5.0,32.4,422.3
3,2007,4,27.29,14.8,0.0,17.6,0.0,0.0,581.0,3.59,38.7,0.0,12.1,10.1,30.4,619.7
4,2007,5,29.76,19.1,0.0,19.3,0.0,0.0,688.3,3.62,46.9,0.0,12.8,13.2,31.8,735.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,2021,8,39.23,28.8,355.0,29.3,316.0,324.0,917.4,4.19,0.0,293.0,15.8,16.4,29.0,917.4
176,2021,9,42.44,26.5,360.0,33.2,323.0,332.0,776.7,4.43,0.0,299.0,15.1,11.1,26.6,776.7
177,2021,10,46.52,21.6,365.0,27.5,328.0,339.0,652.8,4.77,0.0,309.0,15.8,5.5,26.1,652.8
178,2021,11,48.65,17.8,370.0,20.9,333.0,344.0,460.6,4.90,0.0,314.0,15.4,0.0,25.5,460.6
179,2021,12,48.46,12.2,374.0,7.5,341.0,350.0,256.3,4.74,0.0,323.0,15.0,7.4,25.2,256.3

In [39]:
X2 = df2[["Month"]+(list(df1.columns[3:-1]))]
y2 = df2["Raw milk price"]

stratify2 = df2["Month"]

X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, random_state=22122,
                                                        stratify=stratify2)

In [40]:
X2

,Month,Butter,Calf nuts value,Cheese,Dairy meal value,Dairy nuts value,Domestic milk intake,Fat content (Percent),Imported milk intake,Maize meal value,Skimmed milk sales,Skimmed milk powder,Whole milk sales
0,1,3.8,0.0,1.3,0.0,0.0,123.0,3.87,54.6,0.0,12.3,2.4,32.1
1,2,5.0,0.0,2.4,0.0,0.0,185.4,3.87,38.0,0.0,12.6,1.9,29.3
2,3,10.1,0.0,10.2,0.0,0.0,386.5,3.80,35.8,0.0,12.8,5.0,32.4
3,4,14.8,0.0,17.6,0.0,0.0,581.0,3.59,38.7,0.0,12.1,10.1,30.4
4,5,19.1,0.0,19.3,0.0,0.0,688.3,3.62,46.9,0.0,12.8,13.2,31.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,8,28.8,355.0,29.3,316.0,324.0,917.4,4.19,0.0,293.0,15.8,16.4,29.0
176,9,26.5,360.0,33.2,323.0,332.0,776.7,4.43,0.0,299.0,15.1,11.1,26.6
177,10,21.6,365.0,27.5,328.0,339.0,652.8,4.77,0.0,309.0,15.8,5.5,26.1
178,11,17.8,370.0,20.9,333.0,344.0,460.6,4.90,0.0,314.0,15.4,0.0,25.5
179,12,12.2,374.0,7.5,341.0,350.0,256.3,4.74,0.0,323.0,15.0,7.4,25.2

In [41]:
X2_train

,Month,Butter,Calf nuts value,Cheese,Dairy meal value,Dairy nuts value,Domestic milk intake,Fat content (Percent),Imported milk intake,Maize meal value,Skimmed milk sales,Skimmed milk powder,Whole milk sales
116,9,18.5,295.0,21.9,251.0,271.0,583.8,4.33,56.7,230.0,17.2,7.7,27.2
38,3,10.1,0.0,15.5,0.0,0.0,382.1,3.89,33.9,0.0,15.4,1.3,29.1
155,12,10.9,312.0,5.4,266.0,286.0,241.4,4.58,0.0,230.0,16.1,10.2,25.8
160,5,29.8,320.0,31.6,273.0,291.0,1115.3,3.87,0.0,232.0,15.7,24.6,31.6
93,10,13.5,279.0,14.8,250.0,270.0,426.3,4.49,37.4,227.0,16.5,0.0,23.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,8,20.3,295.0,23.3,252.0,270.0,699.3,4.08,50.8,232.0,18.2,11.0,26.8
48,1,4.0,0.0,2.5,0.0,0.0,146.7,3.99,28.8,0.0,14.5,0.0,27.6
108,1,5.0,296.0,2.0,264.0,272.0,147.6,4.17,78.6,219.0,17.8,4.4,24.7
154,11,15.1,312.0,23.5,267.0,286.0,418.1,4.84,0.0,229.0,16.9,0.0,26.8
23,12,4.7,0.0,4.7,0.0,0.0,151.3,4.05,32.4,0.0,13.4,0.0,29.4

In [42]:
y2_test

14     39.64
148    31.47
62     33.41
133    37.00
173    37.39
175    39.23
74     34.09
131    40.59
69     35.74
57     38.26
1      27.18
34     28.63
92     35.45
71     33.70
87     38.55
150    31.08
104    29.23
84     42.34
9      44.60
63     30.88
144    34.28
42     31.20
166    39.14
52     32.05
122    31.66
127    37.68
145    34.38
70     35.93
137    31.66
44     33.67
30     22.04
5      32.64
46     34.18
151    31.95
163    33.89
11     43.25
27     22.34
136    31.17
4      29.76
0      28.30
85     41.76
111    24.08
141    38.75
174    37.20
68     33.31
Name: Raw milk price, dtype: float64

#### Random Forest

##### 1. Basic test to test for suitability for remaining sections

In [43]:
#Random forest(basic features, randomized state, squared error scoring)
rf21 = RandomForestRegressor(criterion="absolute_error")

#Random forest, 500 estimators, 20 samples to split a node, min 5 samples at
#leaf nodes, squared error scoring, non-random state set
rf22 = RandomForestRegressor(n_estimators=500, min_samples_split=20, 
                             min_samples_leaf=5, n_jobs=-1, 
                             criterion="absolute_error", random_state=22122)

#Random forest, 1000 estimators, squared error scoring, non-random state set
rf23 = RandomForestRegressor(n_estimators=1000, n_jobs=-1,
                            criterion="absolute_error", random_state=22122)

##### Cross-validation tests (accuracy and mean average error)

In [46]:
(np.mean(cross_val_score(rf21, X2, y2, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf21, X2, y2, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   1.6s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.6s remaining:    0.0s

[CV] END .................................................... total time=   1.0s
[CV] END .................................................... total time=   1.0s
[CV] END .................................................... total time=   1.0s
[CV] END .................................................... total time=   1.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    5.7s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.7s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.7s remaining:    0.0s

[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   1.0s
[CV] END .................................................... total time=   0.9s
[CV] END .................................................... total time=   0.9s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    4.2s finished

(-0.02740591114193087, -4.008099879546213)

In [47]:
(np.mean(cross_val_score(rf22, X2, y2, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf22, X2, y2, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   2.3s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.3s remaining:    0.0s

[CV] END .................................................... total time=   2.3s
[CV] END .................................................... total time=   2.3s
[CV] END .................................................... total time=   2.2s
[CV] END .................................................... total time=   2.3s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   11.5s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   2.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.2s remaining:    0.0s

[CV] END .................................................... total time=   2.2s
[CV] END .................................................... total time=   2.1s
[CV] END .................................................... total time=   1.5s
[CV] END .................................................... total time=   1.5s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    9.5s finished

(0.12053912203964903, -3.6897142114781403)

In [48]:
(np.mean(cross_val_score(rf23, X2, y2, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf23, X2, y2, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   4.2s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.2s remaining:    0.0s

[CV] END .................................................... total time=   4.2s
[CV] END .................................................... total time=   4.3s
[CV] END .................................................... total time=   4.3s
[CV] END .................................................... total time=   4.9s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   21.9s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   4.1s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.1s remaining:    0.0s

[CV] END .................................................... total time=   4.3s
[CV] END .................................................... total time=   4.3s
[CV] END .................................................... total time=   4.3s
[CV] END .................................................... total time=   4.3s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   21.3s finished

(0.007808658041367722, -3.9039427363863495)

In [52]:
rf21.fit(X2_train, y2_train)
y21 = rf21.predict(X2_test)

In [53]:
y21

array([30.75534072, 31.8243    , 32.52289691, 34.3424    , 35.8764    ,
       37.1562    , 32.38785   , 39.6336    , 39.77564691, 38.7936    ,
       34.07064691, 36.922     , 35.9444    , 32.97884072, 34.4404    ,
       31.5293    , 32.3065    , 36.0591    , 35.75618763, 34.0924    ,
       33.8683    , 32.7704    , 37.8796    , 33.7226    , 31.7246    ,
       32.3197    , 34.9943    , 38.87      , 31.1943    , 34.3137    ,
       28.2884    , 30.3271    , 39.45444691, 32.68775   , 32.73285   ,
       35.1264567 , 28.4047    , 31.0911    , 29.9584    , 33.64709381,
       36.276     , 27.74155   , 36.6248    , 36.3817    , 36.7413    ])

In [57]:
mean_absolute_error(y2_test, y21)

2.9341535969302623

In [60]:
rf21.score(X2_test, y2_test)

0.3989811905507652

In [ ]:
rf2.fit(X_train, y_train)
y2 = rf2.predict(X_test)

In [ ]:
y2

array([33.09226, 32.61903, 34.30065, 34.29917, 37.25723, 36.69729,
       31.83883, 35.47793, 31.7087 , 33.44176, 34.88732, 32.31794,
       35.42382, 32.24653, 31.8682 , 32.66066, 37.77001, 34.95742,
       35.20645, 35.7047 , 37.72055, 31.72545, 32.93658, 33.64466])

In [ ]:
mean_absolute_error(y_test, y2)

2.9999199999999733

In [ ]:
rf3.fit(X_train, y_train)
y3 = rf3.predict(X_test)

In [ ]:
y3

array([32.71772 , 32.21856 , 35.143655, 34.973405, 37.96083 , 36.71873 ,
       31.11904 , 34.94118 , 31.21576 , 33.60151 , 34.65927 , 31.330905,
       34.53934 , 30.48466 , 30.94582 , 31.2412  , 38.21911 , 33.91221 ,
       35.824785, 36.482805, 41.60696 , 29.47778 , 34.03515 , 37.134435])

In [ ]:
mean_absolute_error(y_test, y3)

2.1407187500000098

In [ ]:
rf4 = clone(rf3)

In [ ]:
#Create Random Feature elimination for above model
selector1 = RFECV(rf4, cv=5, step=1, n_jobs=-1, verbose=2, min_features_to_select=7)

#Fit all data
selector1.fit(X, y)

Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.

RFECV(cv=5,
      estimator=RandomForestRegressor(criterion='absolute_error',
                                      n_estimators=1000, n_jobs=-1,
                                      random_state=22122),
      min_features_to_select=7, n_jobs=-1, verbose=2)

In [ ]:
selector1.ranking_

array([2, 1, 6, 1, 4, 5, 1, 1, 1, 3, 1, 1, 7])

In [ ]:
X.columns

Index(['Butter', 'Calf nuts value', 'Cheese', 'Dairy meal value',
       'Dairy nuts value', 'Domestic milk intake', 'Fat content (Percent)',
       'Imported milk intake', 'Maize meal value', 'Skimmed milk sales',
       'Skimmed milk powder', 'Whole milk sales', 'Month'],
      dtype='object')

In [ ]:
rankings = selector1.ranking_
columns_to_choose = [X.columns[i] for i in range(len(X.columns)) if rankings[i] == 1]
rfe_rfX = X[columns_to_choose]
rfe_rfX_train = X_train[columns_to_choose]
rfe_rfX_test = X_test[columns_to_choose]

In [ ]:
columns_to_choose

['Calf nuts value',
 'Dairy meal value',
 'Fat content (Percent)',
 'Imported milk intake',
 'Maize meal value',
 'Skimmed milk powder',
 'Whole milk sales']

In [ ]:
(np.mean(cross_val_score(rf4, rfe_rfX, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf4, rfe_rfX, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.4s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.4s remaining:    0.0s

[CV] END .................................................... total time=   0.4s
[CV] END .................................................... total time=   0.4s
[CV] END .................................................... total time=   0.7s
[CV] END .................................................... total time=   0.4s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    2.7s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END .................................................... total time=   0.6s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s

[CV] END .................................................... total time=   0.6s
[CV] END .................................................... total time=   0.4s
[CV] END .................................................... total time=   0.4s
[CV] END .................................................... total time=   0.4s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    2.7s finished

(-0.549049869391234, -4.076352097368378)

In [ ]:
rf4.fit(rfe_rfX_train, y_train)
y4 = rf4.predict(rfe_rfX_test)

In [ ]:
y4

array([32.60927 , 31.18014 , 35.145035, 35.31445 , 40.13027 , 36.878245,
       31.97339 , 35.773065, 31.13415 , 33.11691 , 34.86476 , 30.73545 ,
       34.28409 , 31.29424 , 30.42335 , 30.27531 , 37.989285, 33.75604 ,
       36.09614 , 37.02593 , 41.199515, 29.25163 , 34.35284 , 37.46068 ])

In [ ]:
mean_absolute_error(y4, y_test)

1.9280364583333707

In [ ]:
n_estimators = [i for i in range(100, 1001, 100)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [i for i in range(10, 101, 10)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 3, 4, 5, 7, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Criterion to select scoring
criterion = ["absolute_error", "squared_error", "gini"]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap,
               'criterion': criterion}

In [ ]:
rf = RandomForestRegressor(random_state=22122,
                           n_jobs=-1)

gs_random = GridSearchCV(estimator = rf, param_grid = random_grid,
                               scoring="neg_mean_absolute_error",
                               n_jobs=-1, cv=KFold(5), return_train_score=True,
                               verbose=4)

gs_random.fit(X, y)

Fitting 5 folds for each of 23760 candidates, totalling 118800 fits

KeyboardInterrupt:

In [ ]:
rf_best = clone(gs_random.best_estimator_)

##### Cross validation (both accuracy and absolute error)

In [ ]:
(np.mean(cross_val_score(rf_best, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf_best, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

###### Fit

In [ ]:
rf_best.fit(X_train, y_train)
ybrf = rf4.predict(X_test)

###### Results

In [ ]:
ybrf

###### Absolute error

In [ ]:
mean_absolute_error(ybrf, y_test)

##### 4. Best model from 3 with RFE applied

##### Apply RFE (with cross-validation)

In [ ]:
#Clone best performing model of previous section
rf_best2 = clone(rf_best)

#Create Random Feature elimination for above model
selector = RFECV(rf_best2, cv=5, step=1, n_jobs=-1, verbose=2, min_features_to_select=len(X.columns) // 2)

#Fit all data
selector.fit(X, y)

In [ ]:
selector.ranking_

In [ ]:
X.columns

##### Define model with new data

In [ ]:
rankings = selector.ranking_
columns_to_choose = [X.columns[i] for i in range(len(X.columns)) if rankings[i] == 1]
rfe_rfX_best = X[columns_to_choose]
rfe_rfX_best_train = X_train[columns_to_choose]
rfe_rfX_best_test = X_test[columns_to_choose]

##### Cross validation (both accuracy and absolute error)

In [ ]:
(np.mean(cross_val_score(rf_best2, rfe_rfX, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(rf_best2, rfe_rfX, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

###### Fit

In [ ]:
rf_best2.fit(rfe_rfX_best_train, y_train)
ybrf2 = rf4.predict(rfe_rfX_best_test)

###### Results

In [ ]:
ybrf2

###### Absolute error

In [ ]:
mean_absolute_error(ybrf2, y_test)

### K-Nearest Neighbour Regression

### 1. Basic test models with all features

In [ ]:
#KNeighbors Regressor, default parameters
knn1 = KNeighborsRegressor(n_jobs=-1)

#KNeighbors Regressor, estimates from 10 nearest neighbours, each leaf has 10
#samples
knn2 = KNeighborsRegressor(n_neighbors=10, leaf_size=50, n_jobs=-1)

#KNeighbors Regressor, estimates from 10 nearest neighbours
knn3 = KNeighborsRegressor(n_neighbors=20, n_jobs=-1)

#### Cross validation tests (both accuracy and average error)

In [ ]:
(np.mean(cross_val_score(knn1, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn1, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.7s finished

(0.9180921608506607, -368.379723482743)

In [ ]:
(np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished

(0.9247140939410677, -350.91984476224167)

In [ ]:
(np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn2, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s
[CV] END .................................................... total time=   0.1s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished

(0.9247140939410677, -350.91984476224167)

#### KNeighbors Regressor 1

###### Fit

In [ ]:
knn1.fit(X_train, y_train)
yk1 = knn1.predict(X_test)

###### Results

In [ ]:
yk1

array([4944.2,  692.8, 2102.6, 3167.2, 3299.8, 5318. , 6853.8,  668.6,
       1491. , 4594.8, 7215. , 6197.6, 4340.8, 4506. , 5739.2, 1372.8,
       1601.6,  571. , 3981.2, 1243.4, 6257. , 4437.2,  686.2, 5202.8,
       2200. , 6881.8,  550.4, 5128.2, 5024.4, 4883.8, 6692. , 5513.4,
       2963.8, 6775.8, 5420.2, 6517.4, 4489. , 1334.8, 3688.4, 1923.4,
       4225.4, 5793.6, 2972.6, 1856.8, 5006.2, 3305.6,  933.4, 2379.2,
       6778.8, 6631.6, 5943. , 6861.8, 4980. , 4766.2, 6220.2, 5546.2,
       5636.2,  691. , 1980.6, 1650.2, 1595.2, 4388.4, 5740.6, 4904.6,
       6417.4, 5408.6, 3682.8,  601.4, 5088.4, 2728.8, 3186.2, 5343.8,
        493.2,  673.2, 3244. , 3715.4, 1555.8, 4296.6, 1588.2, 3071.8,
       6630.8, 3454.2, 1852.8, 6622.2, 1722. , 5907.2, 5768.8, 1785.6,
       2684.2, 6338.6, 4792. , 2179. , 2830.6, 4069.2, 5125.4, 6479.8,
       6954.4, 3680.8, 3090. , 4081.4, 2904.6, 2272.2, 1492. , 3108.8,
       6630.6, 6145.4, 6076.6, 6489. , 2804.6, 5221.6, 6508. , 4055.8,
       1637.2, 5191.2, 1585.2, 5756.8, 1298. , 5878.8, 4733.2, 5209. ,
       3561.2, 3689.4, 5534.2, 1500.4, 5897.4, 3588. , 3896.6, 2066.4,
       1757.2, 6214.4, 6780.4, 3001. , 2516.2,  702.2, 2894. , 4914.4,
       2898. , 3626.8, 2816.4,  685.2, 7336.2,  701.6, 5332.6, 1566.2,
       2904.6, 4695. , 6839.2, 1270. , 4089.8, 1571.4, 2821.6, 3900. ,
       6985.2, 2425.4, 3104.2, 6259.6, 6035.6, 2080.4, 6080.2, 6327.4,
       7150.8, 7129.2, 6572.2, 6819.8,  666.6, 5812.2, 4127.8, 3247.2,
       1964. , 3805.6, 2793. , 6151.8, 6108.2, 7461.8,  880.6, 6968.4,
       3022. , 5517.8, 2648.6, 4138.2, 4168.2,  836.4, 5443.2, 3555.6,
        639.2, 1751.6, 5395.8,  630.4, 1530.6, 2860.2, 5749.2, 5495.4,
       4056.4, 4615.4,  486.8, 5908.8, 5228.6, 2681.6, 3949.4, 2116. ,
       6793.6, 5545.4, 3761.4, 5946.8, 3060.2, 1705.8, 5081.6, 1521. ,
       2152.2, 1494.2, 5952.4, 3863.8, 1650. , 4052.6, 6184.6,  529.6,
       2530.4, 3683.2, 7094.8, 4378.4, 5667.6, 4017. , 2806.8, 6685.8,
        944.6, 1537.8, 5212.8, 4204.4, 5838.2, 4904.8, 3915. , 2667. ,
       2039.4, 4706.4, 3326.6, 2649.8, 4510.8, 3001.8, 5383.2,  617.8,
       4830.4, 2026.8, 7066.8, 3617.4, 4335.2, 5275.8,  649.8, 2817.6,
       2726.4, 6002.8, 2425.6, 3304.6, 2607. , 5564.6, 3324.6, 6453.6,
       4319.4, 4812.2, 5238.6, 5700.8, 1137. , 1615.8, 1741.8, 4569.2,
       4721.4, 1569.4, 6196.6, 5451.2, 6577.2, 4466.8, 5604.6, 2479.4,
       2520. , 5389.6, 1863.6,  699. , 2617.4, 6514.4, 3696.6, 2696.8,
       1523.4, 5371.6, 4713.6, 2714.2, 1890.6, 3827. , 4231.2, 5367.4,
       1224.6, 6191.8, 6390. , 3387.8, 3900.2,  286.6,  713. , 5697.6,
       2893. , 1207. , 3335.6, 5799. , 2214. , 3583.4, 4973.2, 1245.2,
       7457. ,  400.4,  619.8, 5733.2,  827.2, 5681.2, 3128. , 3662.8,
       4947.8, 2808. , 4417. , 5919. , 2953. , 6376.6, 5127.4, 5753.6,
       1442.4, 1826.6, 3946.4,  774.8, 6016.6, 6370.8,  383.2, 2056. ,
        679.8, 1815.6, 1148.2, 3487.8, 2777.4, 5837.6, 1999. ,  473.8,
       6188. ,  647.8, 6143.2, 4110.6, 1594. , 2382.6, 2346.6, 1441.8,
       5221.6, 3460.8, 3559.2, 2738.2,  396.8, 6406.2, 6963.8, 3534. ,
       6363.6, 3942.2, 5215.4, 4809.2, 6423.4,  925.2, 4682.4, 5388.8,
       5853.2, 2408. , 2410. , 5975.2, 4025.2, 1535.2,  313.8, 4561.4,
       5680.8,  930.4, 4968.6, 5459.4, 3999. , 6123.8, 6134.8, 2636.2,
       5980. , 1338.2, 5314.8, 5985.8, 4295. , 2714. , 4008.2, 1593.8,
       3716.6, 1530.4, 1944.2, 1561.6, 5573.6, 3805.8, 6110. , 3160.4,
       4571.6,  681.8, 6065.2, 4532. , 6529.2, 4068.6, 3588. , 2725. ,
       6853. , 1584.6, 5742.2, 5734. , 5067.4, 2122. , 4545.2, 3951. ,
       4422.4, 6981.6,  704.2, 6203.4, 6378.2, 2836.6, 4111.2, 3625. ,
       5208. , 1270.8, 2609.4, 5390.2, 6489. , 4453.4, 2821.6, 2200.6,
       1625. , 6263. , 5405.8, 4891.8, 5004.4,  563. , 1926.6,  451.8,
       5016.6, 5302. ,  601.2, 4227.2, 7329.4, 6839.2, 6399.6, 3124.6,
       5976.2, 5976. , 3291. , 1437.2, 4400.4, 5049.2, 1928.4,  652. ,
       2276. , 2267.8, 1339.2, 1458. , 4570.8, 3949.2, 5296.6,  562.2,
       4152.2, 6091.2, 4019.6, 5498. , 1188.6, 3210.6, 6820. , 5467.2,
       3994.6, 2515. , 5616. , 6515.4,  369.4, 5766.2,  417.6, 1718.4,
       2321.4, 4313. , 3501.6, 2745.8, 6429.2, 5941.8, 4200.8, 1748. ,
       5006.8, 1749. , 4934.2, 1905.4,  711.6, 2606.4,  684.8, 6710.6,
       6116.4, 4839.4, 2082.2, 5927.2, 1633.6,  648.4, 2491.6, 5125.6,
       4327.6,  436.6, 5256. , 6704.8,  678.4, 5393.8, 2784. , 6145. ,
       5423.6,  696.8, 2193.6, 5846.8, 4949.6, 6595.6, 6426.4, 7207.4,
       5274.8,  692.2, 1173.6, 1659.8, 4398.8, 5089.8, 2843.4, 2972.4,
       2012.4, 5286.4, 5022.8,  368.4,  500.6, 3997.8, 5648.8, 1973.8,
       3906.8, 6231.8, 2825.6, 5747.8, 6051.4, 3665.8, 1583.8,  457.6,
       4623. , 6713.2, 2319.6, 4579.8, 5900.8, 2100.4, 5274.4, 5355.4,
       5636.4, 3847.8, 5683.6, 6350.8, 1222.2, 6622. , 6279. , 2949.2,
       2091.4, 3741. , 1331.2, 2328.2, 3938.4,  699.4, 3610. , 5990.6,
       1769.8, 4081.4, 4265.2, 6765.8, 5498.4, 3156.2, 5617.6, 6405.2,
       5242.6, 5796. , 3965.2, 1947.4,  724. , 4150.4, 5720.2, 1489. ,
       3973.2, 4265. , 1608.4, 2032. , 4954.2, 1408.8, 6015. , 3798.2,
       5968.2, 2782.8, 6646.2, 6148.4, 6337. , 3604.4, 4995.2, 5262. ,
       5752.6, 3668.2, 6310.2,  645.4,  396.4, 4899.2, 7145. , 7006.2,
       3796.6, 1480.6, 6043.8, 3708.2, 1429.8, 6005.4, 6682.2, 3884.4,
       6365. ,  412.6, 3561.8, 6698.4, 1980.8, 2667. , 5268.6, 2138. ,
       5316.2, 1431.2, 4071.6, 5723.8, 1661.4, 5391. , 4442.2, 6082. ,
       7233.8, 6952.4, 4890.8, 4363.8, 4497.2, 4354. , 4896.8, 4071.4,
       4068.6, 2845.8, 5426.2, 4699. , 1584.2, 2522.2, 3885.6, 5145. ,
       5395.6, 1763. , 1423.8, 6795.2, 4692. , 3601.6, 5199.2, 5503.6,
       2928.8, 5602.8, 4798.2, 2109.8, 2619.8, 5256.8, 4231.4, 2116. ,
       4699.4, 1257.2, 4223.4, 7195.4, 6616.6, 1589.8, 2539.4, 5363.4,
       2350.2, 6697.6, 5828. , 1594.6, 2914.6, 6237. , 5003.2, 4282. ,
       6231.2, 1536.6, 3224.4, 4433.4, 6375.6, 4084.2, 7049.4, 4050.6,
       2620.4, 3820.6, 5347.8, 6040.6, 1571.8, 1475. , 5884. , 7409.6,
       3536.4, 3733.4, 1559.4, 6299.2, 1023. , 2401. , 4797.2, 6464.8,
       2384.8, 2845.8,  669.8, 5105.8, 1704.4, 6886.8, 5515.4, 5331.2,
       3845.4, 5986.6, 5307.8,  757. , 4897.4,  687.8, 6146.6, 6391. ,
       5446.8, 6898.2, 3962. , 5165.2, 6408.2, 7029.6, 6589.8, 2611.6,
       1969.2, 4145.6, 2606.2, 6992.6, 5116.4, 4741.4, 7261. , 2767.6,
       7016.8, 5293.6, 5353.4, 3513.8, 1675.4, 2869. , 3000.6, 5341.2,
        553.4, 5415. , 6152.2, 5307.4, 5791.8, 2519.4, 2138. , 6352.2,
       5453.8, 3353.4, 6823.4, 3690.2, 5199.8, 2188.4, 4458.8, 5107.6,
       4073. , 5511. , 4099.6, 5864.6, 2119.2,  312.4, 4374.6, 5137.8,
       2288.2, 3006. , 3647.6, 5366. ,  681.8, 5288. , 5662.6, 5102.4,
       3290.8, 6807.6, 4459.6,  698.2, 2412.2, 5315.8, 6112.4, 4976.6,
       4381.2, 5461.2,  335.8,  866.2, 5068.6, 6532.4, 1372. , 3706.2,
       2045.6, 6167.4, 5897.4, 1650.4, 4206.2, 2590.4, 4267.6, 6369. ,
       5221.6, 6797.4, 2838.2, 4458. , 3968.6, 5744.2, 5048.6, 5171.8,
       1555.2, 5378.4, 4017.6,  692.2, 3305.2, 5594. , 5399.4, 4395.8,
       5602.2,  698.6, 1441.4, 1314.2, 4934.4, 5870.4, 1884. , 1361.4,
       6574.4, 2526.6, 1570.4, 1764.4, 2778. , 1474. , 2317.8, 2933.6,
       5394.4, 3621.8, 3210.6, 5375.8, 1587.2, 3198.6, 4545.6, 4158.4,
       1914.8, 5453.8, 4365. ,  689.2, 4636.6, 5662.2, 3600.4,  341.4,
       2733.6, 2698.2, 4381.4, 1300.6, 4264.6, 3880. , 2684.2, 6168.4,
       3173.4, 2457.2, 6622.8, 4708.6, 5837.2, 4146. , 4182. , 5550.8,
       1798.6, 4017.6, 3734.8, 4100.2, 2689.8,  666.8, 2197.6, 2889. ,
       2870.2, 6081.4, 5435.4, 1875. , 2512.2, 2916.8,  644.8, 3953.2,
        378.4, 5777.8, 2893.8,  662.6, 6979.2, 6527.4,  701.6, 5270.2,
       3805. , 5461.4, 2594.2, 4699.8, 1541.4, 1425. , 1616.8, 6091. ,
       1735.6, 3911.6, 4004.4, 6453.8, 2686.8, 2533.4, 4762. , 6105. ,
       1011. , 3715.2, 1551. , 3613.4, 3092.6, 5021. , 5318.6, 1915.6,
       7300.6, 2217. , 5130.6, 4319.2, 2025.2, 4054.4, 3807.2, 2698.6,
       2375.8, 5636.2, 1730.2, 4916.2, 5977.4, 1309.4, 2205.8, 4550.2,
       1523.4, 3580.8, 4413.8, 2884.4, 6534.4, 1426.8,  278.2, 5352.8,
       6967.6, 5684.4,  383.4, 3148.4, 5347. , 1888.6, 4814.2, 5251.6,
       6654.8, 4914.8, 1448. , 5165.4, 4660.6, 1599.8, 5733.2, 3787.2,
       1581.8,  887.4, 1394.4, 3480.8, 4645.6, 1599.2, 5409.2, 3397.4,
       6666.8, 6619. ,  700.4, 2860.2, 5304. ,  868.2, 5686.8, 6037.8,
       6145.8, 6742.6, 6479. ])

###### Absolute error

In [ ]:
mean_absolute_error(yk1, y_test)

311.5599169262721

#### KNeighbors Regressor 2

###### Fit

In [ ]:
knn2.fit(X_train, y_train)
yk2 = knn2.predict(X_test)

###### Results

In [ ]:
yk2

array([4911.3,  690.3, 2109.4, 3204.6, 3353.4, 5688.3, 6481.2,  692.5,
       1533.9, 4616.5, 7034.2, 5783.6, 4442.9, 4831.4, 5801.3, 1341.8,
       1566.8,  576.4, 4167.7, 1325.5, 6277.8, 4377.6,  669.8, 5185.4,
       2063.1, 6811.3,  592.6, 5090.9, 5224.2, 5037.7, 6529.5, 5418.8,
       3002. , 6761.3, 5423.6, 6033.8, 4664.3, 1322.8, 3648.3, 1907. ,
       4281.4, 5391.1, 2823.7, 1798.8, 5044.9, 3241.6,  864.5, 2440.8,
       6385.3, 6340. , 6213.1, 6885.7, 5334.2, 4661.3, 5971.5, 5202. ,
       5381.2,  668.2, 1906.9, 1575.3, 1601.4, 4173.6, 5617.6, 4949.6,
       6412.9, 5451.4, 3615.6,  575.6, 5138.3, 2750.7, 3124. , 5390.1,
        436. ,  688.7, 3199.6, 3832. , 1567.3, 4376.6, 1530.8, 3396. ,
       6644.2, 3470.2, 1930.1, 6505.5, 1789.8, 5910.8, 5534.3, 1813.4,
       2694.5, 6161.2, 4858.6, 2307.6, 2791.4, 4184.7, 4945.7, 6347.7,
       6942.9, 3862.2, 2836.6, 3897.4, 2968.4, 2194.8, 1522.8, 3066.3,
       6534.1, 5708.3, 5353.6, 6218.7, 2856.6, 5272. , 5964.3, 4004.4,
       1606.1, 5271.6, 1615.9, 5902.2, 1326.7, 5969.2, 4766.2, 5260.7,
       3653.5, 3802. , 5319.9, 1547.9, 6038.6, 3680.8, 4029. , 2170.9,
       1922.3, 6239.7, 6906.2, 3414.2, 2526.8,  701. , 2834.5, 4521.9,
       2758.5, 3704.1, 2821.7,  685.6, 7163.6,  701.2, 4886.1, 1606.5,
       2902.9, 4561.9, 6743.5, 1204.2, 4143.4, 1544.4, 2752.5, 3842.4,
       6835. , 2513.2, 3263.9, 6202.5, 6126.7, 2066.8, 6451.2, 6504.2,
       7200.6, 6809.6, 6567.5, 6504.2,  677.7, 5969.3, 4235.2, 3378.2,
       1969.7, 3697.8, 2757.3, 6244.4, 5710.3, 7264.6,  982.3, 7120.6,
       2931.2, 5493.2, 2667.3, 4005.4, 4100.6,  888.7, 5886.6, 3686.2,
        636.9, 1723.5, 5256.4,  645.1, 1587.2, 2819.6, 5822.7, 5475.8,
       4120.9, 4522.5,  507.8, 5595.8, 5750. , 2647.2, 3910.1, 2090.6,
       6566.5, 5487.4, 3963.9, 5756. , 3060. , 1612.2, 5641.9, 1552.2,
       2148.8, 1451.7, 5641.1, 3843.8, 1600.3, 3966.4, 6196.5,  522.4,
       2499.8, 3675. , 7135. , 4605.4, 5492.9, 4151.4, 2840.2, 6476. ,
        941.3, 1526. , 5127.6, 4369. , 6060.7, 4799.8, 4009.3, 2549.5,
       2067.9, 4854.9, 3034.9, 2780.8, 4235.2, 3110.6, 5403.6,  572.6,
       4580.4, 2055.4, 7035.1, 3623.3, 4017.5, 5483.7,  661. , 2828. ,
       2738.5, 6161.8, 2657.6, 3509.5, 2680.3, 5325.1, 3205.4, 6627.5,
       4471.8, 5142.9, 5261.7, 5743.2, 1242.5, 1584.5, 1756.8, 5021.7,
       4518.6, 1587.8, 6004.3, 5635.3, 6598.7, 4338.2, 5757.9, 2476.4,
       2426.2, 5412.5, 1954.7,  700.4, 2653.6, 6364.4, 3706. , 2753. ,
       1617.9, 5546.8, 4836.3, 2706.5, 1804.4, 3898.3, 4250.8, 5688.7,
       1261.2, 6137.7, 6634.8, 3462.5, 3882. ,  305.3,  709.7, 5718.1,
       2955.3, 1268.9, 3460.1, 5730.2, 2393.6, 3691.3, 4777. , 1262.3,
       7283.3,  502.1,  630.8, 5700.7,  843.1, 5554.8, 3294.3, 3770.4,
       5160.8, 2733.9, 4246.7, 5747.4, 2914.9, 6235.9, 5274.1, 5766.4,
       1384.7, 1559.6, 3917.4,  758.2, 5980.7, 6199.8,  395.6, 2168.2,
        686.5, 1940.2, 1315. , 3575.7, 2795.8, 5766. , 2148. ,  507.8,
       6028.1,  662.9, 6226. , 4006.7, 1587.2, 2393.9, 2377.4, 1498.7,
       5511.4, 3445.6, 3638.7, 2736.1,  498.4, 6515. , 6737.4, 3629.6,
       6547.1, 4195.8, 4949.8, 4930.1, 6204.6,  983.8, 4610. , 5335.9,
       5436.2, 2448.5, 2538.5, 5965.1, 3782.8, 1459.4,  350.5, 4840.3,
       5748.9,  911. , 4811.3, 5304. , 4102. , 6177.4, 5773.3, 2524.1,
       6095.7, 1346.1, 5469.3, 5990.4, 4218.8, 2736.7, 4030.8, 1650.1,
       4086.2, 1597.6, 1976.4, 1559.1, 5622. , 3786.7, 5902.8, 3207.8,
       4379.8,  678.8, 5896.9, 4886.5, 6516.2, 4068.6, 3984.1, 2720.6,
       6889.8, 1696.2, 5762.4, 5652.5, 5260.9, 2116.9, 4396.1, 4263.2,
       4409.7, 6786.6,  699.3, 6019.2, 6369.5, 2872. , 4078.3, 3610.6,
       5183. , 1342. , 2731.1, 5185.4, 6539. , 4847.4, 2802.2, 2296.7,
       1649.6, 5890.7, 5546.3, 5142. , 5104.6,  572.2, 2078.3,  444.7,
       5108.6, 5553.9,  597. , 4134.6, 7130.1, 6943.5, 6116.1, 2961.4,
       5726.7, 6131.7, 3062.4, 1485.6, 4739.1, 5372.6, 2039.8,  634.1,
       2282.2, 2292.4, 1360.7, 1496.5, 4929.3, 4040.2, 5160.4,  546. ,
       3887.6, 5737.7, 4189.3, 5617.9,  954.1, 3243.8, 6881.5, 5776. ,
       3722.5, 2500. , 5397.9, 6218.7,  359.4, 5320.2,  424.8, 1724.5,
       2399.9, 4152.8, 3310.7, 2750.4, 6567.2, 6029.7, 4218. , 1687.6,
       4742.6, 1648.5, 4986.5, 2069.4,  698.7, 2517.1,  689.7, 6513.1,
       6202.6, 4890.9, 2056.2, 5766.4, 1597.6,  661.7, 2693.5, 5300.6,
       4354.9,  437.6, 5321.2, 7001.8,  669. , 5480.2, 2788.1, 6029.5,
       5463.5,  700.6, 2136.9, 5750.4, 5023.3, 6805.3, 6416.4, 6719.5,
       5352.9,  681. , 1271.8, 1593.2, 4434. , 5158.6, 2804.5, 2933.2,
       1980.6, 5418.3, 5095. ,  343.7,  567.8, 3958.7, 5713.9, 2045.6,
       3846.3, 6119.1, 2799.5, 5808.1, 6134.1, 3600. , 1581.1,  460.8,
       4619.5, 6427.9, 2359.8, 4776.9, 5478.8, 2130.6, 5184.1, 5208.3,
       5359.7, 3973.1, 6395.4, 6248.9, 1207.1, 6745.1, 6518.2, 2883.2,
       1990.3, 3781.1, 1325.1, 2319.5, 3819. ,  699.4, 3466.3, 5853.3,
       1779.1, 4117.1, 4356.2, 6639.3, 5088.2, 3358.7, 5854.9, 6281.4,
       5207.7, 6131.9, 4004.7, 1777.1,  688.6, 4243. , 5595.2, 1581.1,
       4062.8, 4290.6, 1552.2, 2062.5, 5031.9, 1330.5, 6248.2, 3771.6,
       6160.5, 2733.2, 6725.3, 6010.3, 6498.3, 3543.9, 4981.3, 5390.2,
       5481.1, 3627.3, 6286.3,  656.5,  414. , 4987.1, 7072.6, 7014.7,
       3978.7, 1521.7, 5813.8, 3950.1, 1455.4, 5913.3, 6741.9, 3837.3,
       6383.5,  424.5, 3709.9, 6667.2, 1952.5, 2686.5, 5523.9, 2244.3,
       5440.8, 1517.5, 4228.2, 5574.6, 1605.9, 5460.4, 4549.8, 6143.8,
       7245.8, 6943.5, 4795.9, 4444.7, 4687.2, 4442.4, 4889.7, 3845.2,
       3804.6, 2735.4, 5467.9, 4954.7, 1574.5, 2388.8, 3726.8, 5101.9,
       5486.3, 1751.2, 1207.1, 6489.6, 4473.2, 3358.4, 4846.4, 5355.5,
       2837.9, 5661.4, 4960.6, 2114. , 2559.6, 5489.9, 4200.9, 2213. ,
       4621.4, 1211.9, 4368.3, 7126.8, 6749.4, 1584. , 2633.5, 5103.4,
       2489.9, 6829.3, 5482.4, 1649.4, 2813.3, 6270.5, 4994.3, 4342.3,
       5868.5, 1688.6, 3117.7, 4496.3, 6380.9, 4043.3, 7165.1, 3919. ,
       2650.1, 3825.4, 5124.4, 5733.1, 1550. , 1525.9, 5892. , 7250.1,
       3575.9, 3833.5, 1560.5, 6173.5, 1000.5, 2504. , 4679.5, 6537.9,
       2478.1, 2854.1,  648.3, 5265.9, 1731.5, 7048.2, 5578.3, 5278.6,
       3670.5, 5864.4, 5396.8,  761.3, 4981.8,  668.2, 6328.9, 6405.8,
       5721.2, 6781.6, 3750. , 5009.5, 6306.9, 6838.6, 6480.9, 2681.8,
       1879.9, 4437.6, 2744.9, 6887.2, 5106.5, 4726.6, 7099.1, 2584.3,
       7001.7, 5200.1, 5369.4, 3557.1, 1731.5, 2875.9, 2720.7, 5393.8,
        545.5, 5994.8, 6190.2, 5357.5, 5526.9, 2597.7, 1892.9, 6523.1,
       5515.1, 3532.3, 6659.6, 3700.7, 5089.8, 2128.2, 4270.5, 5114.9,
       4086.2, 5516.4, 4134.3, 5680.4, 2122.2,  311.4, 4344.8, 5134.9,
       2254.1, 3043.1, 3796.4, 5371.5,  663.6, 6049.7, 5363.4, 5164.3,
       3514. , 6678.3, 4420. ,  699.3, 2413.3, 5618.1, 6203.4, 4823.5,
       4195.1, 5631.2,  387.9,  826.7, 5027.4, 6516. , 1225.9, 3449.9,
       2043.7, 6289.8, 5689. , 1702.5, 4120.6, 2668.9, 4024.4, 6744.4,
       5273.5, 6399.3, 2835.3, 4440.5, 3895.2, 5840.7, 5704.3, 4847.4,
       1563.4, 5371.8, 3873.1,  698.9, 3098.9, 5598.1, 5175.9, 4472.8,
       5686.3,  702.1, 1250.2, 1293.4, 5477.2, 5988.9, 1984. , 1415.3,
       6659.2, 2554.2, 1593.6, 1772.7, 2719.8, 1542.7, 2377.9, 3022.9,
       5776.6, 3861.8, 3423.8, 5034.4, 1573.3, 3092.2, 4479.5, 4123.3,
       1885.6, 5537.3, 4186.6,  630.8, 4549.6, 5234.1, 3608.3,  369.5,
       2751.8, 2815.8, 4308.1, 1250.2, 4190.2, 3929.9, 2408.3, 5910.2,
       3108.1, 2633.3, 6609.4, 4616.3, 5546.1, 3993.1, 4110.2, 6065.2,
       1763.1, 3847.2, 3644.5, 3990.2, 2690. ,  648.4, 2311.2, 2767.3,
       2696.3, 6159.3, 5457.7, 2134.8, 2572.2, 2931.2,  572.6, 3814.2,
        345.8, 5509.8, 2968.4,  654.2, 6767.4, 6537.1,  715.3, 5551.4,
       3857.3, 5597.4, 2598.5, 4393.4, 1567.3, 1444.7, 1579.3, 6120.2,
       1963.4, 3840.7, 4247.7, 6603.1, 2706.3, 2575.4, 5264.9, 6322.7,
       1169.8, 3635.4, 1543.8, 3567.3, 3406.9, 5111.7, 5354.8, 1797. ,
       7099.5, 2308.6, 5069.1, 4360.5, 1853. , 4076. , 3772.3, 2774.3,
       2410.8, 5298.4, 1769.7, 4914.4, 6411.8, 1351.4, 2381.2, 4719.9,
       1573.5, 3584.4, 4542.4, 2836.2, 6507.2, 1494.4,  291.5, 4923.5,
       6590.5, 5648.3,  384.9, 3165.3, 5342.4, 2048.6, 4962.3, 5368.2,
       6552.4, 4587.6, 1498.7, 5213.6, 4757.8, 1547.2, 5632.1, 3801.4,
       1594.5,  898.4, 1356.3, 4314.7, 4784.9, 1595.1, 5546.3, 3485.4,
       6594.2, 6560. ,  645.2, 2707.9, 5220.2,  874.5, 5418.3, 6065.4,
       6082.4, 6952.5, 6176.2])

###### Absolute error

In [ ]:
mean_absolute_error(yk2, y_test)

306.98068535825547

#### KNeighbors Regressor 3

###### Fit

In [ ]:
knn3.fit(X_train, y_train)
yk3 = knn3.predict(X_test)

###### Results

In [ ]:
yk3

array([5178.35,  671.2 , 2075.75, 3040.35, 3402.15, 5539.  , 6439.  ,
        695.  , 1582.65, 4600.4 , 6848.95, 5727.  , 4457.8 , 5088.  ,
       5802.15, 1346.95, 1609.3 ,  564.35, 3972.7 , 1377.5 , 6279.7 ,
       4416.5 ,  672.25, 4971.  , 2106.4 , 6635.3 ,  618.8 , 5276.05,
       5253.9 , 4903.1 , 6425.75, 5540.15, 3189.4 , 7008.85, 5453.65,
       6225.15, 4547.2 , 1299.75, 3713.2 , 1892.3 , 4417.6 , 5407.35,
       2832.45, 1828.4 , 5349.6 , 3239.25,  837.  , 2510.1 , 6577.15,
       6403.35, 6375.6 , 6727.4 , 5129.35, 4661.15, 5929.3 , 5308.25,
       5312.05,  650.15, 1946.55, 1590.2 , 1579.95, 4108.4 , 5538.15,
       5082.85, 6339.55, 5742.15, 3711.95,  581.65, 5494.15, 2754.1 ,
       3134.75, 5558.25,  426.95,  691.4 , 3416.95, 3764.4 , 1573.25,
       4191.2 , 1524.55, 4070.9 , 6717.9 , 3486.5 , 2012.3 , 6337.1 ,
       1777.05, 5811.55, 5448.25, 1946.1 , 2704.1 , 6256.5 , 4760.8 ,
       2287.4 , 2717.2 , 4048.3 , 4512.7 , 6378.55, 6944.5 , 3864.6 ,
       2861.1 , 3840.9 , 2864.6 , 2286.65, 1561.8 , 3123.25, 6516.8 ,
       5900.55, 5611.7 , 6091.  , 2803.1 , 5343.5 , 6510.9 , 4147.95,
       1631.25, 5204.95, 1686.45, 6135.35, 1367.75, 6027.  , 4354.1 ,
       4992.75, 3671.55, 3710.65, 5233.85, 1537.15, 6124.95, 3879.05,
       4023.  , 2167.75, 1875.95, 6056.7 , 6909.2 , 3604.8 , 2660.75,
        692.85, 2820.15, 4483.4 , 2825.15, 3669.  , 2815.  ,  687.6 ,
       6840.35,  692.7 , 4729.35, 1577.  , 2837.3 , 4557.2 , 6791.  ,
       1255.65, 4215.4 , 1506.3 , 2833.55, 3864.8 , 6671.4 , 2591.45,
       3264.8 , 6201.  , 5942.9 , 2007.35, 6561.45, 6492.7 , 7264.7 ,
       6803.1 , 6365.85, 6692.6 ,  673.  , 6085.1 , 4229.6 , 3619.15,
       1888.55, 3633.05, 2756.25, 6176.5 , 5912.2 , 6871.65, 1007.8 ,
       6948.5 , 3008.95, 5615.45, 2664.15, 3970.45, 4061.3 , 1084.75,
       6075.15, 3663.6 ,  653.1 , 1901.55, 5260.3 ,  623.45, 1611.15,
       2845.05, 5715.35, 5314.65, 4114.35, 4410.35,  510.1 , 5660.  ,
       5585.15, 2588.55, 3859.7 , 2136.1 , 6279.55, 5513.75, 3929.6 ,
       5782.3 , 3045.85, 1700.95, 5860.95, 1713.55, 2313.8 , 1450.15,
       5681.45, 4042.2 , 1576.9 , 4058.4 , 6328.8 ,  524.15, 2564.55,
       3698.65, 6941.15, 4731.5 , 5562.8 , 4100.55, 2792.25, 6440.  ,
        950.  , 1538.05, 5204.05, 4220.  , 6101.3 , 4743.75, 4218.65,
       2510.65, 2050.05, 4590.7 , 2932.55, 2741.  , 4250.9 , 2927.25,
       5479.1 ,  653.55, 4562.35, 2040.35, 7044.35, 3714.15, 4095.45,
       5824.05,  649.85, 2783.25, 2740.65, 6172.05, 2581.  , 3753.7 ,
       2669.25, 5663.95, 3165.75, 6614.35, 4720.75, 4761.5 , 5085.9 ,
       6018.45, 1214.7 , 1603.1 , 1829.35, 5158.3 , 4471.8 , 1583.85,
       5981.45, 5697.7 , 6535.55, 4092.05, 5576.45, 2437.85, 2523.55,
       5336.3 , 1884.95,  697.7 , 2696.95, 6502.  , 3685.45, 2713.9 ,
       1586.9 , 5266.75, 4785.55, 2708.65, 1852.15, 3695.15, 4258.8 ,
       5549.1 , 1318.15, 6180.35, 6887.7 , 3499.45, 3934.45,  331.65,
        689.45, 5425.7 , 2897.8 , 1216.8 , 3436.85, 5696.05, 2587.45,
       3632.25, 4768.7 , 1307.2 , 6949.55,  493.95,  574.15, 5856.5 ,
        810.05, 5506.75, 3372.35, 3773.35, 5373.45, 2855.05, 4138.3 ,
       5715.45, 2907.7 , 6034.65, 5260.6 , 6084.85, 1422.55, 1574.85,
       4042.05,  785.35, 6025.8 , 6230.65,  416.7 , 2160.65,  674.45,
       1937.75, 1285.6 , 3478.15, 2764.3 , 5771.85, 2104.8 ,  510.1 ,
       6079.05,  676.3 , 6304.5 , 4036.75, 1586.05, 2465.5 , 2393.95,
       1593.2 , 5541.  , 3491.1 , 3700.45, 2647.55,  429.05, 6278.9 ,
       6508.3 , 3718.7 , 6644.45, 4225.7 , 4986.35, 5048.9 , 5774.75,
        963.1 , 4722.85, 5470.5 , 5647.4 , 2522.6 , 2590.  , 5880.85,
       3722.1 , 1453.65,  377.4 , 4911.65, 5515.1 ,  909.4 , 4765.2 ,
       5231.95, 3938.55, 6007.2 , 6077.1 , 2613.8 , 5993.75, 1317.55,
       5403.75, 6370.25, 4409.9 , 2703.45, 3975.9 , 1660.3 , 4225.6 ,
       1519.6 , 1912.9 , 1530.1 , 5447.9 , 3810.05, 5551.95, 3170.4 ,
       4457.3 ,  678.3 , 5757.65, 5150.2 , 6533.45, 4028.8 , 3776.2 ,
       2651.95, 6957.15, 1718.95, 5598.95, 5587.85, 4987.75, 2106.4 ,
       4537.  , 4189.8 , 4483.45, 6864.1 ,  705.  , 5990.6 , 6048.35,
       2878.95, 3971.4 , 3588.85, 5198.25, 1330.25, 2717.15, 5210.25,
       6507.9 , 4770.4 , 2804.1 , 2323.55, 1706.15, 5977.8 , 5198.4 ,
       4948.3 , 4809.8 ,  549.15, 2082.6 ,  462.6 , 5168.85, 5547.  ,
        593.8 , 4130.95, 7003.35, 6848.9 , 5952.55, 2959.45, 5613.05,
       6033.  , 2957.05, 1471.55, 5275.8 , 5203.8 , 2024.  ,  614.1 ,
       2234.5 , 2276.15, 1376.3 , 1497.25, 5201.85, 4049.45, 5115.15,
        569.6 , 3958.7 , 5855.05, 4211.3 , 5575.05,  854.65, 3405.7 ,
       6712.65, 5797.3 , 3819.75, 2588.8 , 5431.6 , 6158.05,  371.5 ,
       5133.95,  479.8 , 1698.25, 2327.05, 4114.8 , 3467.9 , 2709.95,
       6612.05, 6239.5 , 4144.  , 1744.8 , 4905.  , 1687.05, 5030.  ,
       2100.85,  693.75, 2777.5 ,  688.55, 6580.1 , 6287.25, 4993.05,
       2168.8 , 5712.55, 1633.65,  674.05, 2675.6 , 5522.6 , 4230.75,
        455.35, 5258.95, 7026.25,  672.35, 5717.65, 2819.6 , 6052.4 ,
       5077.45,  696.1 , 2132.4 , 5686.1 , 4869.05, 6547.55, 6438.  ,
       6839.5 , 5238.05,  675.4 , 1306.9 , 1610.15, 4309.65, 5318.3 ,
       2783.35, 2667.65, 2091.45, 5227.35, 5053.35,  357.35,  596.65,
       3965.8 , 5909.1 , 2050.1 , 4052.3 , 5802.05, 2671.5 , 5611.25,
       6368.45, 3738.25, 1587.15,  435.45, 4602.25, 6715.85, 2455.7 ,
       4864.9 , 5375.15, 2031.85, 5206.35, 5403.85, 5283.2 , 4106.75,
       6594.35, 6398.65, 1208.95, 6880.  , 6460.45, 2922.45, 1866.25,
       3834.05, 1238.9 , 2382.95, 3878.05,  701.  , 3559.9 , 5827.95,
       1768.  , 4387.95, 4501.05, 6705.5 , 5258.5 , 3610.95, 5960.75,
       6224.2 , 5116.95, 6123.25, 4007.25, 1787.15,  704.85, 4293.05,
       5679.65, 1555.4 , 3951.8 , 4275.9 , 1540.4 , 2105.6 , 5187.25,
       1462.8 , 6058.9 , 3696.  , 6158.65, 2755.1 , 6611.15, 5902.7 ,
       6440.2 , 3660.9 , 4771.65, 5509.35, 5576.1 , 3694.25, 6179.95,
        641.1 ,  417.65, 4909.7 , 7100.6 , 6718.45, 3992.35, 1526.4 ,
       5449.9 , 3872.45, 1604.65, 5535.55, 6541.75, 3863.6 , 6510.15,
        459.6 , 3801.35, 6581.35, 1894.05, 2711.4 , 5599.75, 2240.85,
       5265.85, 1547.05, 4205.  , 5566.25, 1541.55, 5611.75, 4331.15,
       6020.75, 6882.9 , 6803.25, 4784.55, 4340.55, 4802.95, 4284.1 ,
       5003.35, 3800.15, 3809.15, 2827.95, 5365.  , 5104.5 , 1538.9 ,
       2351.6 , 3778.55, 5227.7 , 5642.05, 1842.6 , 1185.3 , 6534.05,
       4587.6 , 3227.3 , 4928.3 , 5515.9 , 2908.35, 5568.4 , 5174.85,
       2116.25, 2784.25, 5674.75, 4236.  , 2307.75, 4863.15, 1168.85,
       4239.3 , 7018.15, 6687.5 , 1599.4 , 2750.  , 5067.15, 2635.5 ,
       6844.2 , 5295.6 , 1627.3 , 2793.45, 6484.75, 5043.55, 4409.05,
       5946.  , 1780.65, 3098.6 , 4594.5 , 6571.95, 4113.5 , 7023.6 ,
       3942.25, 2713.05, 3811.25, 5122.9 , 5624.45, 1479.85, 1800.7 ,
       5917.1 , 7236.45, 3565.65, 3786.9 , 1576.6 , 6317.9 , 1054.85,
       2387.55, 4629.9 , 6656.75, 2404.  , 2659.2 ,  653.9 , 5267.  ,
       1850.05, 6973.6 , 5455.9 , 5650.65, 3624.5 , 5788.65, 5389.35,
        760.9 , 4962.95,  676.95, 6320.1 , 6276.05, 5781.  , 6827.9 ,
       3757.9 , 4906.75, 6513.4 , 6689.3 , 6332.8 , 2568.2 , 1984.85,
       4478.95, 2767.15, 6896.5 , 5112.5 , 4793.95, 6796.3 , 2625.25,
       6902.85, 5110.3 , 5136.8 , 3637.85, 1830.75, 2879.15, 2739.55,
       5120.7 ,  566.7 , 6157.9 , 6241.2 , 5234.7 , 5682.75, 2538.2 ,
       1871.4 , 6643.1 , 5742.75, 3440.7 , 6542.15, 3772.6 , 4971.95,
       2047.8 , 4025.55, 5080.85, 4362.35, 5370.05, 4134.85, 5744.95,
       2105.55,  313.55, 4307.95, 5018.55, 2147.75, 2942.35, 3807.1 ,
       5484.25,  680.95, 6222.  , 5411.75, 5269.55, 3530.3 , 6370.4 ,
       4296.05,  700.6 , 2420.85, 5675.9 , 6207.55, 5032.85, 4288.35,
       5559.95,  403.7 ,  830.75, 4950.55, 6521.  , 1190.45, 3301.65,
       1926.8 , 5753.35, 5740.2 , 1639.9 , 4058.6 , 2719.55, 3943.45,
       6876.2 , 5542.5 , 6524.45, 2764.7 , 4420.7 , 3868.4 , 5931.45,
       5857.15, 5253.05, 1569.25, 5323.9 , 3919.95,  683.55, 3186.85,
       5592.8 , 5315.7 , 4367.95, 5696.4 ,  691.75, 1243.35, 1313.25,
       5477.05, 6019.4 , 2070.  , 1742.35, 6522.4 , 2699.25, 1673.9 ,
       1879.85, 2819.25, 1614.25, 2231.8 , 3153.75, 6002.75, 3749.  ,
       3438.85, 5192.1 , 1654.3 , 3251.35, 4417.15, 4316.05, 1862.15,
       5497.25, 4252.  ,  655.75, 4638.95, 5196.95, 3668.35,  360.6 ,
       2747.1 , 2831.8 , 4236.  , 1299.6 , 4133.3 , 3806.35, 2563.8 ,
       5931.35, 3036.3 , 2654.5 , 6482.25, 4543.95, 5711.8 , 4058.75,
       4159.35, 6467.9 , 1966.05, 3831.35, 3709.9 , 3982.6 , 2777.9 ,
        612.6 , 2342.35, 2697.6 , 2813.5 , 6205.2 , 5294.9 , 2024.55,
       2618.9 , 2795.4 ,  680.4 , 3818.2 ,  349.2 , 5636.7 , 2901.45,
        650.35, 6844.55, 6486.55,  692.25, 5617.65, 3757.85, 5549.85,
       2709.45, 4406.15, 1559.85, 1443.65, 1586.8 , 6252.05, 1949.7 ,
       3922.45, 4128.75, 6601.05, 2632.75, 2539.15, 4881.35, 6224.  ,
       1285.35, 3572.05, 1582.1 , 3601.1 , 3505.4 , 5167.55, 5235.55,
       1803.55, 7146.9 , 2320.15, 5187.55, 4230.25, 1833.7 , 4053.  ,
       3811.3 , 2748.2 , 2390.05, 5089.7 , 1665.85, 4978.15, 5980.4 ,
       1406.2 , 2478.95, 4754.45, 1627.2 , 3617.65, 4123.3 , 2767.25,
       6592.9 , 1491.6 ,  318.95, 4979.9 , 6621.7 , 5739.8 ,  378.4 ,
       3284.05, 5232.5 , 2123.35, 5161.4 , 5274.95, 6670.85, 4539.  ,
       1463.45, 5238.35, 5052.1 , 1475.7 , 5652.25, 3878.1 , 1584.35,
        873.  , 1363.85, 4555.  , 4616.2 , 1575.7 , 5383.95, 3548.8 ,
       6509.55, 6574.55,  645.25, 2724.25, 5307.1 ,  845.85, 5454.5 ,
       6160.75, 6163.45, 6759.95, 5873.05])

###### Absolute error

In [ ]:
mean_absolute_error(yk3, y_test)

301.3296469366563

### GridSearchCV

##### Parameter grid

In [ ]:
# Loss
weights = ["uniform", "distance"]
# Number of estimators
n_neighbours = [1, 2, 5, 7, 10, 14, 15, 20]
# Criterion for measuring quality of split
p = [1, 2]
# Minimum number of samples required to split a node
leaf_size = [i for i in range(10, 50, 10)]
# Create the random grid
knn_grid = {'weights': weights,
            'n_neighbors': n_neighbours,
            'p': p,
            'leaf_size': leaf_size}

##### GridSearchCV algorithm

In [ ]:
knn = KNeighborsRegressor(n_jobs=-1)

knn_gs = GridSearchCV(estimator = knn, param_grid = knn_grid,
                      scoring="neg_mean_absolute_error",
                      n_jobs=-1, cv=KFold(5), return_train_score=True,
                      verbose=4)

knn_gs.fit(X, y)

Fitting 5 folds for each of 128 candidates, totalling 640 fits

GridSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
             estimator=KNeighborsRegressor(n_jobs=-1), n_jobs=-1,
             param_grid={'leaf_size': [10, 20, 30, 40],
                         'n_neighbors': [1, 2, 5, 7, 10, 14, 15, 20],
                         'p': [1, 2], 'weights': ['uniform', 'distance']},
             return_train_score=True, scoring='neg_mean_absolute_error',
             verbose=4)

In [ ]:
knn_gs.best_estimator_.get_params()

{'algorithm': 'auto',
 'leaf_size': 10,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': -1,
 'n_neighbors': 20,
 'p': 1,
 'weights': 'distance'}

### 2. Best model

##### Defining best model

In [ ]:
knn_best = KNeighborsRegressor(algorithm='auto', leaf_size=10, 
                               metric='minkowski', metric_params=None, 
                               n_jobs=-1, p=1, weights='distance')

##### Cross validation (both accuracy and absolute error)

In [ ]:
(np.mean(cross_val_score(knn_best, X, y, cv=KFold(5), verbose=2)),
 np.mean(cross_val_score(knn_best, X, y, cv=KFold(5), verbose=2, scoring="neg_mean_absolute_error")))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s
[CV] END .................................................... total time=   0.2s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.9s finished

(0.9238901692717343, -346.3115188195462)

###### Fit

In [ ]:
knn_best.fit(X_train, y_train)
ybknn = knn_best.predict(X_test)

###### Results

In [ ]:
ybknn

array([5376.44979017,  701.87257425, 2153.51084861, 3161.75779251,
       3334.66238808, 5343.21560057, 6250.23689914,  675.00320328,
       1496.26840723, 4304.83403693, 7140.27682663, 6200.1926661 ,
       4648.13800993, 4554.63431667, 5539.92262326, 1399.84225884,
       1617.86121026,  566.03552037, 4162.23938629, 1222.5059959 ,
       6269.71984667, 4490.68095016,  677.91166079, 5336.6500824 ,
       2445.38607356, 6905.20173927,  340.86180087, 5109.01010211,
       5327.22182454, 5154.64671932, 6346.03993582, 5515.24103973,
       2917.13351733, 6677.33379093, 5613.70154255, 6525.10301698,
       4291.19712643, 1249.52236649, 3666.96027792, 1849.03001107,
       4271.46528147, 5655.68225431, 2615.0679525 , 1847.7436953 ,
       5142.28434374, 3187.04836719,  947.55259071, 2242.50985428,
       6777.34732875, 6197.96978902, 6440.72152239, 6774.8255985 ,
       5023.9617116 , 4913.9856626 , 6130.83415221, 5559.73018772,
       5446.7599344 ,  694.9110202 , 1975.98957356, 1654.19028643,
       1595.94984724, 4408.83485135, 5746.30430972, 4832.92292496,
       6574.49863889, 5364.07807291, 3642.66936796,  631.71810248,
       5080.65931921, 2774.82259914, 3114.14333999, 5451.74587038,
        466.44552131,  672.52697174, 3180.04586093, 3819.14022139,
       1556.61662891, 4586.46176245, 1535.53138251, 3907.9414682 ,
       6594.37006629, 3414.36977333, 1867.66239486, 6118.15931986,
       1778.23547884, 5967.38916165, 5267.27247974, 1905.41866338,
       2664.77066211, 6328.64256361, 4639.49742236, 2506.78601539,
       2734.69496586, 4062.14980937, 5140.53949152, 6418.40183073,
       6824.0508081 , 3730.64352329, 3049.09109884, 4045.19723015,
       2864.30485484, 2215.26689767, 1511.94076585, 3039.81634083,
       6736.1636257 , 6144.72021514, 5840.12591519, 6410.16356977,
       2847.42162846, 5223.34628242, 6318.44126551, 4038.7324115 ,
       1639.43737488, 5130.62296033, 1725.66906083, 5522.36991262,
       1248.80323184, 6096.41156872, 4716.00189234, 5230.71083091,
       3549.55876197, 3642.03547262, 5458.44326924, 1504.50752699,
       6481.54115578, 3898.83961121, 4188.68011222, 2137.10527138,
       1806.02175296, 6247.73748676, 7004.06857521, 3155.78349532,
       2640.6659546 ,  713.54887426, 2918.92874795, 4922.72647534,
       2844.47901662, 3658.67635901, 2805.77619207,  665.31335391,
       7274.13824426,  704.09012987, 5295.76815725, 1609.34989362,
       2884.76850972, 4793.32247275, 6752.59311624, 1266.37565853,
       4081.79966221, 1539.10716362, 2829.77262068, 3935.6502757 ,
       7006.05177786, 2407.66978832, 3264.71799177, 6134.15192133,
       5740.31102458, 2124.70903945, 6125.09384746, 6488.14249462,
       7095.78924016, 7028.53723305, 6591.20138601, 6873.6633491 ,
        664.36622809, 5568.1142249 , 4079.82336312, 3283.41660381,
       1874.26226319, 3665.79033626, 2777.84924476, 6117.4161643 ,
       6104.98283903, 7254.16354344,  813.66748912, 6939.1755427 ,
       2981.89274992, 5713.172487  , 2646.67348919, 3938.67294829,
       4162.04615138,  922.07674277, 5567.26369829, 3613.34220602,
        638.38906908, 1442.33918189, 5162.68202665,  647.37285052,
       1652.33170212, 2871.05380811, 5788.25210573, 5556.09588887,
       4115.94211746, 4518.94850633,  490.45803863, 5878.56160619,
       5309.04317367, 2593.77615668, 3721.98802143, 2137.57783885,
       6762.84832993, 5493.77381317, 3582.69476335, 6141.12553451,
       3062.03056303, 1581.8146273 , 5452.40700916, 1471.84935588,
       2302.95444973, 1486.50768953, 5536.63898987, 3823.76591602,
       1563.41365703, 4090.49745945, 6355.39535467,  462.33950994,
       2517.84870352, 3500.27737846, 7074.09865403, 4658.84568289,
       5558.73998735, 4051.5792291 , 2816.13553393, 6524.90619611,
        934.36970103, 1568.79023946, 5127.62518794, 4242.65751312,
       5585.70091093, 4370.4665829 , 4007.01296933, 2662.35551022,
       2034.25348095, 4671.53421722, 3061.9827221 , 2804.11548085,
       4259.80250422, 3000.07950036, 5453.86961515,  557.90364232,
       4543.98923058, 2001.47353049, 7149.321804  , 3642.87545159,
       4375.41073569, 5462.04836386,  649.51553217, 2819.12866115,
       2706.14304425, 6143.93071373, 2331.21371741, 3267.58607559,
       2589.61368383, 5495.82519391, 3365.5948326 , 6505.2938362 ,
       4203.4427382 , 4907.96504459, 5361.42371496, 5775.45901187,
       1152.36001907, 1574.25286375, 1777.03747061, 5453.43868092,
       4613.87182593, 1569.79513801, 5984.64961692, 5466.68440526,
       6589.67827286, 4493.40004487, 5719.34577864, 2607.00832999,
       2497.38210149, 5443.40738331, 1951.71627307,  698.37725053,
       2618.01812367, 6482.308807  , 3602.03859062, 2734.0083009 ,
       1494.15730896, 5344.76943602, 4581.96854734, 2694.7659687 ,
       1836.13885355, 3786.67796669, 4278.12774795, 5822.18678913,
       1241.05916162, 6190.20762181, 7227.75284871, 3373.88487332,
       3826.59290742,  277.90983189,  704.21916776, 5423.05690534,
       2908.54506285, 1192.98703551, 3236.14445693, 5567.0130539 ,
       2226.95540301, 3746.99403548, 5060.0046403 , 1310.69188482,
       7266.89871644,  380.95221249,  580.39641595, 6086.30480516,
        827.99736068, 5656.32812658, 3111.42001643, 3664.10775349,
       4879.13309681, 2867.08668828, 4392.70271041, 5766.2545785 ,
       3038.5277197 , 6261.20558655, 4976.64688587, 5483.65545131,
       1442.95386765, 1747.32489352, 4131.65008974,  529.61390753,
       6043.11213103, 6057.57516951,  381.53439899, 2183.43042064,
        695.08068175, 1685.82549424, 1242.65730129, 3608.8800987 ,
       2790.90630883, 5847.77394309, 2034.96507386,  472.89038988,
       6300.63014516,  653.0925907 , 6165.08631689, 4271.9761216 ,
       1596.32583839, 2336.92850204, 2360.06498636, 1468.73312904,
       5365.07527491, 3499.47642761, 3681.40178933, 2729.39934302,
        278.05619053, 6409.17645661, 6838.12481662, 3523.81074779,
       6744.45929374, 4300.3101502 , 5224.2514115 , 4807.04416295,
       6416.54096299,  933.04185046, 4557.86469554, 5462.7865712 ,
       6053.44522287, 2451.91018867, 2561.85912745, 5911.73186828,
       3810.08158711, 1561.30715823,  303.57368914, 4558.90562993,
       5709.87338436,  922.35217855, 4778.50905111, 5344.08073363,
       4024.63914634, 6495.25404561, 6070.23603517, 2573.08280075,
       5993.79897386, 1323.19537738, 5199.21479655, 6138.84282025,
       4309.1838734 , 2712.5084841 , 3920.50427808, 1570.80969471,
       3768.42941567, 1533.17073046, 1990.24903201, 1572.49352965,
       5605.90861641, 3820.62758651, 5899.7281806 , 3156.75490976,
       4635.75158008,  678.45907025, 6188.00613672, 4408.38194465,
       6394.49748696, 4135.96235822, 3782.49281126, 2728.49018302,
       7107.13378411, 1595.53536122, 5747.56819517, 5789.2744382 ,
       5099.76846393, 2245.50850055, 4593.94521227, 4292.10793687,
       4347.06546074, 6731.05659765,  704.50214168, 6154.55859125,
       6295.83925872, 2759.98367805, 4110.33227454, 3735.07127521,
       5124.40881349, 1266.34934978, 2635.0055865 , 4957.47806311,
       6629.76690253, 4657.0472937 , 2814.27688949, 2254.64493639,
       1646.88074613, 6440.85071125, 5546.6336787 , 4779.72227977,
       5026.06830284,  547.63801319, 1936.46420387,  471.4419989 ,
       5108.49682804, 5232.11973724,  515.39314485, 4581.80742174,
       7046.67986447, 6897.28894984, 6065.85995924, 2886.73466095,
       5772.64135385, 6090.33944172, 3186.52619847, 1431.24821436,
       4098.05068303, 5185.34645751, 1929.65249824,  648.57075051,
       2252.27063209, 2097.54711243, 1330.16167942, 1459.29554088,
       4555.34767807, 3937.60158378, 5020.65503123,  518.1533105 ,
       4155.71115601, 5912.95362097, 4079.49073501, 5402.62900186,
        808.09182568, 3326.74061812, 6758.05102536, 5645.13025897,
       3849.32649808, 2358.63531555, 5317.13764522, 6423.41805079,
        353.05318741, 5345.53226415,  430.77871944, 1728.85299194,
       2266.29238738, 4378.67686434, 3384.63123118, 2740.5720803 ,
       6601.3509936 , 6161.11605535, 4109.56447312, 1805.33705751,
       5002.19286507, 1789.49040814, 5186.3692823 , 1896.27301519,
        719.02080337, 2702.98968806,  680.06141962, 6716.43707978,
       6270.2575868 , 4840.22193135, 2012.83773984, 6031.86036178,
       1406.76765819,  670.77264467, 2482.27994455, 5047.60199024,
       4556.82183657,  435.82355913, 5385.06792606, 7066.69232335,
        677.78422587, 5137.11409248, 2774.51102854, 6128.4995014 ,
       5421.64504657,  695.32144352, 2173.40350036, 5712.38261072,
       4930.11045312, 6636.76323242, 6423.08707873, 7241.5751857 ,
       5645.81969554,  684.6231724 , 1222.47674661, 1657.81859466,
       4327.03153518, 5049.27927069, 2744.46036867, 3003.39977011,
       2033.38146052, 5258.23496653, 5110.37300216,  353.89531091,
        487.23872891, 3987.62052029, 6035.09533994, 1875.38772314,
       4125.59919353, 6248.23045474, 2948.90933258, 5721.69735225,
       6284.57176378, 3536.13800804, 1598.73463164,  475.49331655,
       4739.70650625, 6804.03540633, 2522.40404292, 4936.76295553,
       5853.24280439, 2103.05184619, 5212.72134185, 5166.30819166,
       5464.93481089, 3844.98267953, 6438.93105345, 6105.97508291,
       1249.71175345, 6777.91999432, 6279.59567687, 2956.90987293,
       2134.9039728 , 3419.27072489, 1320.70335484, 2500.43249751,
       3864.07505085,  698.46171301, 3527.33938317, 6225.21080828,
       1827.93282435, 3995.88818874, 4045.28323823, 6991.75840069,
       5661.10866409, 3017.01183272, 6190.5153355 , 6467.95443348,
       5254.50812396, 6250.17084348, 3920.30113215, 1852.84724752,
        744.00587541, 4138.15343894, 5702.59449835, 1478.66351611,
       3980.40716632, 4330.11070542, 1551.8578681 , 2069.01131071,
       5634.66421223, 1352.06287669, 6016.98791684, 3658.84285886,
       6594.67783453, 2769.53059246, 6658.5283951 , 6173.21192083,
       6204.25350044, 3452.98311768, 5171.34315652, 5365.52498004,
       5358.81339504, 3651.79249998, 6208.81384145,  652.49762792,
        419.7856133 , 4854.22409055, 7196.47163099, 6943.81917336,
       3818.36393263, 1547.09518412, 5954.30654037, 3822.74191602,
       1486.91257803, 6063.67100197, 6643.52040675, 3649.80806681,
       6312.08406039,  432.9512487 , 3493.8362302 , 6810.7852659 ,
       2009.23725808, 2678.28013276, 5645.62207521, 2175.7950534 ,
       5224.05050095, 1363.76695954, 4217.19878993, 5655.92774414,
       1650.68913773, 5352.58476918, 4463.47178522, 6123.57841374,
       6951.50796686, 6918.49466462, 5025.74941307, 4313.10535192,
       4820.7493008 , 4332.9137198 , 4867.68660311, 3926.70392026,
       3895.39997097, 2902.60047585, 5576.54987843, 4676.72828448,
       1576.43913023, 2287.31136949, 3799.4282446 , 5160.85500707,
       5289.66873607, 1902.68320694, 1287.05299899, 6838.76515936,
       4588.67888209, 3493.07653225, 5079.03703401, 5651.99202904,
       2915.32200848, 5766.15488873, 5253.53805137, 2227.18187548,
       2897.87097016, 5092.31518094, 4283.81639784, 2321.4489926 ,
       4646.33941765, 1227.38222794, 4239.58228766, 7095.34356987,
       6737.31420513, 1633.85248394, 2461.47564926, 5329.26560739,
       2481.41962709, 6663.64322708, 5852.87202937, 1563.49952392,
       2921.55982436, 6269.81580745, 4815.06601412, 4335.33206952,
       6193.9145769 , 1553.13570442, 3316.44521443, 4734.17293754,
       6718.11555162, 4354.5421163 , 7232.25193333, 4009.35867845,
       2612.9805863 , 3849.39918855, 5295.96125888, 6420.85079687,
       1581.85905302, 1776.54444381, 5763.67125696, 7554.02822016,
       3622.68828756, 3550.26999257, 1540.13953059, 6224.45795728,
        718.10269085, 2555.72987658, 4615.5529985 , 6430.66778834,
       2232.89181395, 2842.28041578,  633.04924699, 5226.57809088,
       1720.10837456, 7201.67123759, 5349.91684913, 5835.98628391,
       3782.76848151, 5829.41788823, 5407.61130574,  716.63790598,
       4802.09684543,  675.49579433, 6154.17088632, 6608.50307166,
       5493.95402637, 6820.17289048, 3771.38024744, 4938.14885645,
       6370.39525802, 6879.05935569, 6559.36687042, 2610.74501178,
       2019.52154171, 4318.16829122, 2699.88804828, 7155.30527684,
       5435.99121186, 4859.76972358, 7352.36080663, 2675.00635771,
       7002.12304161, 5198.73026806, 5155.08627362, 3508.32254854,
       1669.58170501, 2870.58872891, 2922.79518256, 4995.39397177,
        543.87645866, 5389.96522477, 6359.43875629, 5298.64036025,
       5810.11734887, 2642.03159085, 2204.97381917, 6107.46799355,
       5499.6985543 , 3148.98076286, 6841.42170852, 3768.47559044,
       5212.5736245 , 2041.26583577, 4365.65260985, 4890.33856383,
       3875.18629143, 5435.76096552, 4245.41157812, 6032.30607347,
       2060.74092954,  337.87535225, 4193.43847829, 4921.98949313,
       2238.60338364, 3051.27127103, 3940.39763842, 4997.11562337,
        680.35938922, 6304.04509613, 5173.85321744, 5131.71710492,
       3682.10068842, 6793.69288136, 4220.77411727,  696.33134592,
       2405.38129831, 5107.32906798, 6103.52436639, 4837.70019518,
       4366.29261046, 5585.21483875,  385.16591342,  773.3857588 ,
       5002.71818711, 6499.77462269, 1369.19798118, 3550.94702233,
       2030.34402624, 6145.5196538 , 5686.23000057, 1661.88523187,
       4163.81739545, 2652.95193095, 4088.96732471, 7057.25603012,
       5674.36329548, 6593.97619322, 2840.19166323, 4396.3653238 ,
       4039.95240841, 5681.43358647, 5353.32598678, 5268.59252349,
       1586.13423525, 5255.44927634, 3717.47446258,  695.57219378,
       3166.9284354 , 5806.63576503, 5204.85806385, 4404.17355885,
       5602.02222014,  693.62635587, 1330.01066305, 1314.77281551,
       5063.11259304, 6316.11402814, 1935.80978594, 1504.38989295,
       6755.45176704, 2672.83965681, 1570.68859135, 1764.9274996 ,
       2901.94134045, 1591.37673024, 2383.67333076, 2947.01273475,
       5777.90030551, 3556.67789101, 3126.21868259, 5177.95677833,
       1590.91320777, 3205.43472805, 4535.98103539, 4188.81510077,
       1932.02020225, 6407.93915018, 4355.27996292,  671.79509609,
       4238.21740062, 5667.56746501, 3523.0999912 ,  336.83394895,
       2730.99684075, 2727.79848711, 4388.5013399 , 1242.91225473,
       4178.91666789, 3796.74027811, 2611.30676912, 5527.45704297,
       2972.42598176, 2714.57607176, 6486.16939303, 4329.72642868,
       5938.75280083, 4135.93591659, 4236.46819739, 6220.44906904,
       1792.83743453, 3824.58345027, 3659.16450693, 4019.86443235,
       2674.02265576,  662.32068631, 2203.15637216, 2866.81093898,
       2906.54860022, 6069.21427966, 5407.29187702, 1897.97624795,
       2535.07934976, 2923.2360004 ,  625.99756091, 3987.97119417,
        350.03220692, 5870.21518248, 2957.95760553,  651.50387017,
       7054.60912444, 6244.76069868,  702.13325063, 5286.03375674,
       3780.64157237, 5688.44243354, 2595.83168393, 4492.97471576,
       1558.2645743 , 1450.42489403, 1625.1301983 , 6033.71212787,
       1731.66385203, 3830.63752839, 4000.9072037 , 6473.82702222,
       2545.20988808, 2768.72311033, 3332.90343838, 6012.23651238,
        996.38769199, 3701.58721235, 1474.35900334, 3664.31269233,
       3067.36633288, 5071.38210487, 5325.31982105, 1555.54879295,
       7445.7505531 , 2248.57820704, 5106.56509682, 4499.35576987,
       1855.33543523, 3979.78009257, 3620.77569978, 2853.20455266,
       2433.82109702, 5636.79419687, 1844.72222888, 4922.82656006,
       6023.89394787, 1319.64725672, 2218.21862604, 4570.74624528,
       1621.94368998, 3531.89043101, 4468.13666605, 2820.99063985,
       6738.17872502, 1423.52759822,  277.82565593, 5110.92486225,
       6816.98640237, 5463.56019906,  344.27535015, 3146.82177143,
       5212.66546593, 2040.74145226, 4791.3863188 , 5257.50527478,
       6737.48885507, 4773.01246115, 1359.78457029, 5302.28561775,
       5084.46479845, 1600.54525674, 5991.32907862, 3822.63537436,
       1591.59269935,  893.37935492, 1237.61306627, 3255.9180015 ,
       4637.3119288 , 1596.64906943, 5356.59116315, 3383.7512445 ,
       6727.56579681, 6443.66432682,  688.82287524, 2860.48870019,
       5172.66062394,  858.18502143, 5675.17192781, 6056.47655732,
       6316.53361105, 6468.38338644, 6566.67257048])

###### Absolute error

In [ ]:
mean_absolute_error(ybknn, y_test)

290.824070365135